{% extends "::base.html.twig" %}


{% block content%}
<hgroup id="main-title" class="thin">
    <h1>Ajouter un type</h1>
            </hgroup>
<form action="{{ path('ajoutType')}}" method="POST">
<div class="left-column-200px margin-bottom" style="background-color:gainsboro">

                    <div class="left-column">
                        Type de delimiteur
                    </div>

                    <div class="right-column">
                        <input type="text" id="titre" value="" class="input" name="nom">
                    </div>

                </div>
<div class="left-column-200px margin-bottom" style="background-color:gainsboro">

                    <div class="left-column">
                        couleur
                    </div>

                    <div class="right-column">
                        <input type="color" id="titre" value="" class="input" name="couleur">
                    </div>

                </div>
    <button type="submit" class="button glossy mid-margin-right">
                        <span class="button-icon"><span class="icon-tick"></span></span>
                        enregistrer
                    </button>
</form>
<br><br>
 <table class="simple-table responsive-table" id="sorting-example2 center" width="800px">

                    <thead>
                        <tr>
                            <th scope="col">Titre delimiteur</th>
                            <th scope="col">couleur</th>
                            <th scope="col" width="120" class="align-right">Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                                    {% for typedelimiteur in typedelimiteurs%}
                        <tr>
                            <th scope="row">
							{{ typedelimiteur.nom }}<br>
                            </th>
                            <td style="background-color: {{typedelimiteur.couleur}}">{{ typedelimiteur.couleur }}</td>
                            <td class="align-right vertical-center">
                                <span class="button-group compact">
                                    <a onclick="openIframe({{typedelimiteur.id}});" class="button icon-pencil confirm" title="Update" ></a>

{#                                    <a href="{{ path('update', { 'id' : delimiteur.id })}}" class="button icon-pencil ">Edit</a>
#}                                    <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                                    <a href="{{ path('delete', { 'id' : typedelimiteur.id })}}" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                                </span>
                            </td>
                        </tr>
					{% endfor %}
                    </tbody>

                </table>

<script>
    function openIframe(id)
        {
        $.modal({
                title: 'Modal window',
                url : "http://localhost/monagenda/web/app_dev.php/delimiteur/updateType/"+id,
                {# content: '<form action="{{ path('editType',{'id' : id })}}" method="POST"> '
                        + ' <div class="left-column-200px margin-bottom" style="background-color:gainsboro">'
                        + ' <div class="left-column">'
                        + '  Type de delimiteur'
                        + '  </div>'
                        + '  <div class="right-column">'
                        + '  <input type="text" id="titre" value="'+nom+'" class="input" name="nom">'
                        + '  </div>'
                        + '  </div>'
                        + '  <div class="left-column-200px margin-bottom" style="background-color:gainsboro">'
                        + '<div class="left-column"> '
                        + 'couleur '
                        + '</div> '
                        + '<div class="right-column"> '
                        + '<input type="color" id="titre" value="'+couleur+'" class="input" name="couleur"> '
                        + '</div> '
                        + '</div> '
                        + '<button type="submit" class="button glossy mid-margin-right"> '
                        + '<span class="button-icon"><span class="icon-tick"></span></span> '
                        + 'enregistrer'
                        + '</button>'
                        + '</form>'#}
                buttonsAlign: 'center',
                resizable: true,
                width: 600,
                height: 600
            });
        }
</script>
{% endblock%}