{% extends "::base.html.twig" %}

{% block content%}


<form action="{{ path('editDelimiteur',{ 'id' : delimiteur.id})}}" method="POST">
    <table class="table simple-table " id="sorting-example1">
        <thead>
            <tr><th colspan="2">Gestion des delimiteurs</th></tr>

        </thead>
        <tbody>
            <tr>
        <div class="left-column-200px margin-bottom">
            <td>
                <div class="left-column">
                    choix du delimiteur
                </div>
            </td>
            <td>
                <div class="right-column">
                    <select class="" name="delimiteur" id="delimiteur" >
                            {% for typedelimiteur in typeDelimiteurs%}
                        <option value="{{typedelimiteur.id}}" style="background-color: {{typedelimiteur.couleur}}" >{{typedelimiteur.nom}}</option>
                            {% endfor %}
                    </select>
                </div>
            </td>
        </div>
    </tr><tr>
<div class="left-column-200px margin-bottom" >
    <td>
        <div class="left-column">
            titre du delimiteur
        </div>
    </td>
    <td>
        <div class="right-column">
            <input type="text" id="titre" value="{{delimiteur.titre}}" class="input" name="titre">
        </div>
    </td>
</div></tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            choix d'une plage 
        </div>
    </td><td>
        <div class="right-column">
            <select class="select">
                <option>nouvelle plage</option>
            </select>
        </div>
    </td>
</div></tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            Periodicite
        </div>
    </td><td>
        <div class="right-column">

            <input type="radio" name="type" id="type" class="radio mid-margin-left" id="button-radio-1" value="1" {% if delimiteur.periodicite.type==1 %} checked="checked" {% endif %}>
            une fois
            <br/>
            <br/>
            <br/>
            <div class="left-column-200px margin-bottom">

                <div class="left-column">
                    <input type="radio" name="type" id="type" class="radio mid-margin-left" id="button-radio-2" value="2" {% if delimiteur.periodicite.type==2 %} checked="checked" {% endif %} >
                    quotidienne
                </div>

                <div class="right-column">
                    <input type="radio" name="quotidienne" id="radio_2" value="1" class="radio"  {% if delimiteur.periodicite.typequotidient==1 %} checked="checked" {% endif %} > <label for="oui">Tous les </label>
                                <input type="text"  name="jours" {% if delimiteur.periodicite.typequotidient==1 %} value="{{delimiteur.periodicite.touslesjours}}" {% endif %}>  jour(s) <br><br>
                                <input type="radio" name="quotidienne" id="radio_2" value="2" class="radio" {% if delimiteur.periodicite.typequotidient==2 %} checked="checked" {% endif %}> <label for="oui">Tous les jours ouvrables</label><br><br>                      
                                <input type="radio" name="quotidienne" id="radio_2" value="3" class="radio" {% if delimiteur.periodicite.typequotidient==3 %} checked="checked" {% endif %}> <label for="oui">Tous les jours selectionnés :</label><br><br> 
                    <p>
                         <input class="mid-margin-left" type="checkbox" name="checked[]" id="lu" value="1" {% if delimiteur.periodicite.typequotidient==3 %} {% for i in delimiteur.periodicite.jourselectionne%} {% if i==1%} checked="checked"{% endif %}{% endfor %}{% endif %}> LU


                                    <input class="mid-margin-left" type="checkbox" name="checked[]" id="ma" value="2" {% if delimiteur.periodicite.typequotidient==3 %} {% for i in delimiteur.periodicite.jourselectionne%} {% if i==2%} checked="checked"{% endif %}{% endfor %}{% endif %}> MA


                                    <input class="mid-margin-left" type="checkbox" name="checked[]" id="me" value="3" {% if delimiteur.periodicite.typequotidient==3 %} {% for i in delimiteur.periodicite.jourselectionne%} {% if i==3%} checked="checked"{% endif %}{% endfor %}{% endif %}> ME


                                    <input class="mid-margin-left" type="checkbox" name="checked[]" id="je" value="4" {% if delimiteur.periodicite.typequotidient==3 %} {% for i in delimiteur.periodicite.jourselectionne%} {% if i==4%} checked="checked"{% endif %}{% endfor %}{% endif %}> Je


                                    <input class="mid-margin-left" type="checkbox" name="checked[]" id="ve" value="5" {% if delimiteur.periodicite.typequotidient==3 %} {% for i in delimiteur.periodicite.jourselectionne%} {% if i==5%} checked="checked"{% endif %}{% endfor %}{% endif %}> Ve


                                    <input class="mid-margin-left" type="checkbox" name="checked[]" id="sa" value="6" {% if delimiteur.periodicite.typequotidient==3 %} {% for i in delimiteur.periodicite.jourselectionne%} {% if i==6%} checked="checked"{% endif %}{% endfor %}{% endif %}> Sa

                                    <input class="mid-margin-left" type="checkbox" name="checked[]" id="di" value="7" {% if delimiteur.periodicite.typequotidient==3 %} {% for i in delimiteur.periodicite.jourselectionne%} {% if i==7%} checked="checked"{% endif %}{% endfor %}{% endif %}> Di
                    </p>
                </div>

            </div>
            <br/>
            <div class="left-column-200px margin-bottom">

                <div class="left-column">
                    <input type="radio" name="type" id="type" class="radio mid-margin-left" id="button-radio-3" value="3">
                    hebdomadaire
                </div>

                <div class="right-column">
                    Tous les <select class="select expandable-list" style="width:6em" name="hebdomadaire">
                              {% for key,value in jours %}
                                    <option  {% if delimiteur.periodicite.tousles == value %} selected='{{ value }}' value="{{ value }}" {% else %} value="{{ value }}" {% endif %}>{{key }}</option>
                              {% endfor%}
                </div>

            </div>
            <br/>



        </div>

</div>
</tr>
<tr>
<div class="left-column-200px margin-bottom" style="background-color:white">
    <td>
        <div class="left-column">
            Plage de periodicite
        </div>
    </td><td>
        <div class="right-column">
            prend effet le <span class="input">
                <span class="icon-calendar"></span>
                <input type="text" name="prendEffet" id="datetimepicker" style="width:5em" class="input-unstyled datepicker gldp-el" value="{{ delimiteur.periodicite.effet | date('d/m/Y')}}" gldp-id="gldp-9964084781">
            </span><br/>
            <br/>
            <br/>
            <div class="left-column-200px margin-bottom">

                <div class="left-column">
                    Et prend fin
                </div>

                <div class="right-column">
                    <input type="radio" name="prendFin" class="radio mid-margin-left" id="button-radio-1" value="1" {% if delimiteur.periodicite.finapresoccurence is not null %} checked="checked" {% endif %}>apres 
                                <input type="text" id="login" name="occurences" {% if delimiteur.periodicite.finapresoccurence is not null %} value="{{delimiteur.periodicite.finapresoccurence}}"  {% else %} value="0" {% endif %}style="width:2em" class="input">occurence(s)<br/><br/>
                                <input type="radio" name="prendFin" class="radio mid-margin-left" id="button-radio-2" value="2" {% if delimiteur.periodicite.finapresoccurence is null %} checked="checked" {% endif %}>
                                le<span class="input">
                                    <span class="icon-calendar"></span>
                                    <input type="text" name="dateFin" id="special-input-3" class="input-unstyled datepicker gldp-el"  gldp-id="gldp-9964084782"  value="{{ delimiteur.periodicite.end | date('d/m/Y')}}" >
                                </span>
                </div>

            </div>
        </div>
    </td>
</div>
</tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            Duree
        </div>
    </td><td>
        <div class="right-column">
            <input type="time" name="debute" value="{{ delimiteur.debute | date('H:i')}}">
            et prend fin a 
            <input type="time" name="fin" value="{{ delimiteur.fin | date('H:i')}}">
            <div id="colorSelector"><div style="background-color: rgb(74, 74, 161);"></div></div>
        </div>
    </td>
</div>
</tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            Couleur
        </div>
    </td><td>
        <div class="right-column">
            <select class="select">
                <option>Defaut</option>

            </select>&nbsp;
            <input type="color" name="couleur" class="input" id="couleur" value="{{delimiteur.periodicite.couleuralloccurence}}">
        </div>
    </td>
</div></tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            Partage
        </div>
    </td><td>
        <div class="right-column">
            <input type="radio" name="partage" class="radio mid-margin-left" id="button-radio-1" value="1" {% if delimiteur.partage == 1 %} checked="checked" {% endif %}>
            Public <br/><input type="radio" name="partage" class="radio mid-margin-left" id="button-radio-1" value="0" {% if delimiteur.partage == 0 %} checked="checked" {% endif %}>
            Privee(mention "occuppee"dans le partage du planing)
        </div>
    </td>
</div></tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            effet lors de la recherche de plages libres
        </div>
    </td><td>
        <div class="right-column">
           <input type="radio" name="blockage" class="radio mid-margin-left" id="button-radio-1" value="0" {% if delimiteur.blockage == 0%} checked="checked" {% endif %}>
           non bloquant(cette plage sera considere comme libre) <br/><input type="radio" name="blockage" class="radio mid-margin-left" id="button-radio-1" value="1" {% if delimiteur.blockage  == 1%} checked="checked" {% endif %}>
           Bloquant(cette plage sera considere comme occuppee)
        </div>
    </td>
</div></tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            Associer
        </div>
    </td><td>
        <div class="right-column">
            avec un rendez-vous    <select class="select">
                <option>aucun</option>

            </select>
        </div>
    </td>
</div></tr>
<tr>
<div class="left-column-200px margin-bottom">
    <td>
        <div class="left-column">
            plage accessible a la prise de rendez-vous par internet
        </div>
    </td><td>
        <div class="right-column">
           <input type="radio" name="accessInternet" class="radio mid-margin-left" id="button-radio-1" value="0" {% if delimiteur.accessinternet == 0%} checked="checked" {% endif %}>
           non <input type="radio" name="accessInternet" class="radio mid-margin-left" id="button-radio-1" value="1" {% if delimiteur.accessinternet == 1%} checked="checked" {% endif %}>
           oui
        </div>
    </td>
</div></tr>
<tr>
<div class="left-column-200px margin-bottom" >
    <td>
        <div class="left-column">
            Priorite
        </div>
    </td><td>
        <div class="right-column">
            <select class="select" name="priorite">
            <option value="1" {% if delimiteur.priorite == 1%} selected="true" {% endif %}>la plus haute</option>
            <option value="0" {% if delimiteur.priorite == 0%} selected="true" {% endif %}>la plus basse</option>
            </select>
        </div>
    </td>
</div></tr>
<tr>
<div class="field-block button-height">
    <td></td>
    <td>
        <button type="submit" class="button glossy mid-margin-right">
            <span class="button-icon"><span class="icon-tick"></span></span>
            enregistrer
        </button>


        <button type="reset" class="button glossy">
            <span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
            annuler
        </button>

    </td>
</div></tr>
</tbody>
</table>
</form>

<script>
    $("document").ready(function() {

        $("#delimiteur").change(function() {
            $.ajax({
                type: 'get',
                url: 'http://localhost/myagenda/web/app_dev.php/delimiteur/select/' + $(this).val(),
                beforeSend: function() {
                    console.log('me voila!!');
                },
                success: function(data) {
                    console.log('me voila3!!');

                    $("#titre").val(data.nom);
                    $("#couleur").val(data.couleur);
                    $("#delimiteur").css('background-color' , data.couleur);
                }




            });
        });

    });

</script>








{%endblock%}