{% extends "::base2.html.twig" %}


{% block content%}
<hgroup id="main-title" class="thin">
    <h1>Ajouter un type</h1>
            </hgroup>
<form action="{{ path('editType',{ 'id' : type.id })}}" method="POST">
<div class="left-column-200px margin-bottom" style="background-color:gainsboro">

                    <div class="left-column">
                        Type de delimiteur
                    </div>

                    <div class="right-column">
                        <input type="text" id="titre" value="{{ type.nom }}" class="input" name="nom">
                    </div>

                </div>
<div class="left-column-200px margin-bottom" style="background-color:gainsboro">

                    <div class="left-column">
                        couleur
                    </div>

                    <div class="right-column">
                        <input type="color" id="titre" value="{{type.couleur}}" class="input" name="couleur">
                    </div>

                </div>
    <button type="submit" class="button glossy mid-margin-right">
                        <span class="button-icon"><span class="icon-tick"></span></span>
                        enregistrer
                    </button>
</form>
{% endblock%}