{% extends '::base.html.twig' %}

{% block content%}
    <link href='{{asset('fullCalendar/fullcalendar.css')}}' rel='stylesheet' />
    <link href='{{asset('fullCalendar/fullcalendar.print.css')}}' rel='stylesheet' media='print' />
    <script src='{{asset('fullCalendar/lib/moment.min.js')}}'></script>
    <script src='{{asset('fullCalendar/lib/jquery.min.js')}}'></script>
    <script src='{{asset('fullCalendar/fullcalendar.min.js')}}'></script>
    <script src='{{asset('fullCalendar/lang-all.js')}}'></script>
    {#<script src="/shared/js/bootstrapmodal.min.js"></script>#}
   
    <p class="wrapped left-icon ">
        Choisis un type : 
    <select class="" name="delimiteur" id="delimiteur" >
                            {% for typedelimiteur in typeDelimiteurs%}
                        <option value="{{typedelimiteur.id}}" style="background-color: {{typedelimiteur.couleur}}" >{{typedelimiteur.nom}}</option>
                            {% endfor %}
                    </select>    
    </p>
      
    <script type="text/javascript">

        $(document).ready(function() {
             $("#delimiteur").change(function() {
            $.ajax({
                type: 'get',
                url: 'http://localhost/myagenda/web/app_dev.php/delimiteur/select/' + $(this).val(),
                beforeSend: function() {
                    console.log('me voila!!');
                },
                success: function(data) {
                    console.log('me voila3!!');

                   // $("#titre").val(data.nom);
                    //$("#couleur").val(data.couleur);
                    $("#delimiteur").css('background-color' , data.couleur);
                }




            });
        });

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,basicWeek,agendaDay,basicDay'
                },
                  buttonText: {
               
                basicDay: 'Basic day',
                basicWeek:'Basic Week'
            },
                minTime:'07:00',
                maxTime: '18:00',
                lang: 'fr',
                editable: true,
                defaultView :'agendaWeek',
                axisFormat : 'HH:mm',
                slotDuration :'00:05:00',
                timeFormat: {
                    agenda : 'HH:mm'
                    },

                eventLimit: true, // allow "more" link when too many events
                eventSources: [
                    {{ events|raw }},
                    {{ rdvs|raw }}     
                ],

                eventClick: //function(event, jsEvent, view) {

                    function openComplexModal(event)
                    {
                         $.ajax({
                         type: 'get',
                         url: 'http://localhost/myagenda/web/app_dev.php/delimiteur/trouve/' + event.id,
                         beforeSend: function() {
                         console.log('me voila!!');
                                                },
                         success: function(data) {
                         if(data.blockage==1){
                             $.modal({
                            content:


                                 '<strong>Titre :</strong>'+ event.title+'<br>'+
                                  '<strong>Date :</strong>'+event.start.format()


                            ,
                            title: 'Détails du Delimiteur',
                            width: 300,
                            scrolling: false,
                            actions: {
                                'fermer' : {
                                    color: 'red',
                                    click: function(win) { win.closeModal(); }
                                }
                            },
                            buttons: {
                                
                                'modifier': {
                                    classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                        
                                        document.location.href="{{ path('updateDelimiteur')}}/"+event.id;
                                                                     
                                        win.closeModal(); }
                                },
                                'annuler ce delimiteur': {
                                    classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                        
                                       document.location.href="{{ path('delete')}}/"+event.id;
                                        $('#calendar').fullCalendar('removeEvents', event.id);
                                        win.closeModal(); }
                                }
                                
                                 
                            },
                            buttonsLowPadding: true
                        });
                         
        }
        else {
        $.modal({
                            content:


                                 '<strong>Titre :</strong>'+ event.title+'<br>'+
                                  '<strong>Date :</strong>'+event.start.format()


                            ,
                            title: 'Détails du Delimiteur',
                            width: 300,
                            scrolling: false,
                            actions: {
                                'fermer' : {
                                    color: 'red',
                                    click: function(win) { win.closeModal(); }
                                }
                            },
                            buttons: {
                                
                                'modifier': {
                                    classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                        
                                        document.location.href="{{ path('updateDelimiteur')}}/"+event.id;
                                                                     
                                        win.closeModal(); }
                                },
                                'ajouter RDV': {
                                    classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                        
                                        document.location.href="{{ path('startEnd')}}/"+event.start.format('DD-MM-YYYY')+"/"+event.start.format('HH:mm')+"/"+event.end.format('HH:mm');
                                                                     
                                        win.closeModal(); }
                                },    
                                'annuler ce delimiteur': {
                                    classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                        
                                       document.location.href="{{ path('delete')}}/"+event.id;
                                        $('#calendar').fullCalendar('removeEvents', event.id);
                                        win.closeModal(); }
                                }
                                
                                 
                            },
                            buttonsLowPadding: true
                        });
        }                 
                                                 }
                                             });
                        
                    },



                selectable: true,
                selectHelper: true,
                select: function(start, end) {
//                    var title = prompt('Event Title:');
//                    var eventData;
//                    if (title) {
//                        eventData = {
//                            title: title,
//                            start: start,
//                            end: end
//                        };
//                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
//                    }
                    $.modal({
                        content:'<strong>Start:</strong>'+start.format('DD-MM-YYYY HH:mm')+'<br>'
                               +'<strong>End:</strong>'+end.format('DD-MM-YYYY HH:mm')
//                        '<strong>Titre :</strong>'+ start.title+'<br>'+
//                        '<strong>Date :</strong>'+event.start.format()


                        ,
                        title: 'Détails du Delimiteur',
                        width: 300,
                        scrolling: false,
                        actions: {
                            'fermer' : {
                                color: 'red',
                                click: function(win) { win.closeModal(); }
                            }
                        },
                        buttons: {
                            'Nouveau rendez-Vous': {
                                classes:	' blue-gradient glossy ',
                                click:		function(win) {
                                    document.location.href="{{ path('startEnd')}}/"+start.format('DD-MM-YYYY')+"/"+start.format('HH:mm')+"/"+end.format('HH:mm');
                                    win.closeModal(); }
                            },
                             'Nouveau Delimiteur avancée': {
                                classes:	' blue-gradient glossy ',
                                 click:		function(win) {
                                    document.location.href = "{{ path('ajoutDelimiteurCalendar')}}/"+start.format('DD-MM-YYYY')+"/"+start.format('HH:mm')+"/"+end.format('HH:mm');
                                    win.closeModal(); }
                    },        
                        'Nouveau Delimiteur': {
                                classes:	' blue-gradient glossy ',
                                 click:		function(win) {
                                    document.location.href = "{{ path('ajoutSimple')}}/"+start.format('DD-MM-YYYY')+"/"+start.format('HH:mm')+"/"+end.format('HH:mm')+"/"+$("#delimiteur").val();
                                    $('#calendar').fullCalendar('refetchEvents');
                                    win.closeModal(); }
                    },        
                            'annuler': {
                                classes:	' blue-gradient glossy ',
                                click:		function(win) {
                                  
                                    win.closeModal(); }
                            }
                        },
                        buttonsLowPadding: true
                    });
                    $('#calendar').fullCalendar('unselect');
                },
              eventDrop:function(event){
            var start = event.start.format('DD-MM-YYYY');
                    var startH = event.start.format('HH:mm');
                    var end = event.end.format('DD-MM-YYYY');
                    var endH = event.end.format('HH:mm');
                     // alert(event.title + " was dropped on " + event.start.format());
                    $.ajax({
                       
                            type : 'get',
                            url : 'http://localhost/myagenda/web/app_dev.php/delimiteur/dropDel/' + event.id + '/' + start + '/' + startH + '/' + end+ '/' + endH,
                            beforeSend: function(){
                             notify('Délimiteur déplacé!', 'Date de dépalcement :'+start+'<br>'+'Heure début: '+startH+'<br>',{groupSimilar: false});
                            console.log('droped');
                            },
                            success:function(data){
                           
                           alert('hani dkhallttttt');
                            console.log('updaate!!');
                                    
                            }
                    });
                    $('#calendar').fullCalendar('refetchEvents');
            }

            });

        });
        
    </script>
    
   
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 2000px;
            margin: 0 auto;
        }

    </style>

    <div id="calendar"></div>

    <div id="eventContent" title="Event Details">
        <div id="eventInfo"></div>
        <p><strong><a id="eventLink" target="_blank">Read More</a></strong></p>
    </div>





{% endblock%}