{% extends "::base.html.twig" %}

{% block content%}
           

                <p class="wrapped left-icon icon-info-round">
                    Tables are responsive, too! Try resizing your browser
                </p>
                <table class="table responsive-table" id="sorting-advanced">

				<thead>
					<tr>
						<th scope="col">Text</th>
						<th scope="col">Debut</th>
						<th scope="col" width="15%" class="align-center hide-on-mobile">Utilisateur</th>
						<th scope="col" width="15%" class="align-center hide-on-mobile-portrait">Couleur</th>
						<th scope="col" width="15%" class="hide-on-tablet">Fin</th>
						<th scope="col" width="60" class="align-center">Actions</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<td colspan="6">
							
						</td>
					</tr>
				</tfoot>

				<tbody>
                                    {% for delimiteur in delimiteurs%}
					<tr>
						<th scope="row" class="checkbox-cell">{{ delimiteur.titre }}</th>
						<td>{{ delimiteur.periodicite.effet | date('Y-m-d')}}</td>
						<td>{{delimiteur.periodicite.couleuralloccurence}}</td>
						<td>{{delimiteur.periodicite.couleuralloccurence}}</td>
						<td>{{ delimiteur.periodicite.end | date('Y-m-d')}}</td>
						<td class="low-padding align-center"> <span class="button-group compact">
                                    <a href="{{ path('updateDelimiteur', { 'id' : delimiteur.id })}}" class="button icon-pencil confirm" title="Update"></a>

                               {#  <a href="{{ path('update', { 'id' : delimiteur.id })}}" class="button icon-pencil ">Edit</a>#}
                                   <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                                    <a href="{{ path('delete', { 'id' : delimiteur.id })}}" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                                </span></td>
					</tr>
					         {% endfor %}
					
				</tbody>

			</table>

                {#<table class="table responsive-table" id="sorting-advanced">

                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Debut</th>
                            <th scope="col">Fin</th>
                            <th scope="col" width="120" class="align-right">Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                                    {% for delimiteur in delimiteurs%}
                        <tr>
                            <th scope="row">
							{{ delimiteur.titre }}<br>
                            </th>
                            <td>{{ delimiteur.periodicite.effet | date('Y-m-d')}}</td>
                            <td>{{ delimiteur.periodicite.end | date('Y-m-d')}}</td>
                            <td class="align-right vertical-center">
                                <span class="button-group compact">
                                    <a href="{{ path('updateDelimiteur', { 'id' : delimiteur.id })}}" class="button icon-pencil confirm" title="Update"></a>

{#                                    <a href="{{ path('update', { 'id' : delimiteur.id })}}" class="button icon-pencil ">Edit</a>
#}          {#                          <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                                    <a href="{{ path('delete', { 'id' : delimiteur.id })}}" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                                </span>
                            </td>
                        </tr>
					{% endfor %}
                    </tbody>

                </table>#}

{% endblock%}
{% block js_content%}
   
                		<script>

		// Table sort - DataTables
		var table = $('#sorting-advanced');
		table.dataTable({
			'aoColumnDefs': [
				{ 'bSortable': false, 'aTargets': [ 0, 5 ] }
			],
			'sPaginationType': 'full_numbers',
			'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
			'fnInitComplete': function( oSettings )
			{
				// Style length select
				table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
				tableStyled = true;
			}
		});


	</script>
             
{% endblock%}
 