{% extends "::base.html.twig" %}

{% block content%}
            <div class="with-padding">

                <p class="wrapped left-icon icon-info-round">
                    Tables are responsive, too! Try resizing your browser
                </p>











                

                <table class="simple-table responsive-table" id="sorting-example2">

                    <thead>
                        <tr>
                            <th scope="col">Titre delimiteur</th>
                            <th scope="col">couleur</th>
                            <th scope="col" width="120" class="align-right">Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                                    {% for typedelimiteur in typedelimiteurs%}
                        <tr>
                            <th scope="row">
							{{ typedelimiteur.nom }}<br>
                            </th>
                            <td style="background-color: {{typedelimiteur.couleur}}">{{ typedelimiteur.couleur }}</td>
                            <td class="align-right vertical-center">
                                <span class="button-group compact">
                                    <a href="{{ path('update', { 'id' : typedelimiteur.id })}}" class="button icon-pencil confirm" title="Update"></a>

{#                                    <a href="{{ path('update', { 'id' : delimiteur.id })}}" class="button icon-pencil ">Edit</a>
#}                                    <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                                    <a href="{{ path('delete', { 'id' : typedelimiteur.id })}}" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                                </span>
                            </td>
                        </tr>
					{% endfor %}
                    </tbody>

                </table>

            </div>
{% endblock%}
 