<html lang="en">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">



<link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src='{{asset('fullCalendar/lib/jquery.min.js')}}'></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
<script>
    function calcule(){
              $('#qte20').val('hhhh');
          };
</script>

</head>

<body >
    
    <div class="container-fluid" style="background-color: #BDD7EE;margin-left: 6px;margin-right: 6px;margin-top: 6px;margin-bottom: 6px;">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-3 " style="font-weight: bold;color: #1F4E78">CALCULATEUR : Container / Carton</div>
            <div class="col-md-8">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">1/</div>
            <div class="col-md-3 " style="font-weight: bold;color: #ffffff;background-color: #5B9BD5">CHAMP DE SAISIE : CONTAINER (ctr)</div>
            <div class="col-md-7" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="font-weight: bold;color: #ffffff;background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">A</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">B</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">Choix de la face de chargement du container</div>
            <div class="col-md-1" style="background-color: red;text-align: center;color: #ffffff;"><input type="radio" name="radio1" style="height:16px;"></div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;"><input type="radio" name="radio1" style="height:16px;"></div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Longeur(cm)</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Largeur(cm)</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Hauteur(cm)</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;font-size: 10pt;height:24px;"> 20'dry :</div>
            <input type="number" value="591" disabled name="longeur1" id="longeur1" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" value="234" disabled name="largeur1" id="largeur1" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" value="238" disabled name="hauteur1" id="hauteur1" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: red;text-align: center;color: #ffffff;"><input type="radio" name="radio2" id="radioc1" value="0" style="height:20px;border-bottom: none;"></div>
            <div class="col-md-3" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;font-size: 10pt;height:24px;"> 40'dry :</div>
            <input type="number" value="1205" disabled name="longeur2" id="longeur2" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" value="234" disabled name="largeur2" id="largeur2" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" value="238" disabled name="hauteur2" id="hauteur2" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;"><input type="radio" name="radio2" id="radioc2" value="1" style="height:20px;border-bottom: none;"></div>
            <div class="col-md-3" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;font-size: 10pt;height:24px;"> 40'hc  :</div>
            <input type="number" value="1205" disabled name="longeur3" id="longeur3" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" value="234" disabled name="largeur3" id="largeur3" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" value="268" disabled name="hauteur3" id="hauteur3" class="col-md-1" style="background-color: #70AD47;text-align: center;color: #ffffff;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;"><input type="radio" name="radio2" id="radioc3" value="2" style="height:20px;border-bottom: none;"></div>
            <div class="col-md-3" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:24px;"> Option / Choix Dimensions </div>
            <input type="number" name="longeur4" id="longeur4" class="col-md-1" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" name="largeur4" id="largeur4" class="col-md-1" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" name="hauteur4" id="hauteur4" class="col-md-1" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;"><input type="radio" name="radio2" id="radioc4" value="3" style="height:20px;border-bottom: none;"></div>
            <div class="col-md-3" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">2/</div>
            <div class="col-md-3 " style="font-weight: bold;color: #ffffff;background-color: #5B9BD5"> CHAMP DE SAISIE : CARTON</div>
            <div class="col-md-7" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;"></div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Longeur</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Largeur</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;"> Choix du sens de positionnement du carton</div>
            <div class="col-md-1" style="background-color: red;text-align: center;color: #ffffff;"><input type="radio" name="radio3" style="height:16px;"></div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;"><input type="radio" name="radio3" style="height:16px;"></div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Longeur(cm)</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Largeur(cm)</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Hauteur(cm)</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;font-size: 10pt;height:24px;"> Dimension / Carton :</div>
            <input type="number" name="longeur5" id="longeur5" class="col-md-1" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" name="largeur5" id="largeur5" class="col-md-1" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" name="hauteur5" id="hauteur5" class="col-md-1" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-4" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;"></div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;font-size: 10pt;height:20px;">Poids Brut kg</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Quantités</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;font-size: 10pt;height:24px;">&nbsp;</div>
            <input type="number" step="any" class="col-md-1" name="poids" id="poids" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;height:24px;">&nbsp;</div>
            <input type="number" pattern="\d+" class="col-md-1" name="qte" id="qte" style="background-color: #ffffff;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;height: 24px;"><button id="btn" name="calculer" onclick="calculer()">calculer</button></div>
            <div class="col-md-2" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">3/</div>
            <div class="col-md-3 " style="font-weight: bold;color: #ffffff;background-color: #5B9BD5">RESULTATS</div>
            <div class="col-md-7" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;"></div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;height:20px;">20'dry</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">40'dry</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">40'hc</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Option</div>
            <div class="col-md-3" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;height:24px;">Qté / Cartons :</div>
            <input type="number" disabled="true" id="qte20" class="col-md-1" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" disabled="true" id="qte40d" class="col-md-1" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" id="qte40h" class="col-md-1" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" id="qteoption" class="col-md-1" style="background-color: yellow;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-3" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-3" style="background-color: #5B9BD5;color: yellow;font-size: 8pt;height:20px;"><p style="margin-top: 4px;"> Quantités total des cartons dans le container (ctr)</p></div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;"></div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;height:20px;">20'dry</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">40'dry</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">40'hc</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Option</div>
            <div class="col-md-3" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;height:24px;">Poids brut (kg) :</div>
            <input type="number" disabled="true" class="col-md-1" id="poidsbrut1" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="poidsbrut2" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="poidsbrut3" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="poidsbrut4" style="background-color: yellow;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-3" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;height:24px;">Volumes :</div>
            <input type="number" step="any" disabled="true" class="col-md-1" id="volume1" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" step="0,1" disabled="true" class="col-md-1" id="volume2" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" step="0,1" disabled="true" class="col-md-1" id="volume3" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" step="0,1" disabled="true" class="col-md-1" id="volume4" style="background-color: yellow;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-3" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-3" style="background-color: #5B9BD5;color: yellow;font-size: 8pt;height:20px;"><p style="margin-top: 4px;"> Poids brut et volume total dans le contaire (ctr)</p></div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">4/</div>
            <div class="col-md-3 " style="font-weight: bold;color: #ffffff;background-color: #5B9BD5">PROCEDURE DE CHARGEMENT :</div>
            <div class="col-md-7" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4" style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">Descriptif du plan de chargement des cartons dans le sens du container (ctr) </div>
            <div class="col-md-2" style="background-color: #5B9BD5;color: yellow;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;"></div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;height:20px;">20'dry</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">40'dry</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">40'hc</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">Option</div>
            <div class="col-md-3" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;height:24px;">Qté / Longeur (ctr) / Sol :</div>
            <input type="number" disabled="true" class="col-md-1" id="qtelong20" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="qtelong40d" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="qtelong40h"style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="qtelongoption" style="background-color: yellow;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;height:24px;">Cartons</div>
            <div class="col-md-2" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;height:24px;">Qté / Largeur (ctr) / Sol :</div>
            <input type="number" disabled="true" class="col-md-1" id="qtelarg20" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="qtelarg40d" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="qtelarg40h" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="qtelargoption" style="background-color: yellow;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;height:24px;">Cartons</div>
            <div class="col-md-2" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;height:24px;">Nbre / Couche (ctr) :</div>
            <input type="number" disabled="true" class="col-md-1" id="nbrcouche1" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="nbrcouche2"style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="nbrcouche3"style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <input type="number" disabled="true" class="col-md-1" id="nbrcouche4" style="background-color: yellow;text-align: center;color: black;border:.5pt solid windowtext;border-left: none;border-bottom: none;">
            <div class="col-md-1" style="background-color: #5B9BD5;height:24px;">Cartons</div>
            <div class="col-md-2" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-3" style="color: #ffffff;background-color: #5B9BD5;height:24px;">Nombres de containers :</div>
            <input type="text"  disabled="true" class="col-md-1" id="nbrcontainers" style="background-color: #BFBFBF;text-align: center;color: black;border:.5pt solid windowtext;border-bottom: none;">
            
            <div class="col-md-6" style="background-color: #5B9BD5;height: 24px;">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="text-align: center;font-weight: bold;color: #1F4E78">&nbsp;</div>
            <div class="col-md-4 " style="color: yellow;background-color: #5B9BD5;font-size: 8pt;height:20px;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-1" style="background-color: #5B9BD5;text-align: center;color: #ffffff;">&nbsp;</div>
            <div class="col-md-4" style="background-color: #5B9BD5">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
    </div>
   <script type="text/javascript">
          
          function calculer(){
              
              if(document.getElementById('radioc1').checked){
                  var longeur = $('#longeur1').val();
                  var largeur = $('#largeur1').val();
                  var hauteur = $('#hauteur1').val();
                  var longeurc = $('#longeur5').val();
                  var largeurc = $('#largeur5').val();
                  var hauteurc = $('#hauteur5').val();
                   
                  var result = Math.floor(longeur/longeurc) * Math.floor(largeur/largeurc) * Math.floor(hauteur/hauteurc);
                  $('#qte20').val(result);
                  var poids = $('#poids').val();
                  alert( poids );
                  $('#poidsbrut1').val(Math.round(poids*result));
                  $('#volume1').val(((longeurc/100)*(largeurc/100)*(hauteurc/100))*result);
                  $('#qtelong20').val(Math.floor(longeur/longeurc));
                  $('#qtelarg20').val(Math.floor(largeur/largeurc));
                  $('#nbrcouche1').val(Math.floor(hauteur/hauteurc));
                  $('#nbrcontainers').val(Math.floor($('#qte').val()/result));
              }
              else if(document.getElementById('radioc2').checked){
                  var longeur = $('#longeur2').val();
                  var largeur = $('#largeur2').val();
                  var hauteur = $('#hauteur2').val();
                  var longeurc = $('#longeur5').val();
                  var largeurc = $('#largeur5').val();
                  var hauteurc = $('#hauteur5').val();
                   
                  var result = Math.floor(longeur/longeurc) * Math.floor(largeur/largeurc) * Math.floor(hauteur/hauteurc);
                  $('#qte40d').val(result);
                  var poids = $('#poids').val();
                  alert( poids );
                  $('#poidsbrut2').val(Math.round(poids*result));
                  $('#volume2').val(((longeurc/100)*(largeurc/100)*(hauteurc/100))*result);
                  $('#qtelong40d').val(Math.floor(longeur/longeurc));
                  $('#qtelarg40d').val(Math.floor(largeur/largeurc));
                  $('#nbrcouche2').val(Math.floor(hauteur/hauteurc));
                  $('#nbrcontainers').val(Math.floor($('#qte').val()/result));
              }
              else if(document.getElementById('radioc3').checked){
                  var longeur = $('#longeur3').val();
                  var largeur = $('#largeur3').val();
                  var hauteur = $('#hauteur3').val();
                  var longeurc = $('#longeur5').val();
                  var largeurc = $('#largeur5').val();
                  var hauteurc = $('#hauteur5').val();
                   
                  var result = Math.floor(longeur/longeurc) * Math.floor(largeur/largeurc) * Math.floor(hauteur/hauteurc);
                  $('#qte40h').val(result);
                  var poids = $('#poids').val();
                  alert( poids );
                  $('#poidsbrut3').val(Math.round(poids*result));
                  $('#volume3').val(((longeurc/100)*(largeurc/100)*(hauteurc/100))*result);
                  $('#qtelong40h').val(Math.floor(longeur/longeurc));
                  $('#qtelarg40h').val(Math.floor(largeur/largeurc));
                  $('#nbrcouche3').val(Math.floor(hauteur/hauteurc));
                  $('#nbrcontainers').val(Math.floor($('#qte').val()/result));
              }
              else if(document.getElementById('radioc4').checked){
                  var longeur = $('#longeur4').val();
                  var largeur = $('#largeur4').val();
                  var hauteur = $('#hauteur4').val();
                  var longeurc = $('#longeur5').val();
                  var largeurc = $('#largeur5').val();
                  var hauteurc = $('#hauteur5').val();
                   
                  var result = Math.floor(longeur/longeurc) * Math.floor(largeur/largeurc) * Math.floor(hauteur/hauteurc);
                  $('#qteoption').val(result);
                  var poids = $('#poids').val();
                  alert( poids );
                  $('#poidsbrut4').val(Math.round(poids*result));
                  $('#volume4').val(((longeurc/100)*(largeurc/100)*(hauteurc/100))*result);
                  $('#qtelongoption').val(Math.floor(longeur/longeurc));
                  $('#qtelargoption').val(Math.floor(largeur/largeurc));
                  $('#nbrcouche4').val(Math.floor(hauteur/hauteurc));
                  $('#nbrcontainers').val(Math.floor($('#qte').val()/result));
              }
              
              
          };
        
    
    </script>
    
    
</body>