{% extends '::base.html.twig' %}

{% block content%}
<link href='{{asset('fullCalendar/fullcalendar.css')}}' rel='stylesheet' />
<link href='{{asset('fullCalendar/fullcalendar.print.css')}}' rel='stylesheet' media='print' />
<script src='{{asset('fullCalendar/lib/moment.min.js')}}'></script>
<script src='{{asset('fullCalendar/lib/jquery.min.js')}}'></script>
<script src='{{asset('fullCalendar/fullcalendar.min.js')}}'></script>
<script src='{{asset('fullCalendar/lang-all.js')}}'></script>
    {#<script src="/shared/js/bootstrapmodal.min.js"></script>#}
<script type="text/javascript">
            function print_calendar()
            {
            window.print();
            }
         
    {#         
   jQuery('#haha').datetimepicker({
        inline: true,
        onSelect: function(dateText, inst) {
            var d = new Date(dateText);
            $('#calendar').fullCalendar('gotoDate', d);
        }
    });#}

    $(document).ready(function() {
 

          
    $('#my-button').click(function() {

    var moment = $('#calendar').fullCalendar('getDate');
            alert("The current date of the calendar is " +moment.format('YYYY-MM-DD'));
    });
    
   
            
                    
    $('#calendar').fullCalendar({
    header: {
    left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,basicWeek,agendaDay,basicDay'

    },
    buttonText: {
               
                basicDay: 'Basic day',
                basicWeek:'Basic Week'
            },
            minTime:'08:00',
            maxTime: '18:00',
            lang: 'fr',
            editable: true,
            defaultView :'agendaWeek',
            axisFormat : 'HH:mm',
            slotDuration :'00:05:00',
            timeFormat: {
            agenda : 'HH:mm'
            },
            eventLimit: true, // allow "more" link when too many events
           // events: ouf,
           eventSources: [
                    {{ events|raw }}
                ],
    //***********************myAjax*********************************    

    //******************************************************    
viewRender: function(view){
       
         var moment = $('#calendar').fullCalendar('getDate');
             console.log(moment.format('YYYY-MM-DD'));
               $.ajax({
            type: 'get',
                    url : 'http://localhost/monagenda/web/app_dev.php/rendezVous/calendar/'+moment.format('YYYY-MM-DD'),
                    beforeSend: function(){
                    console.log('dateRefresh Before!!');
                    },
                    success:function(data){
{#            $('#calendar').fullCalendar('removeEvents');#}
{#            $('#calendar').fullCalendar('addEventSource', data.events);         #}
            $('#calendar').fullCalendar('rerenderEvents' );

             
                    console.log('dateRefresh after!!');
                }
      });

   
   },
    eventSources: [
               {{ events|raw }}
                 {#  {{delimiteur|raw}}#}
                          ],
   
             
    eventClick: //function(event, jsEvent, view) {
//
//                    alert('Event: ' +event.id+ event.start.format() + event.end.format() );
//                    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
//                    alert('View: ' + view.name);
//                    $(this).css('border-color', 'red');
              {#document.location.href="{{ path('merde')}}/"+event.id;

    // change the border color just for fun

    function openComplexModal(event)
    {
    ev = event.id;
            console.log(ev);
            $.modal({
            content:
                    '<strong>Titre :</strong>' + event.title + '<br>' +
                    '<strong>Description :</strong>' + event.description + '<br>' +
                    '<strong>Date :</strong>' + event.start.format()
                    ,
                    title: 'Détails du rendez-vous',
                    width: 300,
                    scrolling: false,
                    actions: {
                    'fermer' : {
                    color: 'red',
                            click: function(win) { win.closeModal(); }
                    }
                    },
                    buttons: {
                    'modifier': {
                    classes:	' blue-gradient glossy ',
                            click:		function(win) {
                            document.location.href = "{{ path('updateDelimiteur')}}/" + event.id;
                                    win.closeModal(); }
                    },
                            'supprimer': {
                            classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                    $.ajax({
                                    type: 'get',
                                            url : 'http://localhost/monagenda/web/app_dev.php/rendezVous/remove/' + event.id,
                                            beforeSend: function(){
                                            console.log('je me supprime mtn!!');
                                            },
                                            success:function(data){
                                            console.log('c fait!');
                                            }
                                    });
                                            $('#calendar').fullCalendar('removeEvents', event.id);
                                            win.closeModal();
                                    }
                            },
                            'annuler ce rendez-vous': {
                            classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                   document.location.href="{{ path('merde')}}/"+event.id;
                                    win.closeModal();
                                            $.ajax({
                                            type: 'get',
                                                    url : 'http://localhost/monagenda/web/app_dev.php/rendezVous/getClient/' + event.id,
                                                    beforeSend: function(){
                                                    console.log('me voila!!');
                                                    },
                                                    success:function(data){
                                                    console.log('cool!!');
                                                            ev = event.id;
                                                            $.modal({
                                                            title: 'Annuler ce rendez-vous',
                                                                    content:''
                                                                    + '<table class=" table simple-table" >'
                                                                    + '<thead >'
                                                                    + '<tr>'
                                                                    + '<th scope="col" width="30%" colspan="2" class="align-center" >Annulation de rendez-vous</th>'
                                                                    + '</tr>'
                                                                    + '</thead>'
                                                                    + '<tbody>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Rendez-vous </td>'
                                                                    + '<td>'
                                                                    + '<p style="font-size: 2àpx">' + ' <strong>de :</strong>' + data.nom + '<br>'
                                                                    + '<strong>du :</strong>' + event.start.format() + '<strong> à </strong>' + event.end.format() + '<br>'
                                                                    + '<strong>avec le client fréquent </strong>' + data.prenom + ' ' + data.nom + '<br>'
                                                                    + '<strong>libellé :</strong>' + event.title
                                                                    + '</p>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Motif</td>'
                                                                    + '<td>'
                                                                    + '<p><select name="phraseusuelle" id="phraseusuelle" class="select expandable-list" style="width:30em" >'
                                                                    + '<option  >--Phrases useuelles--</option>{%for phrase in phrases %}'
                                                                    + '<option value="{{phrase.id}}">{{phrase.text}}</option>{%endfor%}'
                                                                    + '</select><br>'
                                                                    + '<select name="entete" id="entete" class="select expandable-list" style="width:30em" >'
                                                                    + '<option  >--Entétes--</option>'
                                                                    + '<option value="Entete1" >Entéte1</option>'
                                                                    + '</select></p>'
                                                                    + '<textarea style="width: 30em"class="input" name="myEntete" id="myEntete">Default textarea</textarea>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px" width="40%" class="vertical-center" >Groupe</td>'
                                                                    + '<td>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + '<input  type="radio" name="radio1" id="radio_1" value="0" class="radio"> <label for="NON">Non</label>'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input  type="radio" name="radio1" id="radio_1" value="1" class="radio"> <label for="NON">Oui,conserver les infromations</label>'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Alerter</td>'
                                                                    + '<td>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + 'le prssesseur de l\'agenda :'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="myAlert[]" id="myAlert" value="1"> par mail'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="myAlert[]" id="myAlert" value="2"> par SMS'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + 'le client fréquent :'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="clientAlert[]" id="clientAlert" value="1"> par mail'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="clientAlert[]" id="clientAlert" value="2"> par SMS'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Créer</td>'
                                                                    + '<td>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + 'Considérer l\'annulation comme transmise :'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + ' <input  type="radio" name="report" id="report" value="0" class="radio"><label for="NON">Non</label> '
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input  type="radio" name="report" id="report" value="1" class="radio"><label for="NON">Oui </label>'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tfoot>'
                                                                    + '<tr>'
                                                                    + '<td colspan="2" class="align-center">'
                                                                    + '<div class="columns">'
                                                                    + '<div class="three-columns">'
                                                                    + '</div>'
                                                                    + '<div class="four-columns">'
                                                                    + '<button type="submit" class="button blue-gradient" value="Ajout" onclick="createAnnulation()">Annuler ce rendez-vous</button>'
                                                                    + '</div>'
                                                                    + '<div class="tow-columns">'
                                                                    + '<button type="submit" class="button blue-gradient" value="Ajout">Fermer cette fenetre</button>'
                                                                    + '</div>'
                                                                    + '</div>'

                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '</tfoot>'
                                                                    + '</table>',
                                                                    buttonsAlign: 'center',
                                                                    resizable: false,
                                                                    width: 600,
                                                                    height: 465,
                                });
                                                    },
                                            });
                                    }
                            }
                    },
                    buttonsLowPadding: true
            });
    },#}
            selectable: true,
            selectHelper: true,
            select: function(start, end) {
//                    var title = prompt('Event Title:');
//                    var eventData;
//                    if (title) {
//                        eventData = {
//                            title: title,
//                            start: start,
//                            end: end
//                        };
//                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
//                    }
            $.modal({
            content:'<strong>Start:</strong>' + start.format('DD-MM-YYYY HH:mm') + '<br>'
                    + '<strong>End:</strong>' + end.format('DD-MM-YYYY HH:mm')
//                        '<strong>Titre :</strong>'+ start.title+'<br>'+
//                        '<strong>Date :</strong>'+event.start.format()
                    ,
                    title: 'Détails du rendez-vous',
                    width: 300,
                    scrolling: false,
                    actions: {
                    'fermer' : {
                    color: 'red',
                            click: function(win) { win.closeModal(); }
                    }
                    },
                    buttons: {
                    'Nouveau rendez-Vous': {
                    classes:	' blue-gradient glossy ',
                            click:		function(win) {
                            document.location.href = "{{ path('startEnd')}}/" + start.format('DD-MM-YYYY') + "/" + start.format('HH:mm') + "/" + end.format('HH:mm');
                                    win.closeModal(); }
                    },
                   'Nouveau Delimiteur': {
                                classes:	' blue-gradient glossy ',
                                 click:		function(win) {
                                    document.location.href = "{{ path('ajoutDelimiteurCalendar')}}/"+start.format('DD-MM-YYYY')+"/"+start.format('HH:mm')+"/"+end.format('HH:mm');
                                    win.closeModal(); }
                    }, 
                            'annuler': {
                            classes:	' blue-gradient glossy ',
                                    click:		function(win) {
                                {#document.location.href="{{ path('merde')}}/"+event.id;#}
                                    win.closeModal();
                                    }
                            }
                    },
                    buttonsLowPadding: true
            });
                    $('#calendar').fullCalendar('unselect');
            },
            eventDrop:function(event){
            var start = event.start.format('DD-MM-YYYY');
                    var startH = event.start.format('HH:mm');
                    var endH = event.end.format('HH:mm');
                    //   alert(event.title + " was dropped on " + event.start.format());
                    $.ajax({
                    type: 'get',
                            url : '{{ path('dropDelimiteur') }}' + event.id + '/' + start + '/' + startH + '/' + endH,
                            beforeSend: function(){
                            notify('Rendez-Vous déplacé!', 'Date de dépalcement :' + start + '<br>' + 'Heure début: ' + startH + '<br>' + 'Heure fin: ' + endH, {groupSimilar: false});
                                    console.log('droped');
                            },
                            success:function(data){

                            console.log('updaate!!');
                            }
                    });
                    $('#calendar').fullCalendar('refetchEvents');
            },
            eventResize: function(event) {
            var start = event.start.format('DD-MM-YYYY');
                    var startH = event.start.format('HH:mm');
                    var endH = event.end.format('HH:mm');
                    //   alert(event.title + " was dropped on " + event.start.format());
                    $.ajax({
                    type: 'get', //type request
                            url : 'http://localhost/monagenda/web/app_dev.php/rendezVous/drop/' + event.id + '/' + start + '/' + startH + '/' + endH, //route de la methode à executer
                            beforeSend: function(){// là on peut mettre une action à executer avant l'envoi des données....
                            notify('Rendez-Vous modifié!', 'Date:' + start + '<br>' + 'Heure début: ' + startH + '<br>' + 'Heure fin: ' + endH, {groupSimilar: false});
                                    console.log('resize init');
                            },
                            success:function(data){//si tout va bien...la fonction au sein du "success" sera exécutée...
                            console.log('resized!!');
                            }
                    });
                    $('#calendar').fullCalendar('refetchEvents');
            }
  });
   {# $('#haha').datetimepicker({
        inline: true,
        weeks:true,
        scrollInput:	true,
      
        
        onSelectDate: function(ct, inst) {
            var d = new Date(ct.dateFormat('Y-m-d H:i'));
            $('#calendar').fullCalendar('gotoDate', d);
        }
    }); #}
   

});</script>
<script>
            function createAnnulation()
                    {
                    // on sécurise les données
                    var phraseusuelle = encodeURIComponent($('#phraseusuelle').val());
                            var entete = encodeURIComponent($('#entete').val());
                            var myEntete = encodeURIComponent($('#myEntete').val());
                            var myAlert = encodeURIComponent($('#myAlert[]').val());
                            var clientAlert = encodeURIComponent($('#clientAlert[]').val());
                            var report = encodeURIComponent($('#report').val());
   {# var telBox = encodeURIComponent($('#telBox').val());
    var adresse = encodeURIComponent($('#adresse').val());
    var email = encodeURIComponent($('#email').val());
    var note = encodeURIComponent($('#note').val());
    var password = encodeURIComponent($('#password').val());
    var generer = encodeURIComponent($('#generer').val());
#}
                    // on vérifie que les variables ne sont pas vides
                    console.log('befor success');
                            $.ajax({
                            url: 'http://localhost/monagenda/web/app_dev.php/rendezVous/annulation/' + ev, // on donne l'URL du fichier de traitement
                                    type: "POST", // la requête est de type POST
                                    data: "phraseusuelle=" + phraseusuelle + "&entete=" + entete + "&myEntete=" + myEntete + "&myAlert=" + myAlert + "&clientAlert=" + clientAlert + "&report=" + report, // et on envoie nos données
                                    success: function(data) {
                                    console.log('success');
                                            //console.log(data.nom);
                                            // $('#pff').append('<option value="' + data.id + '" >' + data.nom + ' ' + data.prenom + '</option>');
                                            //document.querySelector('#client [value="' + data.id + '"]').selected = true;
                                            //$('#pff').change();
                                            console.log('success fermer');
                                    }
                            });
                            $('#modals').remove();
                            }
</script>

<style>

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 2000px;
        margin: 0 auto;
    }

</style>

<button class="button icon-printer " style="float:right" id="my-button" >GetDate</button>
<div id="haha" style="float:right"></div>
<button class="button icon-printer " style="float:right" onclick="print_calendar()" >imprimer</button>
<div id="calendar"></div>


<div id="eventContent" title="Event Details">
    <div id="eventInfo"></div>
    <p><strong><a id="eventLink" target="_blank">Read More</a></strong></p>
</div>




{% endblock%}