<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->

    <head>
    {%block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}M-Agenda {% endblock%}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <!-- Microsoft clear type rendering -->
        <meta http-equiv="cleartype" content="on">

        <!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
        <meta name="application-name" content="Developr Admin Skin">
        <meta name="msapplication-tooltip" content="Cross-platform admin template.">
        <meta name="msapplication-starturl" content="http://www.display-inline.fr/demo/developr">
        <!-- These custom tasks are examples, you need to edit them to show actual pages -->
        <meta name="msapplication-task" content="name=Agenda;action-uri=http://www.display-inline.fr/demo/developr/agenda.html;icon-uri=http://www.display-inline.fr/demo/developr/{{asset('developr/img/favicons/favicon.ico')}}">
        <meta name="msapplication-task" content="name=My profile;action-uri=http://www.display-inline.fr/demo/developr/profile.html;icon-uri=http://www.display-inline.fr/demo/developr/{{asset('developr/img/favicons/favicon.ico')}}">
        <!-- http://www.kylejlarson.com/blog/2012/iphone-5-web-design/ and http://darkforge.blogspot.fr/2010/05/customize-android-browser-scaling-with.html -->
{#        <meta name="viewport" content="user-scalable=0, initial-scale=1.0, target-densitydpi=115">#}
    {% endblock %}



{%block stylesheet %}
        <link rel="stylesheet" href="{{ asset('developr/js/libs/glDatePicker/developr.fixed.css?v=1')}}">
        <link rel="stylesheet" href="{{ asset('developr/css/styles/modal.css?v=1')}}">

        <!-- For all browsers -->
        <link rel="stylesheet" href="{{asset('developr/css/reset.css?v=1')}}">
        <link rel="stylesheet" href="{{asset('developr/css/style.css?v=1')}}">
        <link rel="stylesheet" href="{{asset('developr/css/colors.css?v=1')}}">
        <link rel="stylesheet" media="print" href="{{asset('developr/css/print.css?v=1')}}">
        <!-- For progressively larger displays -->
        <link rel="stylesheet" media="only all and (min-width: 480px)" href="{{asset('developr/css/480.css?v=1')}}">
        <link rel="stylesheet" media="only all and (min-width: 768px)" href="{{asset('developr/css/768.css?v=1')}}">
        <link rel="stylesheet" media="only all and (min-width: 992px)" href="{{asset('developr/css/992.css?v=1')}}">
        <link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{asset('developr/css/1200.css?v=1')}}">
        <!-- For Retina displays -->
        <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{asset('developr/css/2x.css?v=1')}}">
        <!-- Webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

        <!-- Additional styles -->
        <link rel="stylesheet" href="{{ asset('developr/css/styles/table.css?v=1')}}">

        <link rel="stylesheet" href="{{asset('developr/css/styles/agenda.css?v=1')}}">
        <link rel="stylesheet" href="{{asset('developr/css/styles/dashboard.css?v=1')}}">
        <link rel="stylesheet" href="{{asset('developr/css/styles/form.css?v=1')}}">
        <link rel="stylesheet" href="{{asset('developr/css/styles/modal.css?v=1')}}">
        <link rel="stylesheet" href="{{asset('developr/css/styles/progress-slider.css?v=1')}}">
        <link rel="stylesheet" href="{{asset('developr/css/styles/switches.css?v=1')}}">

        <!-- DataTables -->
        <link rel="stylesheet" href="{{ asset('developr/js/libs/DataTables/jquery.dataTables.css?v=1')}}">
        <script src="{{ asset('developr/js/libs/modernizr.custom.js')}}"></script>

    {%endblock%}
        <script src="{{ asset('datetimepicker-master/jquery.datetimepicker.js')}}"></script>
  

    {% block mesScript %}{% endblock %}

        <link rel="stylesheet" href="{{asset('developr/js/libs/glDatePicker/developr.fixed.css?v=1')}}">

    {%block favicon %}
        <!-- For Modern Browsers -->
        <link rel="shortcut icon" href="{{asset('developr/img/favicons/favicon.png')}}">
        <!-- For everything else -->
        <link rel="shortcut icon" href="{{asset('developr/img/favicons/favicon.ico')}}">

        <!-- iOS web-app metas -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- iPhone ICON -->
        <link rel="apple-touch-icon" href="{{asset('developr/img/favicons/apple-touch-icon-ipad-retina.png')}}" sizes="144x144">

        <!-- iPhone SPLASHSCREEN (320x460) -->
        <link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/iphone.png')}}" media="(device-width: 320px)">
        <!-- iPhone (Retina) SPLASHSCREEN (640x960) -->
        <link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/iphone-retina.png')}}" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)">
        <!-- iPhone 5 SPLASHSCREEN (640×1096) -->
        <link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/iphone5.png')}}" media="(device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
        <!-- iPad (portrait) SPLASHSCREEN (748x1024) -->
        <link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-portrait.png')}}" media="(device-width: 768px) and (orientation: portrait)">
        <!-- iPad (landscape) SPLASHSCREEN (768x1004) -->
        <link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-landscape.png')}}" media="(dimg/favicons/apple-touch-icon.png')}}" sizes="57x57">
        <!-- iPad ICON -->
        <link rel="apple-touch-icon" href="{{asset('developr/img/favicons/apple-touch-icon-ipad.png')}}" sizes="72x72">
        <!-- iPhone (Retina) ICON -->
        <link rel="apple-touch-icon" href="{{asset('developr/img/favicons/apple-touch-icon-retina.png')}}" sizes="114x114">
        <!-- iPad (Retina) ICON -->
        <link rel="apple-touch-icon" href="{{asset('developr/evice-width: 768px) and (orientation: landscape')}}">
        <!-- iPad (Retina, portrait) SPLASHSCREEN (2048x1496) -->
        <link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-portrait-retina.png')}}" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)">
        <!-- iPad (Retina, landscape) SPLASHSCREEN (1536x2008) -->
        <link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-landscape-retina.png')}}" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)">
        <!-- JavaScript at bottom except for Modernizr -->
        <link rel="stylesheet" type="text/css" href="{{ asset('datetimepicker-master/jquery.datetimepicker.css')}}" >


    {%endblock%}
    {%block js_head %}
        <!-- JavaScript at the bottom for fast page loading -->
        <script src="{{asset('developr/js/libs/jquery-1.10.2.min.js')}}"></script>
        <script src="{{ asset('developr/js/libs/jquery.tablesorter.min.js')}}"></script>
        <script src="{{ asset('developr/js/libs/DataTables/jquery.dataTables.min.js')}}"></script>
    {%endblock%}
    </head>
{% block body%}
    <body class="clearfix with-menu with-shortcuts">

        <!-- Prompt IE 6 users to install Chrome Frame -->
        <!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        <!-- Title bar -->
        <header role="banner" id="title-bar">
            <h2>M-Agenda</h2>
        </header>

        <!-- Button to open/hide menu -->
        <a href="#" id="open-menu"><span>Menu</span></a>

        <!-- Button to open/hide shortcuts -->
        <a href="#" id="open-shortcuts"><span class="icon-thumbs"></span></a>

    <!-- Main content -->
        <!-- Main content -->
        <section role="main" id="main">



            <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
            </hgroup>


            <div class="with-padding">

                    {%block content%}


                    {% endblock content %}

   
    <!-- End main content -->

    <!-- Side tabs shortcuts -->
    <ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
        <li class="current"><a href="default" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
        <li><a href="inbox.html" class="shortcut-messages" title="Messages">Messages</a></li>
        <li><a href="agenda.html" class="shortcut-agenda" title="Agenda">Agenda</a></li>
        <li><a href="tables.html" class="shortcut-contacts" title="Contacts">Contacts</a></li>
        <li><a href="explorer.html" class="shortcut-medias" title="Medias">Medias</a></li>
        <li><a href="sliders.html" class="shortcut-stats" title="Stats">Stats</a></li>
        <li class="at-bottom"><a href="form.html" class="shortcut-settings" title="Settings">Settings</a></li>
        <li><span class="shortcut-notes" title="Notes">Notes</span></li>
    </ul>

    <!-- Side tabs shortcuts with legends under the icons -->
    <!-- <ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right with-legend">
        <li class="current"><a href="./" class="shortcut-dashboard" title="Dashboard"><span class="shortcut-legend">Dashboard</span></a></li>
        <li><a href="inbox.html" class="shortcut-messages" title="Messages"><span class="shortcut-legend">Messages</span></a></li>
        <li><a href="agenda.html" class="shortcut-agenda" title="Agenda"><span class="shortcut-legend">Agenda</span></a></li>
        <li><a href="tables.html" class="shortcut-contacts" title="Contacts"><span class="shortcut-legend">Contacts</span></a></li>
        <li><a href="explorer.html" class="shortcut-medias" title="Medias"><span class="shortcut-legend">Medias</span></a></li>
        <li><a href="sliders.html" class="shortcut-stats" title="Stats"><span class="shortcut-legend">Stats</span></a></li>
        <li class="at-bottom"><a href="form.html" class="shortcut-settings" title="Settings"><span class="shortcut-legend">Settings</span></a></li>
        <li><span class="shortcut-notes" title="Notes"><span class="shortcut-legend">Notes</span></span></li>
    </ul> -->

    <!-- Sidebar/drop-down menu -->
    <section id="menu" role="complementary">

        <!-- This wrapper is used by several responsive layouts -->
        <div id="menu-content">
        {% if is_granted('ROLE_SUPER_ADMIN')  %} 
            <header>
                Administrator
            </header>
        {%elseif is_granted('ROLE_MEDECIN')%}
            <header>
            MEDECIN
            </header>
            {%elseif is_granted('ROLE_SECRETAIRE')%}
            <header>
            SECRETAIRE
            </header>
            {%endif%}    
            <div id="profile">
                <img src="{{asset('developr/img/user.png')}}" width="64" height="64" alt="User name" class="user-icon">
                
{#           <span class="name">{{app.user.nom}} <b>{{app.user.nom}}</b></span>#}
            </div>

        </section>
        <!-- End main content -->

        <!-- Side tabs shortcuts -->
        <ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
            <li class="current"><a href="default" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
            <li><a href="inbox.html" class="shortcut-messages" title="Messages">Messages</a></li>
            <li><a href="agenda.html" class="shortcut-agenda" title="Agenda">Agenda</a></li>
            <li><a href="tables.html" class="shortcut-contacts" title="Contacts">Contacts</a></li>
            <li><a href="explorer.html" class="shortcut-medias" title="Medias">Medias</a></li>
            <li><a href="sliders.html" class="shortcut-stats" title="Stats">Stats</a></li>
            <li class="at-bottom"><a href="form.html" class="shortcut-settings" title="Settings">Settings</a></li>
            <li><span class="shortcut-notes" title="Notes">Notes</span></li>
        </ul>

        <!-- Side tabs shortcuts with legends under the icons -->
        <!-- <ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right with-legend">
            <li class="current"><a href="./" class="shortcut-dashboard" title="Dashboard"><span class="shortcut-legend">Dashboard</span></a></li>
            <li><a href="inbox.html" class="shortcut-messages" title="Messages"><span class="shortcut-legend">Messages</span></a></li>
            <li><a href="agenda.html" class="shortcut-agenda" title="Agenda"><span class="shortcut-legend">Agenda</span></a></li>
            <li><a href="tables.html" class="shortcut-contacts" title="Contacts"><span class="shortcut-legend">Contacts</span></a></li>
            <li><a href="explorer.html" class="shortcut-medias" title="Medias"><span class="shortcut-legend">Medias</span></a></li>
            <li><a href="sliders.html" class="shortcut-stats" title="Stats"><span class="shortcut-legend">Stats</span></a></li>
            <li class="at-bottom"><a href="form.html" class="shortcut-settings" title="Settings"><span class="shortcut-legend">Settings</span></a></li>
            <li><span class="shortcut-notes" title="Notes"><span class="shortcut-legend">Notes</span></span></li>
        </ul> -->

        <!-- Sidebar/drop-down menu -->
        <section id="menu" role="complementary">

            <!-- This wrapper is used by several responsive layouts -->
            <div id="menu-content">

                <header>
                    Administrator
                </header>

                <div id="profile">
                    <img src="{{asset('developr/img/user.png')}}" width="64" height="64" alt="User name" class="user-icon">
                    Hello
                    <span class="name">halhnini <b>mohammed</b></span>
                </div>

                <!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
                <ul id="access" class="children-tooltip">
                    <li><a href="inbox.html" title="Messages"><span class="icon-inbox"></span><span class="count">2</span></a></li>
                    <li><a href="calendars.html" title="Calendar"><span class="icon-calendar"></span></a></li>
                    <li><a href="login.html" title="Profile"><span class="icon-user"></span></a></li>
                    <li class="disabled"><span class="icon-gear"></span></li>
                </ul>

                <section class="navigable">
                    <ul class="big-menu">
                        <li class="with-right-arrow">
                            <span><span class="list-count">2</span>Gestion Utilisateur</span>
                            <ul class="big-menu">
{#                            <li><a href="{{path('utilisateur_addpage')}}">Ajouter un Utilisateur</a></li>#}
                                <li><a href="columns.html">Liste des Utilisateur</a></li>
                           {# <li><a href="tables.html">Ajouter Utili</a></li>#}
{#                            <li><a href="colors.html">Colors &amp; backgrounds</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="files.html">Files &amp; Gallery</a></li>#}
                           {# <li class="with-right-arrow">
                                <span><span class="list-count">4</span>Forms &amp; buttons</span>
                                <ul class="big-menu">
                                    <li><a href="buttons.html">Buttons</a></li>
                                    <li><a href="form.html">Form elements</a></li>
                                    <li><a href="textareas.html">Textareas &amp; WYSIWYG</a></li>
                                    <li><a href="form-layouts.html">Form layouts</a></li>
                                    <li><a href="wizard.html">Wizard</a></li>
                                </ul>
                            </li>#}
                          {#  <li class="with-right-arrow">
                                <span><span class="list-count">2</span>Agenda &amp; Calendars</span>
                                <ul class="big-menu">
                                    <li><a href="agenda.html">Agenda</a></li>
                                    <li><a href="calendars.html">Calendars</a></li>
                                </ul>
                            </li>#}
                       {#     <li><a href="blocks.html">Blocks &amp; infos</a></li>#}
                            </ul>
                        </li>
                        <li class="with-right-arrow">
                            <span><span class="list-count">8</span>Main features</span>
                            <ul class="big-menu">
                                <li><a href="auto-setup.html">Automatic setup</a></li>
                                <li><a href="responsive.html">Responsiveness</a></li>
                                <li><a href="tabs.html">Tabs</a></li>
                                <li><a href="sliders.html">Slider &amp; progress</a></li>
                                <li><a href="modals.html">Modal windows</a></li>
                                <li class="with-right-arrow">
                                    <span><span class="list-count">3</span>Messages &amp; notifications</span>
                                    <ul class="big-menu">
                                        <li><a href="messages.html">Messages</a></li>
                                        <li><a href="notifications.html">Notifications</a></li>
                                        <li><a href="tooltips.html">Tooltips</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="with-right-arrow">
                            <a href="ajax-demo/submenu.html" class="navigable-ajax" title="Menu title">With ajax sub-menu</a>
                        </li>
                    </ul>
                </section>

                <ul class="unstyled-list">
                    <li class="title-menu">Now's event</li>
                    <li>
                        <ul class="calendar-menu">
                            <li>
                                <a href="#" title="See event">
                                    <time datetime="2011-02-24"><b>24</b> Feb</time>
                                    <small class="green">10:30</small>
                                    Event's description
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="title-menu">New messages</li>
                    <li>
                        <ul class="message-menu">
                            <li>
                                <span class="message-status">
                                    <a href="#" class="starred" title="Starred">Starred</a>
                                    <a href="#" class="new-message" title="Mark as read">New</a>
                                </span>
                                <span class="message-info">
                                    <span class="blue">17:12</span>
                                    <a href="#" class="attach" title="Download attachment">Attachment</a>
                                </span>
                                <a href="#" title="Read message">
                                    <strong class="blue">John Doe</strong><br>
                                    <strong>Mail subject</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Read message">
                                    <span class="message-status">
                                        <span class="unstarred">Not starred</span>
                                        <span class="new-message">New</span>
                                    </span>
                                    <span class="message-info">
                                        <span class="blue">15:47</span>
                                    </span>
                                    <strong class="blue">May Starck</strong><br>
                                    <strong>Mail subject a bit longer</strong>
                                </a>
                            </li>
                            <li>
                                <span class="message-status">
                                    <span class="unstarred">Not starred</span>
                                </span>
                                <span class="message-info">
                                    <span class="blue">15:12</span>
                                </span>
                                <strong class="blue">May Starck</strong><br>
                                Read message
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- End content wrapper -->

            <!-- This is optional -->
            <footer id="menu-footer">
                <p class="button-height">
                    <input type="checkbox" name="auto-refresh" id="auto-refresh" checked="checked" class="switch float-right">
                    <label for="auto-refresh">Auto-refresh</label>
                </p>
            </footer>

        </section>
        <!-- End sidebar/drop-down menu -->

    {%block js_footer%}




        <!-- Scripts -->

        <script src="{{asset('developr/js/setup.js')}}"></script>
      

        <!-- Template functions -->
        <script src="{{asset('developr/js/developr.input.js')}}"></script>
        <script src="{{asset('developr/js/developr.message.js')}}"></script>
        <script src="{{asset('developr/js/developr.modal.js')}}"></script>
        <script src="{{asset('developr/js/developr.navigable.js')}}"></script>
        <script src="{{asset('developr/js/developr.notify.js')}}"></script>
        <script src="{{asset('developr/js/developr.scroll.js')}}"></script>
        <script src="{{asset('developr/js/developr.progress-slider.js')}}"></script>
        <script src="{{asset('developr/js/developr.tooltip.js')}}"></script>
        <script src="{{asset('developr/js/developr.confirm.js')}}"></script>
        <script src="{{asset('developr/js/developr.agenda.js')}}"></script>
        <script src="{{asset('developr/js/developr.tabs.js')}}"></script>
        <script src="{{asset('developr/js/developr.table.js')}}"></script>
        <!-- Must be loaded last -->
        <script src="{{ asset('developr/js/libs/google-code-prettify/prettify.js?v=1')}}"></script>                                       <!-- glDatePicker -->
        <script src="{{asset('developr/js/libs/glDatePicker/glDatePicker.min.js?v=1')}}"></script>
        <script src="{{ asset('datetimepicker-master/jquery.datetimepicker.js')}}"></script>

        <!-- Tinycon -->
        <script src="{{asset('developr/js/libs/tinycon.min.js')}}"></script>
        <script src="{{asset('developr/js/libs/formValidator/jquery.validationEngine.js?v=1')}}"></script>
        <script src="{{asset('developr/js/libs/formValidator/languages/jquery.validationEngine-en.js?v=1')}}"></script>
         <!-- form wizard -->
	<script src="{{asset('developr/js/developr.wizard.js')}}"></script>
        


    {% endblock %}

    {%block my_script%}
        	<script>
            // Call template init (optional, but faster if called manually)
            $.template.init();

            // Demo Iframe loading
            function openIframe()
            {
                $.modal({
                    content: '<div style="line-height: 25px; padding: 0 0 10px"><span id="modal-status">Contacting server...</span><br><span id="modal-progress">0%</span></div>',
                    title: 'Iframe content',
                    url: 'http://www.envato.com',
                    useIframe: true,
                    width: 600,
                    height: 400
                });
            }

    </script>
    {%endblock%}

    </body>

{%endblock body%}
</html>
