
<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie linen"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie linen" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie linen" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9 linen" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js linen" lang="en"><!--<![endif]-->

<head>
     {%block meta %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	<!-- http://www.kylejlarson.com/blog/2012/iphone-5-web-design/ and http://darkforge.blogspot.fr/2010/05/customize-android-browser-scaling-with.html -->
	<meta name="viewport" content="user-scalable=0, initial-scale=1.0, target-densitydpi=115">
        
	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
        	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">
        {% endblock %}
	<title>{% block title %}M-Agenda{% endblock %}</title>
        
	{%block stylesheet %}
	<!-- For all browsers -->
	<link rel="stylesheet" href="{{asset('developr/css/reset.css?v=1')}}">
	<link rel="stylesheet" href="{{asset('developr/css/style.css?v=1')}}">
	<link rel="stylesheet" href="{{asset('developr/css/colors.css?v=1')}}">
	<link rel="stylesheet" media="print" href="{{asset('developr/css/print.css?v=1')}}">
	<!-- For progressively larger displays -->
	<link rel="stylesheet" media="only all and (min-width: 480px)" href="{{asset('developr/css/480.css?v=1')}}">
	<link rel="stylesheet" media="only all and (min-width: 768px)" href="{{asset('developr/css/768.css?v=1')}}">
	<link rel="stylesheet" media="only all and (min-width: 992px)" href="{{asset('developr/css/992.css?v=1')}}">
	<link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{asset('developr/css/1200.css?v=1')}}">
	<!-- For Retina displays -->
	<link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{asset('developr/css/2x.css?v=1')}}">

	<!-- Additional styles -->
	<link rel="stylesheet" href="{{asset('developr/css/styles/form.css?v=1')}}">
	<link rel="stylesheet" href="{{asset('developr/css/styles/switches.css?v=1')}}">

	<!-- Login pages styles -->
	<link rel="stylesheet" media="screen" href="{{asset('developr/css/login.css?v=1')}}">

	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="{{asset('developr/img/favicons/favicon.png')}}">
	<!-- For everything else -->
	<link rel="shortcut icon" href="{{asset('developr/img/favicons/favicon.ico')}}">

	<!-- iPhone ICON -->
	<link rel="apple-touch-icon" href="{{asset('developr/img/favicons/apple-touch-icon.png')}}" sizes="57x57">
	<!-- iPad ICON -->
	<link rel="apple-touch-icon" href="{{asset('developr/img/favicons/apple-touch-icon-ipad.png')}}" sizes="72x72">
	<!-- iPhone (Retina) ICON -->
	<link rel="apple-touch-icon" href="{{asset('developr/img/favicons/apple-touch-icon-retina.png')}}" sizes="114x114">
	<!-- iPad (Retina) ICON -->
	<link rel="apple-touch-icon" href="{{asset('developr/img/favicons/apple-touch-icon-ipad-retina.png')}}" sizes="144x144">

	<!-- iPhone SPLASHSCREEN (320x460) -->
	<link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/iphone.png')}}" media="(device-width: 320px)">
	<!-- iPhone (Retina) SPLASHSCREEN (640x960) -->
	<link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/iphone-retina.png')}}" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)">
	<!-- iPhone 5 SPLASHSCREEN (640×1096) -->
	<link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/iphone5.png')}}" media="(device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
	<!-- iPad (portrait) SPLASHSCREEN (748x1024) -->
	<link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-portrait.png')}}" media="(device-width: 768px) and (orientation: portrait)">
	<!-- iPad (landscape) SPLASHSCREEN (768x1004) -->
	<link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-landscape.png')}}" media="(device-width: 768px) and (orientation: landscape)">
	<!-- iPad (Retina, portrait) SPLASHSCREEN (2048x1496) -->
	<link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-portrait-retina.png')}}" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)">
	<!-- iPad (Retina, landscape) SPLASHSCREEN (1536x2008) -->
	<link rel="apple-touch-startup-image" href="{{asset('developr/img/splash/ipad-landscape-retina.png')}}" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)">
        {%endblock%}
    
        {%block js_head %}
	<!-- JavaScript at bottom except for Modernizr -->
	<script src="{{asset('developr/js/libs/modernizr.custom.js')}}"></script>
        {% endblock %}
</head>

<body>

	<div id="container">

		<hgroup id="login-title" class="large-margin-bottom">
			<h1 class="login-title">M'Agenda</h1>
			<h5>&copy; Your Company</h5>
		</hgroup>

		<div id="form-wrapper">

        <div id="form-block" class="scratch-metal">
                <div id="form-viewport">

                      
                            {% block fos_user_content %}
                             {% endblock %}    
                             {% block fos_user_content_password %}
                             {% endblock %}  
{#
                        <div m id="form-password" class="input-wrapper orange-gradient glossy" title="Lost password?">


                        </div>

                        <div id="form-register" class="input-wrapper green-gradient glossy" title="Register">


                        </div>
#}
                </div>
        </div>

		</div>

	</div>

	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Scripts -->
	<script src="{{asset('developr/js/libs/jquery-1.10.2.min.js')}}"></script>
	<script src="{{asset('developr/js/setup.js')}}"></script>

	<!-- Template functions -->
	<script src="{{asset('developr/js/developr.input.js')}}"></script>
	<script src="{{asset('developr/js/developr.message.js')}}"></script>
	<script src="{{asset('developr/js/developr.notify.js')}}"></script>
	<script src="{{asset('developr/js/developr.tooltip.js')}}"></script>

	

</body>
</html>