   {% extends "::base.html.twig" %}  
       {%block content%}


                 


<section role="main" id="main">

        <hgroup id="main-title" class="thin">
            <h1>Utilisateur</h1>
            <h2>nov <h3 class="thin underline">10</h3></h2>
        </hgroup>


        <div class="with-padding">
            <form method="post" action="{{path('utilisateur_create')}}" class="block margin-bottom wizard same-height">

	<!-- Block style is optional, you can use any layout -->
	<h3 class="block-title">Nouveau Utilisateur</h3>

	<!-- Each form step should be wrapped in a fieldset -->
        <fieldset class="wizard-fieldset fields-list">

            <!-- The legend is used to retrieve step's title - if omitted or empty, the default title is used (see defaults below)  -->
            <legend class="legend">Informations</legend>

            <!-- Example input markup - optional, use any element within the fieldsets -->
            <div class="field-block button-height">


                <h3 class="thin underline">Utilisateur</h3>
                
                <div class="fieldset">


                    <p class="button-height inline-label">
                        <label for="input-3" class="label">Nom </label>
                        <input type="text" name="nom"  class="input full-width" >
                    </p>

                    <p class="button-height inline-label">
                        <label for="input-3" class="label">Prenom </label>
                        <input type="text" name="prenom"  class="input full-width" >
                    </p>

                    <p class="button-height inline-label">
                        <label for="input-3" class="label">login </label>
                        <input type="text" name="login"  class="input full-width" >
                    </p>

                    <p class="button-height inline-label">
                        <label for="input-3" class="label">E-Mail </label>
                        <input type="text" name="mail"  class="input full-width" >
                    </p>

                    <p class="button-height inline-label">
                        <label for="input-3" class="label">password </label>
                        <input type="password" name="password" id="pwd" class="input full-width pwd" >


                    </p>
                    <p class="button-height inline-label">
                        <label for="input-3" class="label">mobile </label>
                        <input type="number" name="mobile"  class="input full-width" >
                    </p>
                    <p class="button-height inline-label">
                        <label for="input-3" class="label"> adresse</label>
                        <input type="text" name="adresse"  class="input full-width" >
                    </p>

                    <p class="button-height inline-label">
                        <label for="input-3" class="label">ville</label>
                        <input type="text" name="ville"  class="input full-width" >
                    </p>

                    <p class="button-height inline-label">
                        <label for="input-3" class="label">Fonction</label>
                        <span class="" tabindex="select  replacement select-styled-list tracked">
                            <select id="role" name="role" class="select" tabindex="-1">
                                <option value="SUPER_ADMIN">ADMIN</option>					
                                <option value="MEDECIN">MEDECIN</option>
                                <option value="SECRETAIR">SECRETAIR</option>
                            </select>
                            <span class="select-arrow"></span>
                            <span class="drop-down"></span>
                        </span>
                    </p>


                    {#  <div class="button-height"><button type="submit" class="button blue-gradient">Submit</button></div>#}
                </div>




            </div>

         

        </fieldset>
        <fieldset class="wizard-fieldset fields-list">

            <!-- The legend is used to retrieve step's title - if omitted or empty, the default title is used (see defaults below)  -->
            <legend class="legend">Préférences</legend>

            <!-- Example input markup - optional, use any element within the fieldsets -->
            <div class="field-block button-height">
                
                   
                    <h3 class="thin underline">Interface</h3>
                    <p >
                        <label >Couleur : </label>
                        <input type="color" name="couleur"  class="form-control" />
                        <span class="input-group-addon"><i></i></span>
                    </p>
                    <p>
                        <label>Jeu d'icones :</label>
                        <select id="jeuIcones" name="jeuIcones" class="mid-margin-left select validate[required]">
                            <option value="Classique">Classique</option>
                            <option value="Moderne">Moderne</option>
                        </select>

                    </p>
                    <p >
                        <label>Largeur totale :</label>
                        <input type="text" name="largeurTotale" id="largeurTotale" size="30" class="input " value="">
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">
                                pixels, ou % de l'ecran
                            </span>
                        </span>
                    </p>
                    <p >
                        <label>Largeur de la colonne de droite :</label>
                        <input type="text" name="largeurColonneDroite" id="largeurColonneDroite" size="30" class="input " value="">
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">
                                en pixels
                            </span>
                        </span>
                    </p>
                           <h3 class="thin underline">Téléphone</h3>
                           
                                <p>
                                    <label>Utiliser la version française (10 choffres):</label>
                                    <input type="radio" name="versionTelephoneFrancaise" id="versionTelephoneFrancaise1" value="1" class="radio mid-margin-left" checked> <label>Oui</label>
                                    <input type="radio" name="versionTelephoneFrancaise" id="versionTelephoneFrancaise2" value="0" class="radio mid-margin-left"> <label  >Non</label>
                                </p>

                            

                       
                      
                           <h3 class="thin underline">Planning par défaut</h3>
                            
                                <p>Afficher uniquement les plages disponibles : 
                                    <input type="radio" name="plagesDisponiblesUniquement" id="plagesDisponiblesUniquement1" value="1" class="radio mid-margin-left"><label>Oui</label>
                                    <input type="radio" name="plagesDisponiblesUniquement" id="plagesDisponiblesUniquement2" value="0" class="radio mid-margin-left" checked><label>Non</label>

                                </p>
                                <p>Afficher les plages intercalaires(si présence de pésence de périodes non-continues de la journée) * :
                                    <input type="radio" name="plagesIntercalaires" id="plagesIntercalaires1" value="1" class="radio mid-margin-left" checked><label>Oui</label>
                                    <input type="radio" name="plagesIntercalaires" id="plagesIntercalaires2" value="0" class="radio mid-margin-left"><label>Non</label>

                                </p>

                                <p>Afficher uniquement les jours ouvrés (en vue hebdomadaire et mensuelle) : 
                                    <input type="radio" name="joursOuvresUniquement" id="joursOuvresUniquement" value="1" class="radio mid-margin-left" checked> <label  >Oui</label>
                                    <input type="radio" name="joursOuvresUniquement" id="joursOuvresUniquement1" value="0" class="radio mid-margin-left"> <label   >Non</label>

                                </p>


                                <p>Afficher uniquement les mémos non-transmis :
                                    <input type="radio" name="memosNonTransmisUniquement" id="memosNonTransmisUniquement" value="1" class="radio mid-margin-left"> <label >Oui</label>
                                    <input type="radio" name="memosNonTransmisUniquement" id="memosNonTransmisUniquement1" value="0" class="radio mid-margin-left" checked> <label  >Non</label>

                                </p>


                               
                                    <p>
                                    <div class="four-columns">Utiliser une vue hebdomadaire avec : </div> 
                                   
                                        <p> Un affichage
                                            <input type="radio" name="affichageHebdomadaireType" id="affichageHebdomadaireType1" value="1" class="radio mid-margin-left"> <label >Horizontal</label>
                                            <input type="radio" name="affichageHebdomadaireType" id="affichageHebdomadaireType" value="0" class="radio mid-margin-left" checked> <label >Verticale</label>
                                            (en mode réduit
                                            <input type="radio" name="affichageHebdomadaireModeReduit" id="affichageHebdomadaireModeReduit" value="1" class="radio mid-margin-left"> <label  >Oui</label>
                                            <input type="radio" name="affichageHebdomadaireModeReduit" id="affichageHebdomadaireModeReduit1" value="0" class="radio mid-margin-left" checked> <label  >Non</label>)
                                        </p>

                                        <p>
                                            <label>La séparation de mi-journéé à </label>
                                            <input class="select" type="time" name="affichageHebdomadaireSeparationMijournee" id="affichageHebdomadaireSeparationMijournee" value="" > *

                                        </p>
                               
                                <p>
                                    Lors de l'utilisation du mode réduit depuis la vue hebdomadaire,pour les rendez-vous, afficher :     
                                    <select id="affichageHebdomadaireReduitAfficher" name="affichageHebdomadaireReduitAfficher" class="select validate[required]">
                                        <option value="le libellé">le libellé</option>
                                        <option value="le libellé 2">le libellé 2</option>
                                        <option value="le libellé 3">le libellé 3</option>
                                        <option value="le libellé 4">le libellé 4</option>
                                    </select>
                                </p>
                                <p>
                                    Utiliser une vue mensuelle avec un affichage: 
                                    <input type="radio" name="vueMensuelleType" id="vueMensuelleType" value="1" class="radio mid-margin-left"> <label  >Verticale</label>
                                    <input type="radio" name="vueMensuelleType" id="vueMensuelleType1" value="0" class="radio mid-margin-left" checked> <label  >Calendrier</label>

                                </p>
                                <p>
                                    Sur les vues mutil utilisateurs, lorsque le compte consulté appartient à un groupe,n'afficher que les comptes de ce groupe :
                                    <input type="radio" name="comptesGroupeUniquement" id="comptesGroupeUniquement" value="1" class="radio mid-margin-left"> <label >Oui</label>
                                    <input type="radio" name="comptesGroupeUniquement" id="comptesGroupeUniquement1" value="0" class="radio mid-margin-left" checked> <label  >Non</label>

                                </p>
                                <p>
                                    Utiliser l'affichage dynamique pour les plannings (glisser-déposer des rendez-vous) :
                                    <input type="radio" name="affichageDynamique" id="affichageDynamique1" value="1" class="radio mid-margin-left" checked> <label  >Oui</label>
                                    <input type="radio" name="affichageDynamique" id="affichageDynamique" value="0" class="radio mid-margin-left"> <label  >Non</label>
                                </p>
                                <p>
                                    Proposer l'accès à la prise de méMo pour chque jours:
                                    <input type="radio" name="accesPriseMemo" id="accesPriseMemo" value="1" class="radio mid-margin-left" checked> <label >Oui</label>
                                    <input type="radio" name="accesPriseMemo" id="accesPriseMemo1" value="0" class="radio mid-margin-left"> <label  >Non</label>
                                </p>
                                <p>
                                    Visualiser uniquement le nombre des mémos présents pour un jour :
                                    <input type="radio" name="memosJourUniquement" id="memosJourUniquement" value="1" class="radio mid-margin-left"> <label  >Oui</label>
                                    <input type="radio" name="memosJourUniquement" id="memosJourUniquement1" value="0" class="radio mid-margin-left" checked> <label >Non</label>
                                </p>
                                <p>Faire dignoter l'icone lorsqu'au moins un mémo n'a pas été lu/transmis pour le jour concerné :
                                    <input type="radio" name="iconeMémoNonLu" id="iconeMémoNonLu" value="1" class="radio mid-margin-left"> <label >Oui</label>
                                    <input type="radio" name="iconeMémoNonLu" id="iconeMémoNonLu1" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                </p>
                                <p>Rayer les informations considérées comme transmies :
                                    <input type="radio" name="rayerInfoTransmies" id="rayerInfoTransmies" value="1" class="radio mid-margin-left"> <label >Oui</label>
                                    <input type="radio" name="rayerInfoTransmies" id="rayerInfoTransmies1" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                </p>
                                <p>Gestion des rendez-vous par :
                                    <input type="radio" name="choixGestionRendezVous" id="choixGestionRendezVous" value="1" class="radio mid-margin-left" checked> <label  >Les icones</label>
                                    <input type="radio" name="choixGestionRendezVous" id="choixGestionRendezVous1" value="0" class="radio mid-margin-left"> <label  >Menu accessible via un clic avec le bouton droit de la souris(inactif sous Opéra)</label>
                                </p>
                                <p>Revenir automatiquement à la date du jour lors du changment d'utilisateur:
                                    <input type="radio" name="versJourActuelle" id="versJourActuelle" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                    <input type="radio" name="versJourActuelle" id="versJourActuelle1" value="1" class="radio mid-margin-left"> <label  >Oui (excepté pour meme groupe)</label>
                                    <input type="radio" name="versJourActuelle" id="versJourActuelle2" value="2" class="radio mid-margin-left"> <label >Oui</label>

                                </p>
                                <p>
                                    Sur le planning des ressources, afficher comme conteun :
                                    <select id="contenuPlanningRessources" name="contenuPlanningRessources" class="select validate[required]">
                                        <option value="Le client fréquent associé au rendez-vous">Le client fréquent associé au rendez-vous</option>
                                        <option value="l'utilisateur concerné par la réservation">l'utilisateur concerné par la réservation</option>
                                        <option value="le libellé du rendez-vous">le libellé du rendez-vous</option>
                                        <option value="le client fréquent associé au rendez-vous">le client fréquent associé au rendez-vous</option>
                                    </select>
                                </p>
                                <p>Afficher la fenetre "Permiers pas" au démarrage  :
                                    <input type="radio" name="permiersPasDelarrage" id="permiersPasDelarrage1" value="1" class="radio mid-margin-left" checked><label>Oui</label>
                                    <input type="radio" name="permiersPasDelarrage" id="permiersPasDelarrage" value="0" class="radio mid-margin-left"><label>Non</label>
                                </p>

                                <p>
                                    Depuis les menus proposant la recherche de clients fréquents sur saisie de caratères  :

                                </p>
                                <p>
                                    -afficher la liste complète au chargment :
                                    <input type="radio" name="listeComplete" id="listeComplete" value="0" class="radio mid-margin-left"><label>Non</label>
                                    <input type="radio" name="listeComplete" id="listeComplete1" value="1" class="radio mid-margin-left" checked><label>Oui</label>

                                </p>
                                <p>
                                    -par défaut, utiliser la méthode de recherche :
                                    <input type="radio" name="methodeRecherche" id="methodeRecherche" value="1" class="radio mid-margin-left" checked> <label ><em>"Début"</em></label>
                                    <input type="radio" name="methodeRecherche" id="methodeRecherche1" value="0" class="radio mid-margin-left"> <label ><em>"Contient"</em></label>

                                </p>
                                <p>
                                    Disposer d'une alerte visuelle lors de création/modification d'Une instruction :
                                    <input type="radio" name="alerteCreationModification" id="alerteCreationModification" value="0" class="radio mid-margin-left"> <label  >Non</label>
                                    <input type="radio" name="alerteCreationModification" id="alerteCreationModification1" value="1" class="radio mid-margin-left" checked> <label  >Oui</label>

                                </p>
                                <p>
                                    Disposer d'une alerte visuelle signalant des taches non effectuées et/ou non lues :
                                    <input type="radio" name="alerteTachesNonEffectueesLues" id="alerteTachesNonEffectueesLues" value="0" class="radio mid-margin-left"> <label  >Non</label>
                                    <input type="radio" name="alerteTachesNonEffectueesLues" id="alerteTachesNonEffectueesLues1" value="1" class="radio mid-margin-left" checked> <label  >Oui</label>

                                </p>
                                <p>
                                    Disposer d'une alerte visuelle lorsqu'un utilisateur me créé ou modifie un mémo:
                                    <input type="radio" name="alerteCreeModifieMemo" id="alerteCreeModifieMemo" value="0" class="radio mid-margin-left" checked> <label >Non</label>
                                    <input type="radio" name="alerteCreeModifieMemo" id="alerteCreeModifieMemo1" value="1" class="radio mid-margin-left"> <label  >Oui</label>

                                </p>
                            

                       
                      

                           <h3 class="thin underline">Autres choix par défaut</h3>
                           
                                <p>
                                    Lors de l'accès aux mouvements:

                                </p>
                                <p>
                             
                                    <p>trier par ordre:
                                        <input type="radio" name="trierMouvements" id="trierMouvements" value="1" class="radio mid-margin-left" checked> <label >Décroissant</label>
                                        <input type="radio" name="trierMouvements" id="trierMouvements1" value="0" class="radio mid-margin-left"> <label  >Croissant</label>

                                    </p>
                                    <p>
                                        inclure les notes transmises :
                                        <input type="radio" name="notesTransmises" id="notesTransmises" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                        <input type="radio" name="notesTransmises" id="notesTransmises1" value="1" class="radio mid-margin-left"> <label  >Oui</label>

                                    </p>
                                    <p>
                                        inclure les notes récurrentes :
                                        <input type="radio" name="notesRecurrentes" id="notesRecurrentes" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                        <input type="radio" name="notesRecurrentes" id="notesRecurrentes1" value="1" class="radio mid-margin-left"> <label >Oui</label>

                                    </p>

                                    <p>
                                        uniquement celles prises/modifiées par d'autres utilisateurs  :
                                        <input type="radio" name="mouvementAutreUtilisateurs" id="mouvementAutreUtilisateurs" value="0" class="radio mid-margin-left"> <label  >Non</label>
                                        <input type="radio" name="mouvementAutreUtilisateurs" id="mouvementAutreUtilisateurs5" value="1" class="radio mid-margin-left" checked> <label  >Oui</label>

                                    </p>
                                    <p>
                                        pour les rendez-vous présentées, afficher :
                                        <input type="radio" name="afficherLibelle" id="afficherLibelle" value="0" class="radio mid-margin-left"> <label  >libellé seul  </label>
                                        <input type="radio" name="afficherLibelle" id="afficherLibelle1" value="1" class="radio mid-margin-left" checked> <label >libellé+détail</label>(
                                        <select id="detailLibelle" name="detailLibelle" class="select ">
                                            <option value="limité a 200 caractéres">limité a 200 caractéres</option>
                                            <option value="limité a 300 caractéres">limité a 300 caractéres</option>
                                            <option value="limité a 400 caractéres">limité a 400 caractéres</option>
                                            <option value="limité a 500 caractéres">limité a 500 caractéres</option>
                                        </select>)

                                    </p>
                                    <p>
                                        limiter aux informations agrées au maximum de :
                                        <select id="maxInfoAgrees" name="maxInfoAgrees" class="select validate[required]">
                                            <option value="7">7 jours</option>
                                            <option value="14">2 semaines</option>
                                            <option value="30">1 mois</option>
                                            <option value="60">2 mois</option>
                                            <option value="180">6 mois</option>
                                            <option value="365">1 ans</option>
                                            <option value="0">aucune limitation</option>
                                        </select>

                                    </p>
                               
                                </p>

                                <p>
                                    Lors de l'accès à la liste des taches:

                                
                                    <p>afficher :
                                        <input type="radio" name="afficherCelles" id="afficherCelles" value="0" class="radio mid-margin-left"> <label >celles du jour en cours</label>
                                        <input type="radio" name="afficherCelles" id="afficherCelles1" value="1" class="radio mid-margin-left"> <label  >celles de la semaine en cours</label>
                                        <input type="radio" name="afficherCelles" id="afficherCelles2" value="2" class="radio mid-margin-left" checked> <label >toutes</label>

                                    </p>
                                    <p>afficher :
                                        <input type="radio" name="afficherNomEffectuees" id="afficherNomEffectuees" value="1" class="radio mid-margin-left"> <label  >uniquement les nom effectuées</label>
                                        <input type="radio" name="afficherNomEffectuees" id="afficherNomEffectuees1" value="0" class="radio mid-margin-left" checked> <label  >toutes</label>

                                    </p>
                                    <p>afficher :
                                        <input type="radio" name="afficherNomLues" id="afficherNomLues" value="1" class="radio mid-margin-left"> <label >uniquement les nom lues</label>
                                        <input type="radio" name="afficherNomLues" id="afficherNomLues1" value="0" class="radio mid-margin-left" checked> <label  >toutes</label>

                                    </p>
                               

                                </p>
                                <p>
                                    Lors de la création d'un rendez-vous ou d'un mémo :
                               
                                    <p>
                                        le considérer comme déja transmis :
                                        <input type="radio" name="memoDejaTransmis" id="memoDejaTransmis" value="1" class="radio mid-margin-left" checked> <label  >uniquement si la date est passé</label>
                                        <input type="radio" name="memoDejaTransmis" id="memoDejaTransmis1" value="0" class="radio mid-margin-left"> <label  >dans tous les cas</label>


                                    </p>
                                
                                </p>

                                <p>
                                    Lors de l'accès au formulaire de rendez-vous:
                               
                                    <p>
                                        pré-positionner le cuseur:
                                        <input type="radio" name="positionnerCuseur" id="positionnerCuseur" value="1" class="radio mid-margin-left"> <label  >dans le libellé</label>
                                        <input type="radio" name="positionnerCuseur" id="positionnerCuseur1" value="0" class="radio mid-margin-left" checked> <label  >dans la zone de recherche du client fréquent par son nom</label>


                                    </p>
                                
                                </p>

                                <p>
                                    Lors de l'annulation d'un rendez-vous:
                               
                                    <p>
                                        forcer la saisie d'un motif:
                                        <input type="radio" name="motifAnnulationRV" id="motifAnnulationRV" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                        <input type="radio" name="motifAnnulationRV" id="motifAnnulationRV1" value="1" class="radio mid-margin-left"> <label  >Oui</label>


                                    </p>
                                    <p>
                                        demander la création d'un mémo par défaut :
                                        <input type="radio" name="memoAnnulationRV" id="memoAnnulationRV" value="0" class="radio mid-margin-left" checked> <label>Non</label>
                                        <input type="radio" name="memoAnnulationRV" id="memoAnnulationRV1" value="1" class="radio mid-margin-left"> <label  >Oui</label>


                                    </p>
                                    <p>
                                        si un mémo est à créer et qu'un client fréquent est lié (au rendez-vous), insérer ses information :
                                        <input type="radio" name="memoClientInformation" id="memoClientInformation" value="0" class="radio mid-margin-left" checked> <label >Non</label>
                                        <input type="radio" name="memoClientInformation" id="memoClientInformation1" value="1" class="radio mid-margin-left"> <label  >Oui</label>


                                    </p>
                                
                                </p>
                                <p>
                                    Lors de la création d'une tache :
                               

                                    <p>indiquer que cela concerne le compte principal:
                                        <input type="radio" name="tacheComptePrincipal" id="tacheComptePrincipal" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                        <input type="radio" name="tacheComptePrincipal" id="tacheComptePrincipal1" value="1" class="radio mid-margin-left"> <label>Oui</label>


                                    </p>

                                    <p>si cela concerne un autre utilisateur, par défaut la lui rendre visible:
                                        <input type="radio" name="tacheVisibleUtilisateurConcerne" id="tacheVisibleUtilisateurConcerne" value="0" class="radio mid-margin-left" checked> <label  >Non</label>
                                        <input type="radio" name="tacheVisibleUtilisateurConcerne" id="tacheVisibleUtilisateurConcerne1" value="1" class="radio mid-margin-left"> <label  >Oui</label>
                                    </p>

                                

                                </p>
                                <p>
                                    Lors de la recopie d'un rendez-vous : 
                               

                                    <p>
                                        conserver l'information afin de poursuivre la copie:
                                        <input type="radio" name="conserverInfoRVcopie" id="conserverInfoRVcopie" value="0" class="radio mid-margin-left"> <label >Non</label>
                                        <input type="radio" name="conserverInfoRVcopie" id="conserverInfoRVcopie1" value="1" class="radio mid-margin-left" checked> <label >Oui</label>
                                    </p>
                                
                                </p>
                            
                       

                      
                           <h3 class="thin underline">Impression</h3>
                           
                               
                                    Du planning quotidien (en mode mixte ou rendez-vous seuls):<br>
                                    <p>
                                        pour chaque rendez-vous, afficher :
                                        <select id="rendezVousAfficher" name="rendezVousAfficher" class="select validate[required]">
                                            <option value="le libellé et le détail">le libellé et le détail</option>
                                            <option value="le libellé seul">le libellé seul</option>
                                            <option value="le nom du client fréquent associé (si présent)">le nom du client fréquent associé (si présent)</option>
                                            <option value="le nom du client fréquent associé et le champ de liste (si présent)">le nom du client fréquent associé et le champ de liste (si présent)</option>
                                        </select>
                                    </p>
                                    <p>
                                        inclure les éventuels délimiteurs :

                                        <input type="radio" name="inclureDelimiteurs" id="inclureDelimiteurs" value="0" class="radio mid-margin-left" checked> <label>Non</label>
                                        <input type="radio" name="inclureDelimiteurs" id="inclureDelimiteurs1" value="1" class="radio mid-margin-left"> <label>Oui</label>

                                    </p>
                                
 
                                   
            </div>
                    

        </fieldset>
{#        <fieldset class="wizard-fieldset fields-list">

            <!-- The legend is used to retrieve step's title - if omitted or empty, the default title is used (see defaults below)  -->
            <legend class="legend">Semaine type</legend>

            <!-- Example input markup - optional, use any element within the fieldsets -->
            <div class="field-block button-height">
                Semaine type from
            </div>


        </fieldset>
        <fieldset class="wizard-fieldset fields-list">

            <!-- The legend is used to retrieve step's title - if omitted or empty, the default title is used (see defaults below)  -->
            <legend class="legend">Partage</legend>

            <!-- Example input markup - optional, use any element within the fieldsets -->
            <div class="field-block button-height">
                partage form
            </div>



        </fieldset>
        <fieldset class="wizard-fieldset fields-list">

            <!-- The legend is used to retrieve step's title - if omitted or empty, the default title is used (see defaults below)  -->
            <legend class="legend">Alertes & rappels</legend>

            <!-- Example input markup - optional, use any element within the fieldsets -->
            <div class="field-block button-height">
                alertes form
            </div>

            <button type="submit"></button>
        </fieldset>#}

	<!-- Add as many fieldsets as required -->
 <input type="submit" class="btn-primary" value="Enregister">
</form>

        </div>

    </section>

              {% endblock content %}
              {% block js_content %}
	<script>

		{#$(document).ready(function()
		{
				// Elements
			var form = $('.wizard'),

				// If layout is centered
				centered;

			// Handle resizing (mostly for debugging)
			function handleWizardResize()
			{
				centerWizard(false);
			};

			// Register and first call
			$(window).on('normalized-resize', handleWizardResize);

			/*
			 * Center function
			 * @param boolean animate whether or not to animate the position change
			 * @return void
			 */
			function centerWizard(animate)
			{
				form[animate ? 'animate' : 'css']({ marginTop: Math.max(0, Math.round(($.template.viewportHeight-30-form.outerHeight())/2))+'px' });
			};

			// Initial vertical adjust
			centerWizard(false);

			// Refresh position on change step
			form.on('wizardchange', function() { centerWizard(true); });

			// Validation
			if ($.validationEngine)
			{
				form.validationEngine();
			}
		});
#}
	</script>
   

               {% endblock  %}