{% extends "::base.html.twig" %}  
{%block content%}





    <section role="main" id="main">

        <hgroup id="main-title" class="thin">
            <h1>Utilisateur</h1>
            <h2>nov <strong>10</strong></h2>
        </hgroup>


        <div class="with-padding">

            <div id="sorting-advanced_wrapper" class="dataTables_wrapper" role="grid">
                <table class="table responsive-table responsive-table-on dataTable" id="sorting-advanced" aria-describedby="sorting-advanced_info">

                    <thead>
                        <tr role="row">
                            <th scope="col" class="sorting_disabled" role="columnheader"><input type="checkbox" name="check-all" id="check-all" value="1"></th>
                            <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" >Nom d'utilisateu</th>
                            <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" >Nom</th>
                            <th scope="col"  class="align-center hide-on-mobile sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" aria-label="Date: activate to sort column ascending" style="width: 151px;">Prenom</th>
                            <th scope="col"  class="align-center hide-on-mobile-portrait sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" aria-label="Status: activate to sort column ascending" style="width: 151px;">E-Mail</th>
                            <th scope="col"  class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" aria-label="Tags: activate to sort column ascending" >Fonction</th>
                            <th scope="col"  class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" aria-label="Tags: activate to sort column ascending" >Dernière connexion</th>
                            <th scope="col"  class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" aria-label="Tags: activate to sort column ascending" >Etat</th>
                            <th scope="col"  class="align-center sorting_disabled" role="columnheader" aria-label="Actions" >Actions</th></tr>
                    </thead>
                    <tfoot>

                    </tfoot>



                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        {%for u in users%}
                            {%if app.user.username != u.username%}
                        <tr class="odd">
                            <th scope="row" class="checkbox-cell  sorting_1"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
                            <td class=" ">{{u.username}}</td>
                            <td class="hide-on-mobile ">{{u.nom}}</td>
                            <td class="hide-on-mobile-portrait ">{{u.prenom}}</td>
                            <td class="hide-on-mobile-portrait ">{{u.Email}}</td>
                            <td class="hide-on-mobile-portrait ">
                                {% if is_granted('ROLE_SUPER_ADMIN')  %}
                                    Administrateur
                                {%elseif   is_granted('ROLE_MEDECIN')%}
                                    Medecin
                                {%elseif   is_granted('ROLE_SECRETAIRE')%}
                                    Secretaire
                                {%endif%}   
                            </td>
                            <td class="hide-on-mobile-portrait ">
                          {% if u.lastLogin %}{{ u.lastLogin|date('Y-m-d H:i:s') }}{% endif %}
                            
                            </td>
                            <td class="hide-on-tablet ">
                             {% if u.enabled==1 %}
                                <small class="tag green-bg">Activé</small>
                            {%elseif u.enabled ==0 %}
                                 <small class="tag red-bg">Desactivé</small> 
                            {%endif%}
           
                            </td>
                            <td class="low-padding align-center "><a href="#" class="button compact icon-gear">Edit</a></td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>             
            </div>
        </div>
    </section>
{#
    {%block js_footer%}

    {%endblock js_footer%}#}

 {%block js_content%}
   
    
    <script>

        // Call template init (optional, but faster if called manually)
    

        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({
            'aoColumnDefs': [
                {'bSortable': false, 'aTargets': [0, 5]}
            ],
            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function (oSettings)
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });


   
    </script>
 {%endblock%}
{% endblock content %}
