{% extends "::base.html.twig" %}  
                {%block content%}
                    <style>
                        body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
                    </style>
<section role="main" id="main">

        <hgroup id="main-title" class="thin">
            <h1>Utilisateur</h1>
            <h2>nov <strong>10</strong></h2>
        </hgroup>


        <div class="with-padding">

          <table class="simple-table responsive-table responsive-table-on">
                    <tr>
                        <th class="per30" style=" background-color:#e4e9eb;">Nom d'utilisateu :</th><td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th class="per30" style=" background-color:#e4e9eb;">Nom :</th><td>{{ user.nom }}</td>
                    </tr>
                    <tr>
                        <th class="per30" style=" background-color:#e4e9eb;">Prenom :</th><td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th class="per30"style=" background-color:#e4e9eb;">Email : </th><td>{{ user.email}}</td>
                    </tr>
                    <tr>
                        <th class="per30" style=" background-color:#e4e9eb;">Fonction  :</th><td>
                            
                            {% if is_granted('ROLE_SUPER_ADMIN')  %}
                                    Administrateur
                                {%elseif   is_granted('ROLE_MEDECIN')%}
                                    Medecin
                                {%elseif   is_granted('ROLE_SECRETAIRE')%}
                                    Secretaire
                                {%endif%} 
                        </td>  
                    <tr>
                         <th class="per30" style=" background-color:#e4e9eb;">Dernière connexion  :</th><td>  {% if user.lastlogin %}{{ user.lastlogin|date('Y-m-d h:m:s') }}{% endif %}</td>
                    </tr>
                    
           </table>  
                         <a href="{{path('fos_user_change_password')}}" >Changer Mot de Pass</a>

        </div>

    </section>
           
              {% endblock content %}
