{% extends "::base2.html.twig" %}
{% block title %}
    Liste des mémos
{% endblock %}
{% block my_script %}
{{ parent() }}
<script src="{{ asset('asset/js/developr.modal.js')}}"></script>
<script>

    // Call template init (optional, but faster if called manually)
    $.template.init();

    // Table sort - DataTables
    var table = $('#sorting-advanced');
    table.dataTable({
        'scrollY': "10px",
        'scrollCollapse': true,
        'scrollX': true,
        'aoColumnDefs': [
            {'bSortable': false, 'aTargets': [0, 5]}
        ],
        'sPaginationType': 'full_numbers',
        'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
        'fnInitComplete': function(oSettings)
        {
            // Style length select
            table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
            tableStyled = true;
        }
    });
    /*
    $('#sorting-advanced tfoot th').each( function(){
       var title = $('#sorting-advanced thead th').eq($(this).index()).text();
        $(this).html('<input class="input" type="text" placeholder="Chercher '+title+'"/>');
    });
    table.columns().eq(0).each( function(colIdx){
        $('input',table.column(colIdx).footer()).on('keyup change',function(){
            table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
        });
    });*/

    // Table sort - styled
    $('#sorting-example1').tablesorter({
        headers: {
            0: {sorter: false},
            5: {sorter: false}
        }
    }).on('click', 'tbody td', function(event)
            {
                // Do not process if something else has been clicked
                if (event.target !== this)
                {
                    return;
                }

                var tr = $(this).parent(),
                        row = tr.next('.row-drop'),
                        rows;

                // If click on a special row
                if (tr.hasClass('row-drop'))
                {
                    return;
                }

                // If there is already a special row
                if (row.length > 0)
                {
                    // Un-style row
                    tr.children().removeClass('anthracite-gradient glossy');

                    // Remove row
                    row.remove();

                    return;
                }

                // Remove existing special rows
                rows = tr.siblings('.row-drop');
                if (rows.length > 0)
                {
                    // Un-style previous rows
                    rows.prev().children().removeClass('anthracite-gradient glossy');

                    // Remove rows
                    rows.remove();
                }

                // Style row
                tr.children().addClass('anthracite-gradient glossy');

                // Add fake row
                $('<tr class="row-drop">' +
                        '<td colspan="' + tr.children().length + '">' +
                        '<div class="float-right">' +
                        '<button type="submit" class="button glossy mid-margin-right">' +
                        '<span class="button-icon"><span class="icon-mail"></span></span>' +
                        'Send mail' +
                        '</button>' +
                        '<button type="submit" class="button glossy">' +
                        '<span class="button-icon red-gradient"><span class="icon-cross"></span></span>' +
                        'Remove' +
                        '</button>' +
                        '</div>' +
                        '<strong>Name:</strong> John Doe<br>' +
                        '<strong>Account:</strong> admin<br>' +
                        '<strong>Last connect:</strong> 05-07-2011<br>' +
                        '<strong>Email:</strong> john@doe.com' +
                        '</td>' +
                        '</tr>').insertAfter(tr);

            }).on('sortStart', function()
            {
                var rows = $(this).find('.row-drop');
                if (rows.length > 0)
                {
                    // Un-style previous rows
                    rows.prev().children().removeClass('anthracite-gradient glossy');

                    // Remove rows
                    rows.remove();
                }
            });

    // Table sort - simple
    $('#sorting-example2').tablesorter({
        headers: {
            5: {sorter: false}
        }
    });

</script>
<script>
/*function openConfirm()
{
$.modal.confirm('Confirmez-vous vouloir supprimer ce mémo ?', function()
{
$.modal.alert('La supression est effectuée !');

}, function()
{
$.modal.alert('La supression est annulée !');
});
};*/

function openModal()
{
    $.modal({
        title: 'Suppression du mémo',
        content: '<h4 class="green-gradient glossy">Suppression du mémo est effectuée</h4>',
        width: 300,
        resizable: false,
        scrolling: false,
        actions: {
            'Fermer' : {
                color: 'red',
                click: function(win) { win.closeModal(); }
            }
        },
        buttons: {
            'Annuler': {
                classes:	'blue-gradient glossy',
                click:		function(win) { win.closeModal(); }
            }
        }
    });
}
function openComplexModal(id)
{
    $.modal({
        content: '<p>Confirmez-vous vouloir supprimer ce mémo ?</p>',
        title: 'Suppression de mémo',
        width: 300,
        resizable: false,
        scrolling: false,
        actions: {
            'Fermer' : {
                color: 'red',
                click: function(win) { win.closeModal(); }
            }
        },
        buttons: {
            'Oui,supprimer': {
                classes:	'red-gradient glossy',
                click: function(result) {
                    window.location.href="http://localhost/monagenda_/web/app_dev.php/memo/supp/"+id;
                    window.event.onload = openModal()
                }
            },
            'Non': {
                classes:	'blue-gradient glossy',
                click:		function(win) { win.closeModal(); }
            }
        },
        buttonsLowPadding: true
    });
};
function openComplexModal1(id)
{
    $.modal({
        content: '<p>Confirmez-vous vouloir modifier ce mémo ?</p>',
        title: 'Modification de mémo',
        width: 300,
        resizable: false,
        scrolling: false,
        actions: {
            'Fermer' : {
                color: 'red',
                click: function(win) { win.closeModal(); }
            }
        },
        buttons: {
            'Oui,modifier': {
                classes:	'red-gradient glossy',
                click: function(result) {
                    window.location.href="http://localhost/monagenda_/web/app_dev.php/memo/edit/"+id;
                }
            },
            'Non': {
                classes:	'blue-gradient glossy',
                click:		function(win) { win.closeModal(); }
            }
        },
        buttonsLowPadding: true
    });
};
</script>
{% endblock %}
{% block content %}
<div class="with-padding">
    <div class="with-padding with-border">
<h3>Liste des mémos</h3>
<table class="table responsive-table" id="sorting-advanced">
    <thead>
    <tr>
        <th align="center">ID</th>
        <th align="center">Phrase usuelle</th>
        <th align="center">Client Fréquent</th>
        <th align="center">Détail</th>
        <th align="center">Date d'enregistrement</th>
        <th align="center">Prioritaire</th>
        <th align="center">Alerte</th>
        <th align="center">Status de transmission</th>
        <th align="center">Permanente</th>
        <th align="center">Action</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th align="center">ID</th>
        <th align="center">Phrase usuelle</th>
        <th align="center">Client Fréquent</th>
        <th align="center">Détail</th>
        <th align="center">Date d'enregistrement</th>
        <th align="center">Prioritaire</th>
        <th align="center">Alerte</th>
        <th align="center">Status de transmission</th>
        <th align="center">Permanente</th>
        <th align="center">Action</th>
    </tr>
    </tfoot>

    <tbody>
    {% for m in memos %}
    <tr>
        <td align="center">
            {{ m.id }}
        </td>
        <td align="center">
            {{ m.phraseUsuelle.text }}
        </td>
        <td align="center">
            {{ m.clientFrequent.nom }}
        </td>
        <td align="center">
            {{ m.detail }}
        </td>
        <td align="center">
            {{ m.dateenregistrement | date('Y-m-d') }}
        </td>
        <td align="center">
            {% if m.priorite == 1 %}
            Oui
            {% else %}
            Non
            {% endif %}
        </td>
        <td align="center">
            {% if m.alert == 1 %}
            Par Mail
            {% elseif m.alert == 2 %}
            par SMS
            {% elseif m.alert == 4 %}
            par FAX
            {% elseif m.alert == 3 %}
            Par Mail et par SMS
            {% elseif m.alert == 5 %}
            Par Mail et par FAX
            {% elseif m.alert == 6 %}
            Par SMS et par FAX
            {% else %}
            Par Mail, par SMS et par Fax
            {% endif %}
        </td>
        <td align="center">
            {% if m.status == 1 %}
            Oui
            {% else %}
            Auto
            {% endif %}
        </td>
        <td align="center">
            {{ m.permanante }}
        </td>
        <td class="center">
            <a href="javascript: openComplexModal({{ m.id }})" title="Supprimer" alt="Supprimer"> <span class="icon-trash"></span> </a>
            <a href="javascript: openComplexModal1({{ m.id }})" title="Modifier" alt="Modifier"> <span class="icon-pencil"></span> </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% endblock %}
