{% extends "::base.html.twig" %}

{% block title %}
Modifier Memo
{% endblock %}
{% block my_script %}
{{ parent() }}
    <script>
    function affecterDateAujourdhui(id){
        var d = new Date();
        var mois = d.getMonth()+1;
        var now = d.getDay()+'/'+ mois +'/'+d.getFullYear();
    document.getElementById(id).value = now;
    }
    function recup1(){
        var valeur1;
        return valeur1 = document.getElementById('agenda_memobundle_general_type_clientFrequent').options[document.getElementById('agenda_memobundle_general_type_clientFrequent').selectedIndex].value;
        document.getElementById("agenda_memobundle_general_type_detail").value = valeur1;

    }
    function recup2(){
        var valeur2;
        valeur2 = document.getElementById('agenda_memobundle_general_type_phraseUsuelle').options[document.getElementById('agenda_memobundle_general_type_phraseUsuelle').selectedIndex].text;
        document.getElementById("agenda_memobundle_general_type_detail").value = valeur2;
    }
    </script>
{% endblock %}
{% block content %}
<div class="with-padding">
    <div class="with-padding with-border">
        {{ form_start(form) }}
        <table class="table responsive-table">

            <thead>
            <tr>
                <th class="scratch-metal" scope="col" colspan="8" align="center">Gestion de mémos</th>
            </tr>
            </thead>

            <tbody>
            <tr>
            <tr>
                <th scope="row" >
                    Phrase usuelle
                </th>
                <td colspan="2">{{ form_widget(form.phraseUsuelle) }}
                    <span class="help-inline">{{ form_errors(form.phraseUsuelle) }}</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Client Fréquent
                </th>
                <td colspan="2">
                    {{ form_widget(form.clientFrequent) }}
                    <span class="help-inline">{{ form_errors(form.clientFrequent) }}</span>
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <th scope="row">
                    Détail
                </th>
                <td colspan="8">
                    {{ form_widget(form.detail) }}
                    <span class="help-inline">{{ form_errors(form.detail) }}</span>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Date
                </th>
                <td colspan="2">
                    <span class="icon-calendar"></span>
                    <input id="agenda_memobundle_general_type_dateenregistrement" name="dateenregistrement" type="text" class="input datepicker" value="{{m.dateenregistrement|date('d/m/Y')}}" readonly>
                    <span class="help-inline"></span>
                </td>
                <td>
                                                    <span class="button-group">
                                                        <button type="button"  class="button" onclick=affecterDateAujourdhui("agenda_memobundle_general_type_dateenregistrement")>Aujourd'hui</button>
                                                    </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Prioritaire
                </th>
                <td colspan="2">
                    {{ form_widget(form.priorite) }}
                    <span class="help-inline">{{ form_errors(form.priorite) }}</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Alerter
                </th>
                {% if m.alert == 1 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox"> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox"> par Fax</td>
                {% elseif m.alert == 2 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox"> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox"> par Fax</td>
                {% elseif m.alert == 4 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox"> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox"> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% elseif m.alert == 3 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox"> par Fax</td>
                {% elseif m.alert == 5 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox"> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% elseif m.alert == 6 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox"> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% else %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% endif %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Etat
                </th>
                <td colspan="3">Considérer le mémo comme transmis: </td>
                <td>
                    {{ form_widget(form.status) }}
                    <span class="help-inline">{{ form_errors(form.status) }}</span>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td colspan="2">
                    {{ form_widget(form.Enregistrer) }}
                    <a href="{{ path('agenda_memo_calendrier') }}" class="button icon-replay-all">Annuler</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}s
    </div>
</div>
{% endblock %}
