{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"  id="form-register" class="input-wrapper green-gradient glossy" title="Inscription" style="display: block;">

						<p class="message">
							Nouvel utilisateur? Laissez-nous en savons un peu plus sur vous avant de commencer
							<span class="block-arrow"><span></span></span>
						</p>

						<ul class="inputs black-input large">
							<li><span class="icon-card mid-margin-right"></span>
                                                        {{ form_widget(form.username , { 'attr': {'class': "input-unstyled",'placeholder': "Identifiant"} }) }}
                                                        </li>
							<li><span class="icon-mail mid-margin-right"></span>
                                                        {{ form_widget(form.email , { 'attr': {'class': "input-unstyled",'placeholder': "E-Mail"} }) }}
                                                        </li>
						</ul>
						<ul class="inputs black-input large">
							<li><span class="icon-user mid-margin-right"></span>
                                                        {{ form_widget(form.plainPassword.first , { 'attr': {'class': "input-unstyled",'placeholder': "Mot de passe"} }) }}    
                                                        </li>
							<li><span class="icon-lock mid-margin-right"></span>
                                                        {{ form_widget(form.plainPassword.second , { 'attr': {'class': "input-unstyled",'placeholder': "Verification du Mot de passe"} }) }}        
                                                        </li>
						</ul>

						 <button type="submit" class="button glossy full-width" value="{{ 'registration.submit'|trans }}" >Inscription</button>

</form>