<form action="{{path('annulation',{'id':event.id})}}">
                            <table class=" table simple-table" >
                                <thead ><tr><th scope="col" width="30%" colspan="2" class="align-center" >Annulation de rendez-vous</th></tr></thead>
                              
                            <tbody>
                            <tr>
                                <td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Rendez-vous </td>
                               
                                <td>
                                    <p style="font-size: 2àpx"> <strong>de :</strong> {{event.client.nom}} {{event.client.prenom}}<br>
                                     <strong>du :</strong>{{event.datedebut|date('D-M-Y')}} <strong> de </strong>{{event.datedebut|date('H:i')}}<strong> à </strong>{{event.end|date('H:i')}}<br>
                                     <strong>avec le client fréquent </strong> {{event.client.nom}} {{event.client.prenom}}<br>
                                     <strong>libellé :</strong> {{event.libelle}}
                                   </p>
                                </td>
                            </tr>
                            
                            
                             <tr>
                                <td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Motif</td>
                                
                                <td>
                                   <p><select name="phraseusuelle" class="select expandable-list" style="width:30em" >
                                       <option  >--Phrases useuelles--</option>
                                        {%for phrase in phrases%}
                                        <option value="{{phrase.id}}" >{{phrase.text}}</option>
                                       
                                          {%endfor%}
                                    </select><br>
                                     <select name="entete" class="select expandable-list" style="width:30em" >
                                        <option  >--Entétes--</option>
                                        {%for i in 1..5 %}
                                        <option value="entete-{{i}}" >entete-{{i}}</option>
                                        {%endfor%}

                                    </select></p>
                                  <textarea style="width: 30em"class="input" name="myEntete">Default textarea</textarea>
                                </td>
                            </tr>
                           
                            
                            <tr>
                                <td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center" >Groupe</td>
                               
                                <td>
                                    <div class="columns">
                                        <div class="one-columns">
                                            <input  type="radio" name="radio1" id="radio_1" value="non" class="radio"> <label for="NON">Non</label>                  
                                        </div>       
                                        <div class="one-columns">
                                        </div>
                                        <div class="one-columns">
                                            <input  type="radio" name="radio1" id="radio_1" value="non" class="radio"> <label for="NON">Oui,conserver les infromations</label>                                                      
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                 <td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Alerter</td>
                                
                                  <td>
                                      <div class="columns">
                                          <div class="one-columns">
                                              le prssesseur de l'agenda :
                                          </div>
                                        <div class="one-columns">     
                                            <input class="styled checkbox" type="checkbox" name="myAlert[]" id="check-1" value="1"> par mail
                                        </div>       
                                        <div class="one-columns">
                                              <input class="styled checkbox" type="checkbox" name="myAlert[]" id="check-1" value="2"> par SMS
                                        </div>
                                        
                                    </div>
                                       <div class="columns">
                                          <div class="one-columns">
                                              le client fréquent :
                                          </div>
                                        <div class="one-columns">     
                                              <input class="styled checkbox" type="checkbox" name="clientAlert[]" id="check-1" value="1"> par mail
                                        </div>       
                                        <div class="one-columns">
                                              <input class="styled checkbox" type="checkbox" name="clientAlert[]" id="check-1" value="2"> par SMS
                                        </div>
                                       
                                    </div>
                                </td>
                                </tr>
                                
                               <tr>
                                <td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Créer</td>
                                
                                <td>
                                    <div class="columns">
                                        <div class="one-columns">
                                             Considérer l'annulation comme transmise :
                                        </div>
                                        <div class="one-columns">
                                            <input  type="radio" name="report" id="radio_1" value="0" class="radio"> <label for="NON">Non</label>                  
                                        </div>       
                                        <div class="one-columns">
                                        </div>
                                        <div class="one-columns">
                                            <input  type="radio" name="report" id="radio_1" value="1" class="radio"> <label for="NON">Oui </label>                                                      
                                        </div>
                                    </div>
                                </td>
                            </tr>
                             <tfoot>
                        <tr>
                            <td colspan="2" class="align-center">
                                 <div class="columns">
                                    <div class="three-columns">
                                    </div>
                                    <div class="four-columns">
                                        <button type="submit" class="button blue-gradient" value="Ajout">Annuler ce rendez-vous</button>
                                    </div>
                                    <div class="tow-columns">
                                        <button type="submit" class="button blue-gradient" value="Ajout">Fermer cette fenetre</button>
                                    </div>
                                </div>
                          
                            </td>
                        </tr>
                    </tfoot>
                            </table>
</form>