{% extends '::base.html.twig' %}
{% block content %}

<table class="table responsive-table" id="sorting-advanced">

    <thead>
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col" width="15%" class="align-center hide-on-mobile">Durée(/durée altérnatif)</th>
            <th scope="col" width="60" class="align-center">Actions</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <td colspan="6">
                6 entries found
            </td>
        </tr>
    </tfoot>

    <tbody>
                                    {%for rdvType in rdvTypes%}
        <tr id="{{rdvType.id}}">
            <td>{{rdvType.libelle}}</td>
            <td>{{rdvType.dureee|date('H:i')}}</td>

            <td class="low-padding align-center">           
                <span class="button-group compact">
                    <a href="{{path('modifierRdvType',{'id':rdvType.id})}}" class="button icon-pencil with-tooltip" title="Modifier"></a>
                    <a onclick="openDeleteConfirm({{rdvType.id}})" class="button icon-trash with-tooltip confirm" title="Supprimer"></a>
                </span>
            </td>   
        </tr>
	{%endfor%}	
    </tbody>

</table>
<script>
    function openDeleteConfirm(id)
    {
        $.modal.confirm('voulez vous vraiment supprimer ?', function()
        {
            deleteLigne(id);
    {# $.modal.alert("l'instruction a éte supprimée");#}
        }, function()
        {
        });
    }
    ;
    function deleteLigne(id) {
        var myId = id;
        console.log(id);
        $.ajax({
            url: 'http://localhost/monagenda/web/app_dev.php/rendezVous/deleteRdvType/'+id,
            type: "get",
            success: function(data) {
                $("#" + myId).remove();
                console.log("success");
            }
        });
    }

</script>

{% endblock %}