{% extends '::base.html.twig' %}
{% block content %}
<form action ="{{ path('updateRdvType',{'id':rdvType.id}) }}" method="post">
<table class="simple-table responsive-table fluid" id="sorting-example2" >
<thead>
<tr>
    <td align="center" colspan="2">
        Gestion des rendez-vous types
    </td>
</tr>
</thead>
<tbody>
<tr>
    <td style="width: 14em">
        <p>
            <strong>Choix du RDV type :</strong>
        </p>
    </td>
    <td>
        <select name="newRdv"  class="select compact l" style="width: 27em">
            <option value="1">-- Nouvelle RDV type --</option>
            <option value="2">consultation</option>
            <option value="3">examination</option>
            <option value="4">test respiration</option>
        </select>
    </td>
</tr>
<tr>
    <td>
        <p>
            <strong>Libellé</strong>
        </p>
    </td>

    <td>
        <input name="libelle" type="text" size="25" value="Consultation" class="input" value="{{rdvType.libelle}}" >
    </td>
</tr>
<tr>
    <td>
        <p>
            <strong>Durée</strong>
        </p>
    </td>

    <td>
        <p>

            d'une durée :
            <input type="text" name="duree" style="width: 40px" id="time3" class="input" value="{{rdvType.dureee|date('H:i')}}" >
            (concaténer le texte suivant au libllé : <input name="concat" type="text" size="25"  class="input" >)
        </p>
    </td>
</tr>
<tr>
    <td>
        <p>
            <strong>Couleur</strong>
        </p>
    </td>

    <td>
        <input  type="color" name="couleur" class="input" style="width: 15em" value="{{rdvType.couleur}}">
    </td>
</tr>
<tr>
    <td>
        <p>
            <strong>Information</strong>
        </p>
    </td>

    <td>
        <textarea name="information" id="autoexpanding" class="input full-width autoexpanding">
{{rdvType.information}}
           </textarea>


    </td>
</tr>
<tr>
    <td class="vertical-center">
        <p>
            <strong>Champs du client fréquent requis</strong>
        </p>
    </td>

    <td>
        <output class="underline">Champs permanent :</output>
        <br>
        <br>
        <input class="styled checkbox" type="checkbox" name="telDomicile" id="checkbox-1" value="1" {%if rdvType.telDomicie==1%}checked="checked"{%endif%}>
        <label for="checkbox-1" class="label">Tél. Domicile</label>
        <br>
        <input class="styled checkbox" type="checkbox" name="telTravail" id="checkbox-2" value="1" {%if rdvType.telTravail==1%}checked="checked"{%endif%}>
        <label for="checkbox-1" class="label">Tél. Travail</label>
        <br>
        <input  class="styled checkbox" type="checkbox" name="telMobile" id="checkbox-3" value="1" {%if rdvType.telMobile==1%}checked="checked"{%endif%} >
        <label for="checkbox-1" class="label">Tél. Mobile</label>
        <br>
        <input class="styled checkbox" type="checkbox" name="telBox" id="checkbox-4" value="1" {%if rdvType.telBox==1%}checked="checked"{%endif%} >
        <label for="checkbox-1" class="label">Tél. Box</label>
        <br>
        <input class="styled checkbox" type="checkbox" name="adresse" id="checkbox-5" value="1" {%if rdvType.adresse==1%}checked="checked"{%endif%}>
        <label for="checkbox-1" class="label">Adresse</label>
        <br>
        <input class="styled checkbox" type="checkbox" name="email" id="checkbox-6" value="1" {%if rdvType.email==1%}checked="checked"{%endif%}>
        <label for="checkbox-1" class="label">E-mail</label>
        <br>
        <input class="styled checkbox" type="checkbox" name="notes" id="checkbox-7" value="1" {%if rdvType.notes==1%}checked="checked"{%endif%} >
        <label for="checkbox-1" class="label">Notes</label>
        <br>
        <br>
        <output class="underline">Champs nom-partagés :</output>
        <br>
        <br>
        <input class="styled checkbox" type="checkbox" name="dateNaissance" id="checkbox-8" value="1" {%if rdvType.dateNaissance==1%}checked="checked"{%endif%}>
        <label for="checkbox-1" class="label">Date de naissance</label>
        <br>
        <input class="styled checkbox" type="checkbox" name="nomJF" id="checkbox-9" value="1" {%if rdvType.nomJF==1%}checked="checked"{%endif%}>
        <label for="checkbox-1" class="label">Nom de JF</label>
        <br>
        <input class="styled checkbox" type="checkbox" name="lastVisit" id="checkbox-10" value="1" {%if rdvType.lastVisit==1%}checked="checked"{%endif%}>
        <label for="checkbox-1" class="label">Derniére visite</label>
    </td>
</tr>
<tr>
    <td class="vertical-center">
        <p>
            <strong>Champs du client fréquent a reporter</strong>
        </p>
    </td>

    <td class="vertical-center">
        <input class="radio" type="radio" name="champClient" id="radio-1" value="1" {%if rdvType.champsClient==1 %}checked="checked"{%endif%}>
        Tous les champs renseignés
        <output style="color: white">.  .</output>
        <input class="radio" type="radio" name="champClient" id="radio-1" value="0" {%if rdvType.champsClient==0 %}checked="checked"{%endif%}>
        Seuls les champs requis
    </td>
</tr>
<tr>
    <td>
        <p>
            <strong>Selectionnable lors de la prise de rendez-vous par internet</strong>
        </p>
    </td>

    <td class="vertical-center">
        <input class="radio" type="radio" name="selectionnable" id="radio-1" value="0" {%if rdvType.selectionnable==0 %}checked="checked"{%endif%} >
        Non
        <output style="color: white">.  .</output>
        <input class="radio" type="radio" name="selectionnable" id="radio-1" value="1" {%if rdvType.selectionnable==1 %}checked="checked"{%endif%}>
        Oui
    </td>
</tr>
<tr>
    <td>
        <p>
            <strong>Information supplémentaires pour notes récurrentes</strong>
        </p>
    </td>

    <td class="vertical-center">
        <input class="radio" type="radio" name="infoSup" id="radio-1" value="0" {%if rdvType.infoSup==0 %}checked="checked"{%endif%}>
        Non
        <output style="color: white">.  .</output>
        <input class="radio" type="radio" name="infoSup" id="radio-1" value="1" {%if rdvType.infoSup==1 %}checked="checked"{%endif%}>
        Oui
    </td>
</tr>
<tr>
    <td class="vertical-center">
        <p>
            <strong>Sélectionné par défaut</strong>
        </p>
    </td>

    <td>
        <input class="radio" type="radio" name="selectParDef" id="radio-1" value="0" {%if rdvType.selectParDef==0 %}checked="checked"{%endif%}>
        Non
        <output style="color: white">.  .</output>
        <input class="radio" type="radio" name="selectParDef" id="radio-1" value="1" {%if rdvType.selectParDef==1 %}checked="checked"{%endif%}>
        Oui
    </td>
</tr>
<tr>
    <td>
        <p>
            <strong>Choix spécifique sur alertes/rappels</strong>
        </p>
    </td>

    <td class="vertical-center">
        <input class="radio" type="radio" name="choixAlertRappel" id="radio-1" value="0" {%if rdvType.choixAlertRappel==0 %}checked="checked"{%endif%}>
        Non
        <output style="color: white">.  .</output>
        <input class="radio" type="radio" name="choixAlertRappel" id="radio-1" value="1" {%if rdvType.choixAlertRappel==1 %}checked="checked"{%endif%} >
        Oui
    </td>
</tr>
<tr>
    <td colspan="2" align="center">
        <button type="submit" class="button compact">Enregistrer</button>
        <button type="button" class="button compact">Annuler</button>
        <button type="button" class="button compact" disabled>Supprimer</button>
    </td>
</tr>
</tbody>
</table>

    </form>
{% endblock %}