{% extends "::base.html.twig" %}
{% block mesScript %}
    {#<script>#}
   {#$("#radio_1").prop("checked",true);#}

    {#</script>#}
{% endblock %}
{% block content %}
    <div class="with-padding">

    <form action="{{ path('update',{'id':event.id} )}}" method="post">
    <table class="simple-table responsive-table responsive-table-on" >

    <tbody>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">John Doe</td>
        <td >
            <select name="libelle" class="select expandable-list" style="width:40em" >
                <option >--Libellés personnalisés--</option>
                <option value="libelle 1" >libelle 1</option>
                <option value="libelle 2" >libelle 2</option>
                <option value="libelle 3" >libelle 3</option>

            </select><br><br>
            <select name="entete" class="select expandable-list" style="width:40em" >
                <option  >--Entetes--</option>
                <option value="entete 1" >entete 1</option>
                <option value="entete 2" >entete 2</option>
                <option value="entete 3" >entete 3</option>
            </select><br><br>
            <select name="typeRdv" id="mySelect" class="blabla select expandable-list" style="width:40em" >

                <option >--Rendez-vous types--</option>
               {% for rdvType in rdvTypes %}
                <option{% if event.rendezVousType.id == rdvType.id %} selected="{{ event.rendezVousType.libelle }} {{event.rendezVousType.dureee|date('H:i')}}" value="{{ rdvType.id }}"{%else%}value="{{ rdvType.id }}"{%endif%} >{{ rdvType.libelle }} {{rdvType.dureee|date('H:i')}}</option>
               {% endfor %}
            </select><br>
        </td>
    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">clients féquents</td>
        <td>
            <p>

                                <input type="radio" name="radio1" id="debut" value="contient" class="radio">Début <label for="gender_female"></label>
                                <input type="radio" name="radio1" id="contient" value="contient" class="radio">Contient <label for="gender_female"></label>


                                <!--button-->

                                <button type="submit" class="button icon-plus blue-gradient">Ajout</button>
                                <button type="submit" class="button icon-download blue-gradient">Histo</button>
                                <button type="submit" class="button icon-new-tab blue-gradient">Notes</button>
                                <button type="submit" class="button icon-new-tab blue-gradient">Nouv</button>
                                <button type="submit" class="button icon-pencil blue-gradient">Motif</button>
                            </p>
<p>
                <div class="row">
                    {#<input type="text" class="input" value="{{ event.client.nom }}">#}
                    <select name="client" class="select expandable-list" style="width:40em" >
                        <option >--select--</option>
                        {% for client in clients %}

                            <option {% if event.client.id == client.id %} selected='{{ event.client.nom }}' value="{{ client.id }}" {% else %} value="{{ client.id }}" {% endif %}>{{ client.nom }} {{client.prenom}} ({{client.telpro}} - {{client.email}}</option>
                        {% endfor %}
                      {% for clt in 1..50 %}
                        <option value="{{ clt }}">client-{{ clt }}</option>
                          {% endfor %}
                    </select>
                </div>
 </p>
        </td>

    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Détail</td>
        <td>
            <div class="row">
                <input type="text" class="input" style="width:40em"><br><br>
           <textarea name="autoexpanding" id="autoexpanding" class="input full-width autoexpanding" style="overflow: hidden; resize: none; height: 124px;">{{ event.detail }}</textarea>

               
            </div>
            <br>

        </td>

    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Disponibilité</td>
        <td>
            <div class="columns" class="center">
                <div class="three-columns">
                    <button type="submit" class=" button blue-gradient" value="Ajout" >Prochaine plage</button> </div>
                <div class="one-column"><strong>ou</strong></div>
                <div class="two-columns"><button type="submit" class="button blue-gradient three-column" value="Ajout" >Rechrcher</button></div>
            </div>
            <br>

        </td>

    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Date et Heure</td>
        <td>
            <div>
                <p class="button-height">
                    Date du rendez-vous :
                    {#<input type="date" name="datepicker1" value="{{ event.datedebut | date('d/mm/Y') }}">#}
                    <span class="input">
                    <span class="icon-calendar"></span>
                    <input type="text" name="datepicker1" id="rdvdate" class="input-unstyled datepicker gldp-el" value="{{ event.datedebut|date('d-m-Y') }}" gldp-id="gldp-4634471992">
                    </span>

                    <input class="styled checkbox" type="checkbox" name="jrEntiere" id="check-1" value="1"> journée entière
                </p>
            </div>
            <div >

                <p class="button-height">Début a :
                    <input type="text" class="input" style="width:40px"   id="time1" name="timeDebut" value="{{ event.datedebut|date('H:i') }}">
                    Termine à :
                    <input type="text" class="input" style="width:40px"  id="time2" name="timeFin" value="{{ event.end|date('H:i') }}">

                    <input class="styled checkbox" type="checkbox" name="checked[]" id="check-1" value="1"> Durée alternative
                    <button type="submit" class=" button blue-gradient one-columns" value="Ajout" >voir la légende</button>
                </p>
            </div>
            <br>
        </td>
    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center" >Couleur</td>
        <td>
            <input name="color" type="color" width="500px" id="html5colorpicker" class="form-control" onchange="clickColor(0, -1, -1, 5)" value="{{ event.couleur }}" style="width:25em">
            <button type="submit" class=" button blue-gradient three-columns mid-margin-left" value="Ajout">Aparence de la note</button>
        </td>
    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Partage</td>
        <td>
            <p>




                <input type="radio" name="partage"  id="radio_1" value="1" class="radio" {% if event.partage==1 %}checked="checked"{% endif %} > <label for="gender_male">Note public(note détaillée dans le partage de planning)</label>

            </p>
            <p>

                <input type="radio" name="partage" id="radio_2" value="0" class="radio" {% if event.partage == 0 %}checked="checked" {% endif %} > <label for="gender_female">Note privée(mention "Occupé" dans le partage de planning)</label>

            </p>
        </td>

    </tr>
    <tr>

        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Alerter</td>
        <td>
          

                <div class="columns">
                <div class="two-columns">

                    <input class="styled checkbox" type="checkbox" name="alert[]" id="check-1" value="1"  {% for a in event.myalert %}{% if a==1 %} checked="checked"{% endif %}{%endfor%}> par mail</div>
                <div class="two-columns"> <input class="styled checkbox" type="checkbox" name="alert[]" id="check-2" value="2" {% for a in event.myalert %}{% if a==2 %} checked="checked"{% endif %}{%endfor%} > par SMS</div>
                <div class="two-columns"> <input class="styled checkbox" type="checkbox" name="alert[]" id="check-3" value="3"{% for a in event.myalert %}{% if a==3 %} checked="checked"{% endif %}{%endfor%}> par FAX</div>

            </div>  
           

            <div class="columns">
                <div class="two-columns">le client fréquent : </div>
                <div class="two-columns"> <input class="styled checkbox" type="checkbox" name="alertCli[]" id="check-4" value="1"  {% for b in event.clientalert %}{% if b==1 %} checked="checked"{% endif %}{%endfor%}> par mail</div>
                <div class="two-columns">   <input class="styled checkbox" type="checkbox" name="alertCli[]" id="check-5" value="2"  {% for b in event.clientalert %}{% if b==2 %} checked="checked"{% endif %}{%endfor%}> par SMS</div>

            </div>
           
        </td>

    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Etat</td>
        <td>
            <p>
                Considérer le RDV comme transmis :
                <input type="radio" name="etat" id="radio_6" value="1" class="radio" {% if event.etat==1 %}checked="checked" {% endif %}> <label for="auto">Auto   </label>
                <input type="radio" name="etat" id="radio_7" value="0" class="radio" {% if event.etat==0 %}checked="checked" {% endif %}> <label for="oui">Oui</label>
            </p>
        </td>

    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Rappel</td>

        <td>
            <p>
                <input type="radio" name="rappel" id="pasRappel" value="0" class="radio"  > <label for="pas de rappel">Pas de rappel </label>
            </p>
            <p> <div class="columns">
                <div class="one-columns">
                    <input type="radio" name="rappel" id="ouiRappel" value="1" class="radio" > <label for="rappel">Rappel</label>
                </div>
                <div class="one-columns">
                </div>
                <div class="one-columns">
                                            <span class="number input margin-right">
                                                <button type="button" class="button number-down">-</button>
                                                <input name="myRappel" type="text" value="5" size="3" class="input-unstyled">
                                                <button type="button" class="button number-up">+</button>
                                            </span>
                </div>
                <div class="one-columns">
                    <select class="select expandable-list" style="width:10em" > à l'avance
                        <option value="1" >minute(s)</option>
                        <option value="2" >heure(s)</option>

                    </select>
                </div>
                <div class="one-columns">

                </div>
                <div class="one-columns">
                    <input class="styled checkbox" type="checkbox" name="rap[]" id="interne" value="1"{% for b in event.myRappel %}{% if b==1 %} checked="checked"{% endif %}{%endfor%}> interne
                </div>
                <div class="one-columns">

                </div>
                <div class="one-columns">
                    <input class="styled checkbox" type="checkbox" name="rap[]" id="mail" value="2"{% for b in event.myRappel %}{% if b==2 %} checked="checked"{% endif %}{%endfor%}> par mail
                </div>
                <div class="one-columns">
                    <input class="styled checkbox" type="checkbox" name="rap[]" id="sms" value="3" {% for b in event.myRappel %}{% if b==3 %} checked="checked"{% endif %}{%endfor%}> par SMS
                </div>F
            </div></p>
        </td>

    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Rappel pour le client fréquent</td>
        <td>
            <p>
                <input type="radio" name="rapCli" id="radio_1" value="0" class="radio" {% for b in event.clientRappel %}{% if b=="" %}checked="checked" {%endif%}{%endfor%} > <label for="pas de rappel">Pas de rappel </label>
            </p>
            <p>   <div class="columns">
                <div class="one-columns">
                    <input type="radio" name="rapCli" id="radio_2" value="1" class="radio"{% for b in event.clientRappel %}{% if b!="" %}checked="checked" {%endif%}{%endfor%}  > <label for="rappel">Rappel</label>
                </div>
                <div class="one-columns">
                </div>
                <div class="one-columns">
                                            <span class="number input margin-right">
                                                <button type="button" class="button number-down">-</button>
                                                <input name="rappelCli" type="text" value="5" size="3" class="input-unstyled">
                                                <button type="button" class="button number-up">+</button>
                                            </span>
                </div>
                <div class="one-columns">
                    <select class="select expandable-list" style="width:10em" > à l'avance
                        <option value="1" >minute(s)</option>
                        <option value="2" >heure(s)</option>

                    </select>
                </div>

                <div class="one-columns">

                </div>
                <div class="one-columns">
                    <input class="styled checkbox" type="checkbox" name="cli[]" id="check-1" value="1" {% for b in event.clientRappel %}{% if b==1 %} checked="checked"{% endif %}{%endfor%}> par mail
                </div>
                <div class="one-columns">
                    <input class="styled checkbox" type="checkbox" name="cli[]" id="check-1" value="2"{% for b in event.clientRappel %}{% if b==2 %} checked="checked"{% endif %}{%endfor%}> par SMS
                </div>
            </div></p>
        </td>
    </tr>
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Recopie </td>
        <td>
            <div class="columns">
                <div class="two-column"> <input type="radio" name="recopie" id="recopie1" value="0" class="radio" {% if event.recopie==0 %}checked="checked" {% endif %} > <label for="NON">Non </label>
                </div>
                <div class="one-columns">
                </div>
                <div class="one-columns">
                    <input type="radio" name="recopie" id="recopie2" value="1" class="radio" {% if event.recopie==1 %}checked="checked" {% endif %} > <label for="oui">Oui,conserver les informations</label>
                </div>

            </div>
        </td>
    </tr>
   
   
  
    <tr>
        <td style="width:14em; text-align:center; margin-top:20px " width="40%" class="vertical-center"><strong>Avancé</strong></td>
        <td>
            <div class="columns">
                <div class="four-columns">

                    <a href="#" >Périodicité </a>


                </div>
            </div>
        </td>
    </tr>
    </tbody>

    </table>

    <button type="submit" class="button blue-gradient" >Modifier</button>
    <h4 class="relative">
        Iframe
        <button type="button" class="button compact absolute-right" onclick="openIframe()">Test</button>
    </h4>
    <button type="button" class="button blue-gradient glossy" onclick="openComplexModal()">Complex</button>



    </form>

    </center>
    <h4>Styled table with simple sorting</h4>

    <p>Simple sorting and manual controls if you prefer to handle the table output server-side:</p>

    <p><b>Tip:</b> try clicking on a row to show an extra line style!</p>


    </div>

{% endblock %}