{% extends "::base.html.twig" %}
{% block mesScript %}
{% endblock %}
{% block content %}
    {# notre table #}
    <p>  <h1>{{titre}}</h1></p>

<form name="fomrRecherche" action="{{path('instruction_list_permanente')}}" method="post" class='center'>
    <p><select id="type" name="type" style="width:15em" class="blue-gradient select validate[required]" onchange="rehcerche()">
            <option value="O">--select--</option>
            <option value="1">permannte</option>
            <option value="2">ponctuel</option>
            <option value="3">entre deux dates</option>
        </select>        
        <input type="radio" name="typeArchived" id="radio_2" value="1" class="radio mid-margin-left" checked="true"> <label for="radio-1" >non archivés</label>
        <input type="radio"  name="typeArchived" id="radio_1" value="2" class="radio mid-margin-left"> <label for="radio-1" >archivés</label>
        <input type="radio" name="typeArchived" id="radio_2" value="3" class="radio mid-margin-left"> <label for="radio-1" >supprimées</label>
        <button id="recherche" name="recherche" type="submit" class="button icon-search blue-gradient hidden">Recherche</button>
    </p>
</form>
{#        list permanent  #}
{% if permanentInstructions is defined %}

    {% include"InstructionBundle:instruction:listPermanente.html.twig" %}
{% endif %}

{#   list  ponctual     #}
{% if ponctualInstructions is defined %}

    {% include"InstructionBundle:instruction:listPunctual.html.twig" %}
{% endif %}
{#    list periodique    #}
{% if periodiqueInstructions is defined %}

    {% include"InstructionBundle:instruction:listPeriodique.html.twig" %}
{% endif %}



<script>

    function rehcerche()
    {
        var type = $('#type').val();
        var archived = $('#typeArchived').val();// on sécurise les données
        $("#recherche").click();
    }
    function refreche() {
        var aa;
        valeur = $('#list').val();
        $.ajax({
            url: '{{path('instruction_list_permanente')}}', // on donne l'URL du fichier de traitement
            type: "get", // la requête est de type POST
            data: "type=" + valeur, // et on envoie nos données
            success: function (response) {
                $("#recherche").submit();
    {# document.forms["general"].elements["champ1"].focus()#}
                    a = response;
                }
            });
        }

        //archuvate dialogue confirmation
        function openArchivateConfirm(id) {
            $.modal.confirm("voulez vous vraiment archivée l'instruction ?", function ()
            {
                archivateInstruction(id);
            }, function ()
            {

            });
        }
              // archivate instruction methode
              
             function archivateInstruction(id){
                 var idDelete=id;
                 console.log('befor sent ');
        $.ajax({
            url: 'http://localhost/monagenda/web/app_dev.php/Instruction/instruction/archivate/'+id, // on donne l'URL du fichier de traitement
            type: "get", // la requête est de type get
            success: function (response) {
               console.log('success');
                $("#" + idDelete).remove();
                }
            });
                  
              }
              
              
        function openDeleteConfirm(id)
        {
            $.modal.confirm('voulez vous vraiment supprimer ?', function ()
            {
                deleteLigne(id);
    {# $.modal.alert("l'instruction a éte supprimée");#}
            }, function ()
            {

            });
        }
        ;

        function deleteLigne(id) {
            var idd = id;
            console.log(id);
            $.ajax({
                url: '{{path('instruction_delete')}}', // on donne l'URL du fichier de traitement
                type: "get", // la requête est de type POST
                data: 'id=' + idd, // et on envoie nos données
                success: function (data) {
                    $("#" + idd).remove();
                    console.log("data.id");
                }
            });

        }



        // Call template init (optional, but faster if called manually)


        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({
            'aoColumnDefs': [
                {'bSortable': false, 'aTargets': [0, 5]}
            ],
            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function (oSettings)
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });

        // Table sort - styled
        $('#sorting-example1').tablesorter({
            headers: {
                0: {sorter: false},
                5: {sorter: false}
            }
        }).on('click', 'tbody td', function (event)
        {
            // Do not process if something else has been clicked
            if (event.target !== this)
            {
                return;
            }

            var tr = $(this).parent(),
                    row = tr.next('.row-drop'),
                    rows;

            // If click on a special row
            if (tr.hasClass('row-drop'))
            {
                return;
            }

            // If there is already a special row
            if (row.length > 0)
            {
                // Un-style row
                tr.children().removeClass('anthracite-gradient glossy');

                // Remove row
                row.remove();

                return;
            }

            // Remove existing special rows
            rows = tr.siblings('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');

                // Remove rows
                rows.remove();
            }

            // Style row
            tr.children().addClass('anthracite-gradient glossy');
            // Add fake row
            $('<tr class="row-drop">' +
                    '<td colspan="' + tr.children().length + '">' +
                    '<div class="float-right">' +
                    '<button type="submit" class="button glossy mid-margin-right">' +
                    '<span class="button-icon"><span class="icon-mail"></span></span>' +
                    'Send mail' +
                    '</button>' +
                    '<button type="submit" class="button glossy">' +
                    '<span class="button-icon red-gradient"><span class="icon-cross"></span></span>' +
                    'Remove' +
                    '</button>' +
                    '</div>' +
                    '<strong>Name:</strong> John Doe<br>' +
                    '<strong>Account:</strong> admin<br>' +
                    '<strong>Last connect:</strong> 05-07-2011<br>' +
                    '<strong>Email:</strong> john@doe.com' +
                    '</td>' +
                    '</tr>').insertAfter(tr);

        }).on('sortStart', function ()
        {
            var rows = $(this).find('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');
                // Remove rows
                rows.remove();
            }
        });
        // Table sort - simple
        $('#sorting-example2').tablesorter({
            headers: {
                5: {sorter: false}
            }
        });


</script>
{% endblock %}
