
<table id="sorting-advanced" class="table responsive-table responsive-table-on dataTable" aria-describedby="sorting-advanced_info">
    <thead>
        <tr role="row">
            <th scope="col" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 12px;">
                <input type="checkbox" name="check-all" id="check-all" value="1"></th>
            <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Id</th>
            <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Titre</th>
            <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Priorite</th>
            <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Client</th>
            <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">PhraseUseuelle</th>
                {% if archived == 1 %} 
                <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;"> date d'archivation</th>
                {% endif %}
           <th scope="col" width="60" class="align-center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Actions" style="width: 100px;">Actions</th>

        </tr>
    </thead>

    <tfoot>
        {# <tr><td colspan="6" rowspan="1">
                 6 entries found
             </td></tr>#}
    </tfoot>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
        {% for instruction in permanentInstructions %}
            <tr class="odd" id="{{instruction.id}}">
                <th scope="row" class="checkbox-cell  sorting_1"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
                <td>{{ instruction.id }}  </td>
                <td>{{ instruction.titre  }}</td>
                <td> {% if instruction.priorite ==0 %} Haute{% elseif  instruction.priorite ==1  %}Normale {% endif %}</td>
                <td>{{ instruction.client.nom}} {{ instruction.client.prenom}}</td>
                <td> {{ instruction.phraseusuelle.text}}</td>
               {% if archived == 1 %} <td> {{ instruction.datearchivation|date('d-m-Y')}}</td> {% endif %}
                    <td><a class="confirm" href="{{path('instruction_update',{'id':instruction.id}) }}" ><span class="button  icon-pencil "></span> </a> 
                        <a  onclick="openDeleteConfirm({{instruction.id}})" >   <span class="button icon-trash "></span></a>
                        {% if archived == 0 %} 
                            <a  onclick="openArchivateConfirm({{instruction.id}})" >   <span class="button icon-box "></span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>





