{#{% extends "::base.html.twig" %}
{% block content %}    #} 
               <div id="sorting-advanced_wrapper" class="dataTables_wrapper" role="grid">
        {#<div class="dataTables_header">
            <div id="sorting-advanced_length" class="dataTables_length">
                <label>Show <span class="select blue-gradient glossy replacement select-styled-list" tabindex="0">
                        <select size="1" name="sorting-advanced_length" aria-controls="sorting-advanced" class="withClearFunctions" tabindex="-1">
                            <option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span class="select-value">10</span>
                        <span class="select-arrow"></span>
                        <span class="drop-down"></span>

                    </span> entries</label>
            </div>
            <div class="dataTables_filter" id="sorting-advanced_filter">
                <label>Search: <input type="text" aria-controls="sorting-advanced" class=""></label>
            </div>
        </div>#}
        <table class="table responsive-table responsive-table-on dataTable" id="sorting-advanced" aria-describedby="sorting-advanced_info">

            <thead>
                <tr role="row">
                    <th scope="col" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 12px;">
                        <input type="checkbox" name="check-all" id="check-all" value="1"></th>
                    <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Id</th>
                    <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Titre</th>
                    <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Priorite</th>
                    <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Date Le</th>
                    <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">Client</th>
                    <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;">PhraseUseuelle</th>
    {% if archived == 1 %} 
                <th scope="col" width="15%" class="hide-on-tablet sorting" role="columnheader" tabindex="0" aria-controls="sorting-advanced" rowspan="1" colspan="1" aria-label="Tags: activate to sort column ascending" style="width: 125px;"> date d'archivation</th>
                {% endif %}
           <th scope="col" width="60" class="align-center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Actions" style="width: 100px;">Actions</th>

        </tr>            </thead>

            <tfoot>
               {# <tr><td colspan="6" rowspan="1">
                        6 entries found
                    </td></tr>#}
            </tfoot>

               
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                {% for instruction in ponctualInstructions %}
                    <tr class="odd" id="{{instruction.id}}">
                        <th scope="row" class="checkbox-cell  sorting_1"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
                        <td>{{ instruction.id }}  </td>
                        <td>{{ instruction.titre  }}</td>
                         <td> {% if instruction.priorite ==0 %} Haute{% elseif  instruction.priorite ==1  %}Normale {% endif %}</td>
                           <td>{{ instruction.le|date('d/m/Y')  }}</td>
                        <td>{{ instruction.client.nom}} {{ instruction.client.prenom}}</td>
                        <td> {{ instruction.phraseusuelle.text}}</td>
                {% if archived == 1 %} <td> {{ instruction.datearchivation|date('d-m-Y')}}</td> {% endif %}

                        <td><a class="confirm" href="{{path('instruction_update',{'id':instruction.id}) }}"><span class="button  icon-pencil "></span> </a> 
                            <a  onclick="openDeleteConfirm({{instruction.id}})" >   <span class="button icon-trash "></span> </a>
                         {% if archived == 0 %} 
                            <a  onclick="openArchivateConfirm({{instruction.id}})" >   <span class="button icon-box "></span></a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
       {# <div class="dataTables_footer">
            <div class="dataTables_info" id="sorting-advanced_info">Showing 1 to 10 of 18 entries</div>
            <div class="dataTables_paginate paging_full_numbers" id="sorting-advanced_paginate">
                <a tabindex="0" class="first paginate_button paginate_button_disabled" id="sorting-advanced_first">First</a>
                <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="sorting-advanced_previous">Previous</a>
                <span><a tabindex="0" class="paginate_active">1</a><a tabindex="0" class="paginate_button">2</a></span>
                <a tabindex="0" class="next paginate_button" id="sorting-advanced_next">Next</a>
                <a tabindex="0" class="last paginate_button" id="sorting-advanced_last">Last</a>
            </div>
        </div>#}
    </div>          
               
               
{#{% endblock %}#}