{% extends "::base.html.twig" %}
{% block content %}
    <form action="{{path('instruction_update',{'id':instruction.id})}}" method="POST">
    <table class="table simple-table " id="sorting-example1">

    <thead>
    <tr>
        <!--						<th scope="col"><input type="checkbox" name="check-all" id="check-all" value="1"></th>
                                                        <th scope="col" class="header">Text</th>
                                                        <th scope="col" width="15%" class="align-center hide-on-mobile header">Date</th>
                                                        <th scope="col" width="15%" class="align-center hide-on-mobile-portrait header">Status</th>
                                                        <th scope="col" width="15%" class="hide-on-tablet header">Tags</th>-->
        <th scope="col" width="30%" colspan="2" class="align-center">Enregistrer une instruction</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <td colspan="6">

        </td>
    </tr>
    </tfoot>

    <tbody>
    <tr>
        <td><strong>Titre</strong></td>
        <td  width="80%" class="hide-on-mobile"><div class="row">
                <p class="button-height time">
                    <select id="phraseUsuelle" name="phraseUsuelle" style="width:373px" class="blue-gradient select validate[required]">
                        <option value="0">-- Phrases usuelles --</option>
                        {% for phrase in phrases %}
                            <option {% if instruction.phraseusuelle.id==phrase.id%} selected='{{phrase.id}}' {% endif %}value="{{phrase.id }}">{{phrase.text}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <input type="radio" name="radio1" id="radio_1" value="1" class="radio mid-margin-left"> <label for="radio-1" >Début</label>
                    <input type="radio" name="radio1" id="radio_2" value="2" class="radio mid-margin-left"> <label for="radio-1" >Contient</label>

                    <button type="submit" class="button icon-plus blue-gradient" name="Ajout">Ajout</button>
                    <button type="submit" class="button icon-download blue-gradient" name="Histo">Histo</button>
                    <button type="submit" class="button icon-new-tab blue-gradient" name="Notes">Notes</button>
                    <button type="submit" class="button icon-new-tab blue-gradient" name="Nouv">Nouv</button>
                    <button type="submit" class="button icon-pencil blue-gradient" name="Motif">Motif</button>


                    <!--                                        <a href="javascript:void(0)" class="button icon-star blue-gradient">Ajout</a>-->
                    <!--                                        <a href="javascript:void(0)" class="button icon-download blue-gradient">Histo</a>
                                                            <a href="javascript:void(0)" class="button icon-new-tab blue-gradient">Notes</a>
                                                            <a href="javascript:void(0)" class="button icon-new-tab blue-gradient">Nouv</a>
                                                            <a href="javascript:void(0)" class="button icon-pencil blue-gradient">Modif</a>-->
                </p>
                <p class="button-height">

                    <input type="text" name="input-2" id="input-2" size="20" class="input" value="Styled text input">

                    <select id="client" name="client" class=" blue-gradient select validate[required]">
                        <option value="">-- Clients fréquents --</option>
                        {% for client in clients %}
                            <option  {% if instruction.client.id==client.id%} selected='{{client.id}}' {% endif %} value="{{ client.id }}"  >{{ client.nom }}{{ client.prenom }}</option>
                        {% endfor %}
                    </select>

                </p>
                <p>
                    <input type="text" name="titre" id="titre" class="input full-width" value="{{instruction.titre}}">
                </p>
            </div></td>
    </tr>
    <tr>
        <td><strong>Détails</strong></td>
        <td class="hide-on-mobile">
            <textarea name="detail" id="detail" class="input full-width autoexpanding" style="overflow: hidden; resize: none; height: 124px;" > {{instruction.detail}}</textarea>

        </td>

    </tr>
    <tr>
        <td><strong>Validité</strong></td>
        <td class="hide-on-mobile">
            <p>
                <input type="radio" {% if instruction.type==0  %} checked="true"{% endif %} name="type"   value="0" class="radio mid-margin-left"> <label for="radio_1" >Permanente(valable tout les temp)</label>
            </p>


            <p class="button-height">
                <input type="radio" name="type"  {% if instruction.type==1  %} checked="true"{% endif %} value="1" class="radio mid-margin-left"> <label for="radio_2" >Ponctuel le : </label>

                        <span class="input">
                            <span class="icon-calendar"></span>
                            <input type="text" name="dateLe" id="special-input-3" class="input-unstyled datepicker gldp-el"  {% if instruction.type==1  %} value="{{instruction.le|date('d/m/Y')}}" {% endif %} gldp-id="gldp-2690895398">
                        </span>

            </p>


            <p class="button-height">
                <input type="radio"  {% if instruction.type==2  %} checked="true"{% endif %} name="type" value="2" class="radio mid-margin-left"> <label for="radio_3"  >Periode du   : </label>

                        <span class="input">
                            <span class="icon-calendar"></span>
                            <input type="text" name="dateDe" id="special-input-3" class="input-unstyled datepicker gldp-el" {% if instruction.type==2  %} value="{{instruction.de|date('d/m/Y')}}" {% endif %} gldp-id="gldp-2690895399">
                        </span>
                <label>au :</label>
                        <span class="input">
                            <span class="icon-calendar"></span>
                            <input type="text" name="dateA" id="special-input-3" class="input-unstyled datepicker gldp-el" {% if instruction.type==2  %} value="{{instruction.a|date('d/m/Y')}}" {% endif %} gldp-id="gldp-2690895390">
                        </span>

            </p>
        </td>

    </tr>
    <tr>
        <td><strong>Priorité</strong></td>
        <td class="hide-on-mobile">
            <p>
                <input type="radio"{% if instruction.priorite==0  %} checked="true"{% endif %} name="radio3" id="radio_1" value="1" class="radio mid-margin-left"> <label for="radio-1" >Normale</label>
                <input type="radio" {% if instruction.priorite==1  %} checked="true"{% endif %} name="radio3" id="radio_2" value="1" class="radio mid-margin-left"> <label for="radio-1" >Haute</label>
            </p>
        </td>

    </tr>
    <tr>

        <td class="hide-on-mobile align-center" colspan="2">

            <button name="enregistrer" type="submit" class="button icon-save blue-gradient">Enregistrer</button>
            <button type="submit" class="button icon-forbidden blue-gradient">Annuler</button>
            <button type="submit" class="button icon-folder blue-gradient">Accéder aux instructions archivées</button>
            <button type="submit" class="button icon-printer blue-gradient">Imprimer</button>

            <!--
                                            <a href="javascript:void(0)" class="button icon-save blue-gradient">Enregistrer</a>
                                            <a href="javascript:void(0)" class="button icon-forbidden blue-gradient">Annuler</a>
                                            <a href="javascript:void(0)" class="button icon-folder blue-gradient">Accéder aux instructions archivées</a>
                                            <a href="javascript:void(0)" class="button icon-printer blue-gradient">Imprimer</a>
            -->

        </td>

    </tr>
    <tr>

        <td class="hide-on-mobile" colspan="2">
            <div class="columns">
                <p>
                <div class="four-columns"><p><strong>Tarifs</strong></p>
                    <p><span class="small">à partir de 40 euro</span></p></div>
                <div class="two-columns "><strong>Permanemt</strong></div>
                <div class="one-column "><strong>Haute</strong></div>
                <div class="three-columns">
                            <span class="button-group">

                                <button type="submit" class="button ">M</button>
                                <button type="submit" class="button ">A</button>
                                <button type="submit" class="button ">S</button>
                                <button type="submit" class="button ">I</button>

                            </span>
                </div>
                <div class="one-column "><a href="javascript:void(0)" class="button">impr</a></div>
                <input type="checkbox" name="checkbox-1" id="checkbox-1" value="1" class="checkbox mid-margin-left replacement">

            </div>

        </td>

    </tr>
    <tr>

        <td class="hide-on-mobile" colspan="2">
            <div class="columns">
                <p>
                <div class="four-columns"><p><strong>Pose au CHU</strong></p>
                    <p><span class="small">à partir de 40 euro</span></p></div>
                <div class="two-columns "><strong>Permanemt</strong></div>
                <div class="one-column "><strong>Haute</strong></div>
                <div class="three-columns">
                            <span class="button-group">

                                <button type="submit" class="button ">M</button>
                                <button type="submit" class="button ">A</button>
                                <button type="submit" class="button ">S</button>
                                <button type="submit" class="button">I</button>
                            </span>
                </div>
                <div class="one-column "><a href="javascript:void(0)" class="button">impr</a></div>
                <input type="checkbox" name="checkbox-1" id="checkbox-1" value="1" class="checkbox mid-margin-left replacement">


            </div>

        </td>

    </tr>
    <tr>

        <td class="hide-on-mobile" colspan="2">
            <div class="columns">
                <p>
                <div class="four-columns"><p><strong>Rendez-vous du matin</strong></p>
                    <p><span class="small">à partir de 40 euro</span></p></div>
                <div class="two-columns "><strong>Permanemt</strong></div>
                <div class="one-column "><strong>Haute</strong></div>
                <div class="three-columns">
                            <span class="button-group">
                                <button type="submit" class="button ">M</button>
                                <button type="submit" class="button ">A</button>
                                <button type="submit" class="button ">S</button>
                                <button type="submit" class="button">I</button>
                            </span>
                </div>
                <div class="one-column "><a href="javascript:void(0)" class="button">impr</a></div>
                <input type="checkbox" name="checkbox-1" id="checkbox-1" value="1" class="checkbox mid-margin-left replacement">


            </div>

        </td>

    </tr>
    <tr>

        <td class="hide-on-mobile" colspan="2">
            <div class="columns">
                <p>
                <div class="four-columns"><p><strong>Rendez-vous du matin</strong></p>
                    <p><span class="small">à partir de 40 euro</span></p></div>
                <div class="two-columns "><strong>Permanemt</strong></div>
                <div class="one-column "><strong>Haute</strong></div>
                <div class="three-columns">
                            <span class="button-group">
                                <button type="submit" class="button ">M</button>
                                <button type="submit" class="button ">A</button>
                                <button type="submit" class="button ">S</button>
                                <button type="submit" class="button">I</button>
                            </span>
                </div>
                <div class="one-column "><a href="javascript:void(0)" class="button">impr</a></div>
                <input type="checkbox" name="checkbox-1" id="checkbox-1" value="1" class="checkbox mid-margin-left replacement">


            </div>

        </td>

    </tr>
    <tr>

        <td class="hide-on-mobile" colspan="2">
            <div class="columns">
                <p>
                <div class="four-columns"><p><strong>Rendez-vous du matin</strong></p>
                    <p><span class="small">à partir de 40 euro</span></p></div>
                <div class="two-columns "><strong>Permanemt</strong></div>
                <div class="one-column "><strong>Haute</strong></div>
                <div class="three-columns">
                            <span class="button-group">
                                <button type="submit" class="button ">M</button>
                                <button type="submit" class="button ">A</button>
                                <button type="submit" class="button ">S</button>
                                <button type="submit" class="button">I</button>
                            </span>
                </div>
                <div class="one-column "><a href="javascript:void(0)" class="button">impr</a></div>
                <input type="checkbox" name="checkbox-1" id="checkbox-1" value="1" class="checkbox mid-margin-left replacement">

            </div>

        </td>

    </tr>
    </tbody>

    </table>
    </form>
{% endblock %}