{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post" id="form-login" class="input-wrapper blue-gradient glossy" title="Connexion">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<ul class="inputs black-input large">
    <li><span class="icon-user mid-margin-right"></span>
{#    <label for="username">{{ 'security.login.username'|trans }}</label>#}
    <input type="text" placeholder="Identifiant" id="username" class="input-unstyled" name="_username" value="{{ last_username }}"   />
    </li>
    <li><span class="icon-lock mid-margin-right"></span>
{#    <label for="password">{{ 'security.login.password'|trans }}</label>#}
    <input type="password" id="password" name="_password"   class="input-unstyled" placeholder="Mot de passe" />
    </li>
</ul>
     <p class="button-height">
    <button type="submit" class="button anthracite-active  float-right" id="_submit" name="_submit"  >{{ 'security.login.submit'|trans }}</button>    
    <input type="checkbox" id="remember_me" name="_remember_me" value="1" checked="checked" class="switch tiny mid-margin-right with-tooltip" title="Enable auto-login" />
    <label for="remember_me">Se souvenir de moi.{#{{ 'security.login.remember_me'|trans }}#}</label>
   
     </p>
</form>
   

	<!-- Template functions -->
	<!-- Scripts -->
	<script src="{{asset('developr/js/libs/jquery-1.10.2.min.js')}}"></script>
	<script src="{{asset('developr/js/setup.js')}}"></script>

	<!-- Template functions -->
	<script src="{{asset('developr/js/developr.input.js')}}"></script>
	<script src="{{asset('developr/js/developr.message.js')}}"></script>
	<script src="{{asset('developr/js/developr.notify.js')}}"></script>
	<script src="{{asset('developr/js/developr.tooltip.js')}}"></script>


    <script type="text/javascript">

    {% if error %}
        $(document).ready(function()
		{
		// What about a notification?
		notify('Erreur', '{{ error.messageKey|trans(error.messageData, 'security') }}', {
			autoClose: true,
			delay: 500,
			icon: '{{asset('developr/img/demo/icon.png')}}'
		});
                });
        {% endif %} 
    </script>
{% endblock fos_user_content %}
