{% extends "::base2.html.twig" %}

{% block content%}
<link href='{{asset('fullCalendar/fullcalendar.css')}}' rel='stylesheet' />
<link href='{{asset('fullCalendar/fullcalendar.print.css')}}' rel='stylesheet' media='print' />
<script src='{{asset('fullCalendar/lib/moment.min.js')}}'></script>
<script src='{{asset('fullCalendar/lib/jquery.min.js')}}'></script>
<script src='{{asset('fullCalendar/fullcalendar.min.js')}}'></script>
<script src='{{asset('fullCalendar/lang-all.js')}}'></script>
    {#<script src="/shared/js/bootstrapmodal.min.js"></script>#}
<script type="text/javascript">
            function print_calendar()
            {
            window.print();
            }

    {#         
   jQuery('#haha').datetimepicker({
        inline: true,
        onSelect: function(dateText, inst) {
            var d = new Date(dateText);
            $('#calendar').fullCalendar('gotoDate', d);
        }
    });#}

    $(document).ready(function() {
myStart ='';

    $('#calendar').hide();
            $('#calendar').fullCalendar({
    header: {
    left: 'prev,next today',
            center: 'title'


    },
            minTime: '09:00',
            maxTime: '11:30',
            lang: 'fr',
            editable: false,
            defaultView: 'agendaWeek',
            axisFormat: 'HH:mm',
            slotDuration: '00:30:00',
            height: 250,
            selectable: true,
            timeFormat: {
            agenda: 'HH:mm'
            },
            eventLimit: true, // allow "more" link when too many events
            // events: ouf,

            //***********************myAjax*********************************    

            //******************************************************    

            eventSources: [
               {{ events|raw }}
            ],
            eventRender: function(event, element, merde) {
  {#  $.ajax({
    type: 'get',
            url : 'http://localhost/monagenda/web/app_dev.php/rendezVous/getClient/'+ event.id,
            beforeSend: function(){
            console.log('me voila!!');
            },
            success:function(data){
            console.log('cool!!');
//                                $("#time11").val(data.myTime);
                    element.attr('id', event.id);
                    element.attr('title', '<strong>Client fréquent:</strong>' + ' ' + data.nom + ' ' + data.prenom + '<br>' + 'Email:' + ' ' + data.email + '<br>TelPro:' + data.tel);
                    element.addClass('with-tooltip');
            },
    });#}
                  {# return (event.ranges.filter(function(range){ // test event against all the ranges

                        return (event.start.isBefore(range.end) &&
                        event.end.isAfter(range.start));

                    }).length)>0;#}
            },
            eventClick: //function(event, jsEvent, view) {
//
//                    alert('Event: ' +event.id+ event.start.format() + event.end.format() );
//                    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
//                    alert('View: ' + view.name);
//                    $(this).css('border-color', 'red');
              {#document.location.href="{{ path('merde')}}/"+event.id;#}

    // change the border color just for fun

    function openComplexModal(event)
    {
    ev = event.id;
            console.log(ev);
            $.modal({
            content:
                    '<strong>Titre :</strong>' + event.title + '<br>' +
                    '<strong>Description :</strong>' + event.description + '<br>' +
                    '<strong>Date :</strong>' + event.start.format()
                    ,
                    title: 'Détails du rendez-vous',
                    width: 300,
                    scrolling: false,
                    actions: {
                    'fermer': {
                    color: 'red',
                            click: function(win) {
                            win.closeModal();
                            }
                    }
                    },
                    buttons: {
                    'modifier': {
                    classes: ' blue-gradient glossy ',
                            click: function(win) {
                            document.location.href = "{{ path('modifier')}}/" + event.id;
                                    win.closeModal();
                            }
                    },
                            'supprimer': {
                            classes: ' blue-gradient glossy ',
                                    click: function(win) {
                                    $.ajax({
                                    type: 'get',
                                            url: 'http://localhost/monagenda/web/app_dev.php/rendezVous/remove/' + event.id,
                                            beforeSend: function() {
                                            console.log('je me supprime mtn!!');
                                            },
                                            success: function(data) {
                                            console.log('c fait!');
                                            }
                                    });
                                            $('#calendar').fullCalendar('removeEvents', event.id);
                                            win.closeModal();
                                    }
                            },
                            'annuler ce rendez-vous': {
                            classes: ' blue-gradient glossy ',
                                    click: function(win) {
                                   {#document.location.href="{{ path('merde')}}/"+event.id;#}
                                    win.closeModal();
                                            $.ajax({
                                            type: 'get',
                                                    url: 'http://localhost/monagenda/web/app_dev.php/rendezVous/getClient/' + event.id,
                                                    beforeSend: function() {
                                                    console.log('me voila!!');
                                                    },
                                                    success: function(data) {
                                                    console.log('cool!!');
                                                            ev = event.id;
                                                            $.modal({
                                                            title: 'Annuler ce rendez-vous',
                                                                    content: ''
                                                                    + '<table class=" table simple-table" >'
                                                                    + '<thead >'
                                                                    + '<tr>'
                                                                    + '<th scope="col" width="30%" colspan="2" class="align-center" >Annulation de rendez-vous</th>'
                                                                    + '</tr>'
                                                                    + '</thead>'
                                                                    + '<tbody>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Rendez-vous </td>'
                                                                    + '<td>'
                                                                    + '<p style="font-size: 2àpx">' + ' <strong>de :</strong>' + data.nom + '<br>'
                                                                    + '<strong>du :</strong>' + event.start.format() + '<strong> à </strong>' + event.end.format() + '<br>'
                                                                    + '<strong>avec le client fréquent </strong>' + data.prenom + ' ' + data.nom + '<br>'
                                                                    + '<strong>libellé :</strong>' + event.title
                                                                    + '</p>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Motif</td>'
                                                                    + '<td>'
                                                                    + '<p><select name="phraseusuelle" id="phraseusuelle" class="select expandable-list" style="width:30em" >'
                                                                    + '<option  >--Phrases useuelles--</option>'
                                                                    + '<option value=""></option>'
                                                                    + '</select><br>'
                                                                    + '<select name="entete" id="entete" class="select expandable-list" style="width:30em" >'
                                                                    + '<option  >--Entétes--</option>'
                                                                    + '<option value="Entete1" >Entéte1</option>'
                                                                    + '</select></p>'
                                                                    + '<textarea style="width: 30em"class="input" name="myEntete" id="myEntete">Default textarea</textarea>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px" width="40%" class="vertical-center" >Groupe</td>'
                                                                    + '<td>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + '<input  type="radio" name="radio1" id="radio_1" value="0" class="radio"> <label for="NON">Non</label>'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input  type="radio" name="radio1" id="radio_1" value="1" class="radio"> <label for="NON">Oui,conserver les infromations</label>'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Alerter</td>'
                                                                    + '<td>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + 'le prssesseur de l\'agenda :'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="myAlert[]" id="myAlert" value="1"> par mail'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="myAlert[]" id="myAlert" value="2"> par SMS'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + 'le client fréquent :'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="clientAlert[]" id="clientAlert" value="1"> par mail'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input class="styled checkbox" type="checkbox" name="clientAlert[]" id="clientAlert" value="2"> par SMS'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tr>'
                                                                    + '<td style="width:10em; text-align:center; margin-top:20px " width="40%" class="vertical-center">Créer</td>'
                                                                    + '<td>'
                                                                    + '<div class="columns">'
                                                                    + '<div class="one-columns">'
                                                                    + 'Considérer l\'annulation comme transmise :'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + ' <input  type="radio" name="report" id="report" value="0" class="radio"><label for="NON">Non</label> '
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '</div>'
                                                                    + '<div class="one-columns">'
                                                                    + '<input  type="radio" name="report" id="report" value="1" class="radio"><label for="NON">Oui </label>'
                                                                    + '</div>'
                                                                    + '</div>'
                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '<tfoot>'
                                                                    + '<tr>'
                                                                    + '<td colspan="2" class="align-center">'
                                                                    + '<div class="columns">'
                                                                    + '<div class="three-columns">'
                                                                    + '</div>'
                                                                    + '<div class="four-columns">'
                                                                    + '<button type="submit" class="button blue-gradient" value="Ajout" onclick="createAnnulation()">Annuler ce rendez-vous</button>'
                                                                    + '</div>'
                                                                    + '<div class="tow-columns">'
                                                                    + '<button type="submit" class="button blue-gradient" value="Ajout">Fermer cette fenetre</button>'
                                                                    + '</div>'
                                                                    + '</div>'

                                                                    + '</td>'
                                                                    + '</tr>'
                                                                    + '</tfoot>'
                                                                    + '</table>',
                                                                    buttonsAlign: 'center',
                                                                    resizable: false,
                                                                    width: 600,
                                                                    height: 465,
                                                            });
                                                    },
                                            });
                                    }
                            }
                    },
                    buttonsLowPadding: true
            });
    },
            selectHelper: true,
            select: function(start, end) {

                    myDate = start.format('DD-MM-YYYY');
                    myStart = start.format('HH:mm');
                    myEnd = end.format('HH:mm');
//                    var title = prompt('Event Title:');
//                    var eventData;
//                    if (title) {
//                        eventData = {
//                            title: title,
//                            start: start,
//                            end: end
//                        };
//                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
//                    }
                    $.modal({
                    content: 'Confirmez-vous vouloir prendre rendez-vous avec Mohamed Rachidi de' + start.format('HH:mm') + 'à' + end.format('HH:mm'),
                            title: 'Détails du rendez-vous',
                            width: 300,
                            scrolling: false,
                            actions: {
                            'fermer': {
                            color: 'red',
                                    click: function(win) {
                                    win.closeModal();
                                    }
                            }
                            },
                            buttons: {
                            'Oui': {
                            classes: ' blue-gradient glossy ',
                                    click: function(win) {
                                          
                                    console.log('buton oui avant!!');
                                 

    $.ajax({
    type: 'get',
            url: 'http://localhost/monagenda/web/app_dev.php/rendezVous/duree/' + $("#myRdvType").val(),
            beforeSend: function() {
            //$('.blabla').parent().append('<span class="loader big working" id="ouf"></span>');
            console.log('me voila!!');
            },
            success: function(data) {
            merde = data.myTime;
                    //$('#ouf').remove();
                    //$("#html5colorpicker").val(data.color);
                    $.ajax({
                    type: 'get',
                            url: 'http://localhost/monagenda/web/app_dev.php/rendezVous/ajax/'+start.format('HH:mm')+'/'+ merde,
                            beforeSend: function() {
                            console.log('!yees!');
                            },
                            success: function(data) {

                          var myVar = data.idiot;
                                 createRdv(myVar,start.format('DD-MM-YYYY'));
                                    console.log(myVar);
                                    console.log('haha');
                            }
                    });
                    console.log('okii');
            }
    });
   
                                    
                                           
                                            console.log('buton oui action!!');
                                        win.closeModal();
                                            console.log('buton oui après!!');
                                    }
                            },
                                    'Non': {
                                    classes: ' blue-gradient glossy ',
                                            click: function(win) {
                                            win.closeModal();
                                            }
                                    }
                            },
                            buttonsLowPadding: true
                    });
                    $('#calendar').fullCalendar('unselect');
            }
    });
   {# $('#haha').datetimepicker({
        inline: true,
        weeks:true,
        scrollInput:	true,
      
        
        onSelectDate: function(ct, inst) {
            var d = new Date(ct.dateFormat('Y-m-d H:i'));
            $('#calendar').fullCalendar('gotoDate', d);
        }
    }); #}
    $('#myPicker').datetimepicker({
    weeks: true,
            scrollInput: true,
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d',
            onSelectDate: function(ct, inst) {
            var d = new Date(ct.dateFormat('Y-m-d'));
                    $('#calendar').show();
                    $('#calendar').fullCalendar('gotoDate', d);
            }
    });
            
    });</script>
<script>
            function createRdv(a,b)
            {
            // on sécurise les données
            var maDate = encodeURIComponent(myDate);
                    var monStart = encodeURIComponent(b);
                    var monEnd = encodeURIComponent(a);
                    var monRdvType = encodeURIComponent($('#myRdvType').val());
                    var client = encodeURIComponent({{clientId}});
                    var medecin = encodeURIComponent($('#medecin').val());
   {# var telBox = encodeURIComponent($('#telBox').val());
    var adresse = encodeURIComponent($('#adresse').val());
    var email = encodeURIComponent($('#email').val());
    var note = encodeURIComponent($('#note').val());
    var password = encodeURIComponent($('#password').val());
    var generer = encodeURIComponent($('#generer').val());
#}
            // on vérifie que les variables ne sont pas vides
            console.log('befor success');
                    $.ajax({
                    url: "{{path('createRdvClient')}}", // on donne l'URL du fichier de traitement
                            type: "POST", // la requête est de type POST
                            data: "myDate=" + maDate + "&myStart=" + monStart + "&myEnd=" + monEnd + "&myRdvType=" + monRdvType + "&client=" + client + "&medecin=" + medecin, // et on envoie nos données
                            success: function(data) {
                            console.log('success');
                                    //console.log(data.nom);
                                    // $('#pff').append('<option value="' + data.id + '" >' + data.nom + ' ' + data.prenom + '</option>');
                                    //document.querySelector('#client [value="' + data.id + '"]').selected = true;
                                    //$('#pff').change();
                                    console.log('success fermer');
                            }
                    });
                    $('#modals').remove();
            }
</script>

<style>

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 2000px;
        margin: 0 auto;
    }

</style>

<h4>Nested tabs</h4>

<div class="side-tabs same-height">
    <ul class="tabs">
        <li class="active"><a href="#maintab-1">Voir mes rendez-vous</a></li>
        <li><a href="#maintab-2">Prendre un rendez-vous</a></li>

    </ul>

    <div class="tabs-content">

        <div id="maintab-1" class="with-padding">

            <div class="standard-tabs same-height inner-tabs">

                <ul class="tabs" >
                    <li class="active"><a href="#subtab-1">Passés<span class="count">{{countPasse}}</span></a>
                    </li>
                    <li><a href="#subtab-2">Futurs<span class="count green-gradient">{{countFutur}}</span></a></li>
                    <li><a href="#subtab-3">Tous<span class="count blue-gradient">{{tout}}</span></a></li>

                </ul>

                <div class="tabs-content">

                    <div id="subtab-1" class="with-padding"><ul class="bullet-list">
                                                                                    {%for clientEvent in clientEventsPasse%}
                                                                                    {%if clientEvent.annuler == 1%}
                            <li>{{clientEvent.libelle}} de {{clientEvent.datedebut|date('H:i')}} à {{clientEvent.end|date('H:i')}} <strong>Annulé</strong></li>
                                                                                    {%else%}
                            <li>{{clientEvent.libelle}} de {{clientEvent.datedebut|date('H:i')}} à {{clientEvent.end|date('H:i')}} </li>
                                                                                     {%endif%}
                                                                                    {%endfor%}
                        </ul>


                    </div>

                    <div id="subtab-2" class="with-padding">

                        <ul class="bullet-list">
                           {%for clientEvent in clientEventsFutur%}


					  {%if clientEvent.annuler == 1%}
                            <li>{{clientEvent.libelle}} de {{clientEvent.datedebut|date('H:i')}} à {{clientEvent.end|date('H:i')}} <strong>Annulé</strong></li>
                                                                                    {%else%}
                            <li>{{clientEvent.libelle}} de {{clientEvent.datedebut|date('H:i')}} à {{clientEvent.end|date('H:i')}} </li>
                                                                                     {%endif%}
                                                                                    {%endfor%}


                        </ul>



                    </div>

                    <div id="subtab-3" class="with-padding">

                        <ul class="bullet-list">
                           {%for clientEvent in findAll%}


					  {%if clientEvent.annuler == 1%}
                            <li>{{clientEvent.libelle}} de {{clientEvent.datedebut|date('H:i')}} à {{clientEvent.end|date('H:i')}} <strong>Annulé</strong></li>
                                                                                    {%else%}
                            <li>{{clientEvent.libelle}} de {{clientEvent.datedebut|date('H:i')}} à {{clientEvent.end|date('H:i')}} </li>
                                                                                     {%endif%}
                                                                                    {%endfor%}


                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <div id="maintab-2" class="with-padding"><br><br>

            <p>Rendez-vous avec : <select name="medecin" id="medecin" class="select expandable-list" style="width:40em" >
                    <option >--Choisir un médecin--</option>
                                {%for user in utilisateurs%}
                    <option value="{{user.id}}" >{{user.nom}} {{user.prenom}}</option>
                                {%endfor%}

                </select></p>
            <p>Type de Rendez-vous : <select name="myRdvType" id="myRdvType" class="select expandable-list" style="width:40em" >
                    <option >--Type de rendez-vous--</option>
                                {%for rdvType in rdvTypes%}
                    <option value="{{rdvType.id}}" >{{rdvType.libelle}}-{{rdvType.dureee|date('H:i')}}</option>
                                {%endfor%}

                </select></p>
            <p>A partir du :<input id="myPicker" type="text" class="input"></p>
            <div id="calendar"></div>
        </div>



    </div>
</div>

</div>

</div>

</div>



{#<input type="text" id="mySecretInput1">
<input type="text" id="mySecretInput2">
<input type="text" id="mySecretInput3">
<input type="text" id="mySecretInput4">

#}






{% endblock%}