{% extends "::base2.html.twig" %}

{% block content%}



<form method="post" action="{{path('clientRdv')}}">
<div style="margin: 150px">
<ul class="inputs large">
    <li><span class="icon-user mid-margin-right"></span><input type="text" name="login" id="login" value="" class="input-unstyled"  placeholder="Login" autocomplete="off"></li>
    <li><span class="icon-lock mid-margin-right"></span><input type="password" name="pass" id="pass" value="" class="input-unstyled" placeholder="Password" autocomplete="off"></li>
</ul>
<button style="margin-left:200px;width: 20em"  class="button" >se connecter</button>
</div>
</form>






{% endblock%}