{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends "::login_base.html.twig" %}

{% block fos_user_content_password  %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content_password %}
