{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="input-wrapper orange-gradient glossy" title="Oublié?">
    <p class="message">
       Si vous ne pouvez pas vous souvenir de votre mot de passe , remplissez l'entrée ci-dessous avec votre adresse e -mail et nous vous enverrons un nouveau:
        <span class="block-arrow"><span></span></span>
   </p>
    
    
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
      <ul class="inputs black-input large">
          <li>
              <span class="icon-mail mid-margin-right"></span>
             <input type="text" class="input-unstyled" autocomplete="off" id="username" name="username" required="required" placeholder="Identifiant ou E-Mail" /> 
          
          </li>
          
         </ul> 
   
    
        
        <button type="submit" class="button glossy full-width" >Envoyer un nouveau mot de passe</button>
 
</form>
