{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"class="input-wrapper orange-gradient glossy" title="Mot de passe oublié?">
{#<p class="message">#}
{#       Si vous ne pouvez pas vous souvenir de votre mot de passe , remplissez l'entrée ci-dessous avec votre adresse e -mail et nous vous enverrons un nouveau:#}
{#        <span class="block-arrow"><span></span></span>#}
{#</p>#}
<ul class="inputs black-input large">
    {{ form_widget(form) }}
 </ul>   
    <div>
        <button type="submit" class="button glossy full-width" >Envoyer un nouveau mot de passe</button>

    </div>
</form>
	