<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <p>Accédez à votre espace Web pour consulter / prendre des rendez-vous, à l'adresse :</p>
    <p align="center"><a href="#">Espace web</a></p>
    <br><br><p><u>Rappel des identifiants pour <b>{{ nom }}</b>:</u><br><br>
        - adresse email : {{ email }}<br><br>- mot de passe :{{ pw }}<br><br></p></div>
</body>
</html>