{% extends "::base.html.twig" %}
{% block mesScript %}
{{ parent() }}
<script>
    /*function openConfirm()
     {
     $.modal.confirm('Confirmez-vous vouloir supprimer ce mémo ?', function()
     {
     $.modal.alert('La supression est effectuée !');

     }, function()
     {
     $.modal.alert('La supression est annulée !');
     });
     };*/

    function openModal()
    {
        $.modal({
            title: 'Ajout du mémo',
            content: '<h4 class="green-gradient glossy">Le mémo est bien ajouté</h4>',
            width: 300,
            resizable: false,
            scrolling: false,
            actions: {
                'Fermer' : {
                    color: 'red',
                    click: function(win) { win.closeModal();}
                }
            },
            buttons: {
                'Annuler': {
                    classes:	'blue-gradient glossy',
                    click:		function(win) { win.closeModal();}
                }
            }
        });
    }
</script>
<script>
    /*var liste1;
    var valeur1;
    liste1 = document.getElementById("agenda_memobundle_general_type_clientFrequent");
    valeur1 = liste1.options[liste1.selectedIndex].text;*/
    function recup1(){
        var valeur1;
       return valeur1 = document.getElementById('agenda_memobundle_general_type_clientFrequent').options[document.getElementById('agenda_memobundle_general_type_clientFrequent').selectedIndex].text;
    }
</script>
<script>
    /*
    var liste2;
    var valeur2;
    liste2 = document.getElementById("agenda_memobundle_general_type_phraseUsuelle");
    valeur2 = liste2.options[liste2.selectedIndex].text;*/
    function recup2(){
       var valeur2;
       return valeur2 = document.getElementById('agenda_memobundle_general_type_phraseUsuelle').options[document.getElementById('agenda_memobundle_general_type_phraseUsuelle').selectedIndex].text;
    }
</script>
    <script>
        // Demo Iframe loading
        function openIframe()
        {
            $.modal({
                title: 'Client Fréquent',
                url: '{{path('agenda_client_create')}}',
                useIframe: true,
                width: 600,
                height: 600,
                buttons: {
                    'Enregistrer' : {
                        classes: 'blue-gradient glossy big full-width',
                        click: function(modal) { modal.closeModal(); }
                    }
            });
        }
    </script>
    <script>
        function openModal2()
        {
            $.modal({
                title: 'Modal window',
                content: '<form name="fomr12" method="get"> '
                + ' <div class="three-columns">'
                + ' </div>'
                + ' <div class="two-columns">'
                + '     <button type="submit" class="button blue-gradient" value="Ajout" name="enregistrer" onclick="envoyerDonnees()">Enregistrer</button>'
                + '  </div>'
                + '  <div class="tow-columns">'
                + '       <input style="width:20em" type="text" class="input" name="nom"  id="nom">'
                + '  </div>'
                + '  </div> </form>',
                buttonsAlign: 'center',
                resizable: true,
                width: 600,
                height: 600,
                buttons: {
                    'enregistrer': {
                        classes:	'blue-gradient glossy',
                        click:		function(win) { win.closeModal();}
                    }
                }
            });


        }
        </script>
    <script>
        function rafrecheSelect() {
            var length = document.form2.client.length;
            document.form2.client[length] = new Option("nouvelle entrée");
        }


    </script>
{% endblock %}
{% block content %}
<div class="with-padding">
    <div class="with-padding with-border">
        {{ form_start(form) }}
        <table class="table1 responsive-table">

            <thead>
            <tr>
                <th class="scratch-metal" scope="col" colspan="8" align="center">Gestion de mémos</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row" >
                    Phrase usuelle
                </th>
                <td colspan="2">{{ form_widget(form.phraseUsuelle) }}
                    <span class="help-inline">{{ form_errors(form.phraseUsuelle) }}</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Client Fréquent
                </th>
                <td colspan="2">
                    {{ form_widget(form.clientFrequent) }}
                    <span class="help-inline">{{ form_errors(form.clientFrequent) }}</span>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-plus-round"></span></span>
                        Ajout
                    </a>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-page-list"></span></span>
                        Histo
                    </a>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-quote"></span></span>
                        Notes
                    </a>
                </td>
                <td>
                    <a href="#" class="button" onclick="openIframe">
                        <span class="button-icon"><span class="icon-plus"></span></span>
                        Nouv
                    </a>
                </td>
                <td>
                    <a onclick="confirm(recup1())" href="#" class="button">
                        <span class="button-icon"><span class="icon-pencil"></span></span>
                        Modif
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Détail
                </th>
                <td colspan="8">
                    {{ form_widget(form.detail) }}
                    <span class="help-inline">{{ form_errors(form.detail) }}</span>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Date
                </th>
                <td colspan="2">
                <span class="input">
	                <span class="icon-calendar"></span>
	                    {{ form_widget(form.dateenregistrement) }}
                    <span class="help-inline">{{ form_errors(form.dateenregistrement) }}</span>
                </span>
                </td>
                <td>
                                                    <span class="button-group">
                                                        <a href="#" class="button">Aujourd'hui</a>
                                                    </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Prioritaire
                </th>
                <td colspan="2">
                    {{ form_widget(form.priorite) }}
                    <span class="help-inline">{{ form_errors(form.priorite) }}</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Alerter
                </th>
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox"> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox"> par Fax</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Etat
                </th>
                <td colspan="3">Considérer le mémo comme transmis: </td>
                <td>
                    {{ form_widget(form.status) }}
                    <span class="help-inline">{{ form_errors(form.status) }}</span>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td colspan="2">
                    {{ form_widget(form.Enregistrer) }}
                    <a href="{{ path('agenda_memo_listMemo') }}" class="button icon-replay-all">Annuler</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}
