{% extends "::base.html.twig" %}

{% block content %}
<div class="with-padding">
    <div class="with-padding with-border">
        {{ form_start(form) }}
        <table class="table1 responsive-table">

            <thead>
            <tr>
                <th class="scratch-metal" scope="col" colspan="8" align="center">Gestion de mémos</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row" >
                    Phrase usuelle
                </th>
                <td colspan="2">{{ form_widget(form.phraseUsuelle) }}
                    <span class="help-inline">{{ form_errors(form.phraseUsuelle) }}</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Client Fréquent
                </th>
                <td colspan="2">
                    {{ form_widget(form.clientFrequent) }}
                    <span class="help-inline">{{ form_errors(form.clientFrequent) }}</span>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-plus-round"></span></span>
                        Ajout
                    </a>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-page-list"></span></span>
                        Histo
                    </a>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-quote"></span></span>
                        Notes
                    </a>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-plus"></span></span>
                        Nouv
                    </a>
                </td>
                <td>
                    <a href="#" class="button">
                        <span class="button-icon"><span class="icon-pencil"></span></span>
                        Modif
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Détail
                </th>
                <td colspan="8">
                    {{ form_widget(form.detail) }}
                    <span class="help-inline">{{ form_errors(form.detail) }}</span>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Date
                </th>
                <td colspan="2">
                                                    <span class="input">
	<span class="icon-calendar"></span>
	                    {{ form_widget(form.dateenregistrement) }}
                    <span class="help-inline">{{ form_errors(form.dateenregistrement) }}</span>
</span>
                </td>
                <td>
                                                    <span class="button-group">
                                                        <a href="#" class="button">Aujourd'hui</a>
                                                    </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Prioritaire
                </th>
                <td colspan="2">
                    {{ form_widget(form.priorite) }}
                    <span class="help-inline">{{ form_errors(form.priorite) }}</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Alerter
                </th>
                {% if m.alert == 1 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox"> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox"> par Fax</td>
                {% elseif m.alert == 2 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox"> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox"> par Fax</td>
                {% elseif m.alert == 4 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox"> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox"> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% elseif m.alert == 3 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox"> par Fax</td>
                {% elseif m.alert == 5 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox"> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% elseif m.alert == 6 %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox"> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% else %}
                <td><input type="checkbox" name="alerte[]" value="1" class="styled checkbox" checked> par Mail</td>
                <td><input type="checkbox" name="alerte[]" value="2" class="styled checkbox" checked> par SMS</td>
                <td><input type="checkbox" name="alerte[]" value="4" class="styled checkbox" checked> par Fax</td>
                {% endif %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">
                    Etat
                </th>
                <td colspan="3">Considérer le mémo comme transmis: </td>
                <td>
                    {{ form_widget(form.status) }}
                    <span class="help-inline">{{ form_errors(form.status) }}</span>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td colspan="2">
                    {{ form_widget(form.Enregistrer) }}
                    <a href="{{ path('agenda_memo_listMemo') }}" class="button icon-replay-all">Annuler</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}
