{% extends "InstructionBundle:Client:layout.html.twig" %}
{% block content %}
     <form name="form1" action="{{path('client_create')}}" method="POST">
    <table class="table simple-table responsive-table responsive-table-on w " style="  height: 10em;" >
      {#  <thead ><tr><th scope="col" width="30%" colspan="2" class="align-center" >Annulation de rendez-vous</th></tr></thead>#}
        <tfoot>
            <tr>
                <td colspan="2"  class="align-center">
                    <div class="columns">
                        <div class="three-columns">
                        </div>
                        <div class="two-columns">
                            <button type="submit" class="button blue-gradient" value="Ajout" name="enregistrer" id="submit">Enregistrer</button>
                        </div>
                        <div class="tow-columns">
                            <button type="submit" class="button blue-gradient" value="Ajout" name="annuler">annuler</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>             
        <tbody>
            <tr>
                <td>Civilité </td>
                <td>
                    <div class="three-columns">
                        <select class="select expandable-list" style="width:15em" name="civilite" >
                            <option value="0" >--Civilité--</option>
                            <option value="1" >M</option>
                            <option value="2" >Mme</option>
                            <option value="3" >Mlle</option>
                            <option value="4" >Enfant</option>
                            <option value="5" >Dr</option>
                            <option value="6" >Pr</option>
                            <option value="7" >Me</option>
                        </select>
                    </div>      
                </td>
            </tr>
            <tr>
                <td>Nom</td>

                <td>
                    <input style="width:20em" type="text" class="input" name="nom">
                </td>
            </tr>
            <tr>
                <td>Prénom </td>

                <td>
                    <input style="width:20em" type="text" class="input" name="prenom">
                </td>



            </tr> <tr>
                <td >Tél. Domicile </td>

                <td>
                    <input style="width:20em" type="text" class="input" nam="telDomicile">
                </td>
            </tr>
            <tr>
                <td >Tél. Mob

                <td>
                    <input style="width:20em" type="text" class="input" name="telMob">
                </td>
            </tr>
            <tr>
                <td >Té. Pro </td>

                <td>
                    <input style="width:20em" type="text" class="input" name="telPro">
                </td>
            </tr>
            <tr>
                <td>Tél. Box </td>

                <td>
                    <input style="width:20em" type="text" class="input" name="telBox">
                </td>
            </tr>
            <tr>
                <td> Adresse </td>

                <td>
                    <textarea style="width: 20em"class="input" name="adresse"></textarea>
                </td>
            </tr>

            <tr>
                <td >Email </td>

                <td>
                    <input style="width:20em" type="text" class="input" name="email">
                </td>
            </tr>

            <tr>
                <td >Note  </td>

                <td>
                    <textarea style="width: 20em"class="input" name="note"></textarea>
                </td>
            </tr>


            <tr>
                <td  >Mot de passe Web :</td>

                <td>
                    <input style="width:20em" type="text" class="input" name="password">
                    <button type="submit" class="button  blue-gradient" name="Ajout" name="generer">Générer</button>

                </td>


        </tbody>    


    </table>
</form>
{% endblock  %}